Backup_2025-12-10/Cal.com Booking Updates.json
{
  "createdAt": "2025-12-05T18:18:45.314Z",
  "updatedAt": "2025-12-09T20:59:54.000Z",
  "id": "Z8Sg8gvOBsjZWGKB",
  "name": "Cal.com Booking Updates",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "events": [
          "BOOKING_CANCELLED",
          "BOOKING_CREATED",
          "BOOKING_RESCHEDULED",
          "MEETING_ENDED"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.calTrigger",
      "typeVersion": 2,
      "position": [
        -416,
        -16
      ],
      "id": "62f059ca-49b5-4538-a145-8b4fc09254d6",
      "name": "Cal.com Trigger",
      "webhookId": "4077afa7-b88e-45f0-827c-1355baad3620",
      "credentials": {
        "calApi": {
          "id": "EUv3ewUXAb0GzLlV",
          "name": "Vamsi Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79f66929-3483-41f2-accf-f14f991d5807",
              "name": "Client Name",
              "value": "={{ $json.attendees[0].name }}",
              "type": "string"
            },
            {
              "id": "319f561a-db86-4d4d-aed3-ee06eca6bfde",
              "name": "Client Email",
              "value": "={{ $json.attendees[0].email }}",
              "type": "string"
            },
            {
              "id": "353926b3-9490-43b1-b63d-6197d32db4cf",
              "name": "Website",
              "value": "={{ $json.responses.Website_name.value }}",
              "type": "string"
            },
            {
              "id": "d862683c-be74-4c7c-9790-5cdb58ba6220",
              "name": "Url",
              "value": "={{ $json.responses.URL.value }}",
              "type": "string"
            },
            {
              "id": "df7749a7-d034-4813-b44a-18b06d749935",
              "name": "Notes",
              "value": "={{ $json.responses.notes.value }}",
              "type": "string"
            },
            {
              "id": "24e1393c-aa1b-4ed4-9d80-0b6c324e074d",
              "name": "startTime",
              "value": "={{ new Date($json.startTime).toLocaleString(\"en-IN\", { timeZone: \"Asia/Kolkata\" }) }}",
              "type": "string"
            },
            {
              "id": "b3c3df5d-8bc8-4c6b-92eb-0bee8a5ecc0d",
              "name": "metadata.videoCallUrl",
              "value": "={{ $json.metadata.videoCallUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        -16
      ],
      "id": "c4183c95-7888-4e3d-90cc-0ce6462dc87a",
      "name": "Required Fields"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        816,
        -16
      ],
      "id": "acbd3e0e-9677-407f-ac0c-e627d91794c1",
      "name": "Merge1"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09PV3DSRJQ",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "text": "Hey",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1616,
        16
      ],
      "id": "c3e5f53a-9d68-4434-889b-b47135364097",
      "name": "Send a message3",
      "webhookId": "95ccdc9a-7d9f-4f63-a865-21013837b776",
      "credentials": {
        "slackOAuth2Api": {
          "id": "Rb7HyhAgq0iIU3TT",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "content": "# cal.com data entry and hot lead alert",
        "height": 864,
        "width": 2640,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -512,
        -400
      ],
      "typeVersion": 1,
      "id": "b637ee4a-19d0-44d8-9f7c-508d369b082f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.problem_summary }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1056,
        16
      ],
      "id": "e63dccb4-7007-4fe8-9dde-841ce3ff1e5c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04",
          "mode": "list",
          "cachedResultName": "Coaches",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Websiteforms",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Name",
              "lookupValue": "={{ $json['Client Name'] }}"
            },
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json['Client Email'] }}"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        400,
        -16
      ],
      "id": "984c13e3-a2ac-46f5-80a2-2df8fec46c2e",
      "name": "Gmail",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04",
          "mode": "list",
          "cachedResultName": "Coaches",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1573018970,
          "mode": "list",
          "cachedResultName": "Gmail",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit#gid=1573018970"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Name",
              "lookupValue": "={{ $json['Client Name'] }}"
            },
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json['Client Email'] }}"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        400,
        -176
      ],
      "id": "c6a20ddd-7345-4351-b4c6-56b4087afff8",
      "name": "Website",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04",
          "mode": "list",
          "cachedResultName": "Coaches",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1989579242,
          "mode": "list",
          "cachedResultName": "Linkedin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit#gid=1989579242"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Name",
              "lookupValue": "={{ $json['Client Name'] }}"
            },
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json['Client Email'] }}"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        400,
        304
      ],
      "id": "ad23aa40-8d0b-41e7-8459-7f4420b5ea01",
      "name": "Facebook DM",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04",
          "mode": "list",
          "cachedResultName": "Coaches",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 954419306,
          "mode": "list",
          "cachedResultName": "Instagram",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit#gid=954419306"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json['Client Email'] }}"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        400,
        144
      ],
      "id": "eb88f2a8-6b8c-493b-ae93-d4a084c8035c",
      "name": "Instagram DM",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        992,
        240
      ],
      "id": "e4393296-151a-44b2-b771-8a4c10f99b26",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Gq3qNdXZmlzVb7Jg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Cal.com Trigger').item.json.triggerEvent }}",
                    "rightValue": "BOOKING_CREATED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8d9c1f1c-fef0-4a3a-b031-be8319db02ef"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BOOKING_CREATED"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        0,
        -16
      ],
      "id": "612808f2-0f1d-457f-9660-9ea01a206ce1",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cae2a076-3ca6-4fe1-a059-4f02da2545b6",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1392,
        16
      ],
      "id": "b56994ad-258d-4ed5-853a-4f5511af994b",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Cal.com Trigger": {
      "main": [
        [
          {
            "node": "Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Required Fields": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Website": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook DM": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Instagram DM": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Website",
            "type": "main",
            "index": 0
          },
          {
            "node": "Instagram DM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Cal.com Trigger": [
      {
        "json": {
          "triggerEvent": "BOOKING_CREATED",
          "createdAt": "2025-10-31T20:03:32.499Z",
          "bookerUrl": "https://cal.com",
          "title": "30 Min Meeting between Lumoscale and v vamsi",
          "startTime": "2025-11-01T14:30:00Z",
          "endTime": "2025-11-01T15:00:00Z",
          "additionalNotes": "",
          "type": "30min",
          "description": "let’s chat and explore ideas",
          "eventTypeId": 3086845,
          "hideCalendarNotes": false,
          "hideCalendarEventDetails": false,
          "hideOrganizerEmail": false,
          "schedulingType": null,
          "seatsPerTimeSlot": null,
          "seatsShowAttendees": true,
          "seatsShowAvailabilityCount": true,
          "customReplyToEmail": null,
          "disableRescheduling": false,
          "disableCancelling": false,
          "organizer": {
            "id": 1696057,
            "name": "Lumoscale",
            "email": "vamsivk1465@gmail.com",
            "username": "vamsivk",
            "timeZone": "Asia/Calcutta",
            "language": {
              "locale": "en"
            },
            "timeFormat": "HH:mm",
            "utcOffset": 330
          },
          "attendees": [
            {
              "email": "vamsivk1465@gmail.com",
              "name": "v vamsi",
              "firstName": "",
              "lastName": "",
              "timeZone": "Asia/Calcutta",
              "language": {
                "locale": "en"
              },
              "utcOffset": 330
            }
          ],
          "customInputs": {},
          "responses": {
            "name": {
              "label": "your_name",
              "value": "v vamsi",
              "isHidden": false
            },
            "email": {
              "label": "email_address",
              "value": "vamsivk1465@gmail.com",
              "isHidden": false
            },
            "attendeePhoneNumber": {
              "label": "phone_number",
              "isHidden": true
            },
            "location": {
              "label": "location",
              "value": {
                "value": "integrations:google:meet",
                "optionValue": ""
              },
              "isHidden": false
            },
            "Company-name": {
              "label": "Company name",
              "isHidden": false
            },
            "Linkedin-website-instagram": {
              "label": "Linkedin or website or Instagram",
              "isHidden": false
            },
            "title": {
              "label": "what_is_this_meeting_about",
              "value": "NA",
              "isHidden": false
            },
            "notes": {
              "label": "additional_notes",
              "isHidden": true
            },
            "guests": {
              "label": "additional_guests",
              "value": [],
              "isHidden": false
            },
            "rescheduleReason": {
              "label": "reason_for_reschedule",
              "isHidden": false
            }
          },
          "userFieldsResponses": {
            "Company-name": {
              "label": "Company name",
              "isHidden": false
            },
            "Linkedin-website-instagram": {
              "label": "Linkedin or website or Instagram",
              "isHidden": false
            }
          },
          "location": "integrations:google:meet",
          "destinationCalendar": [
            {
              "id": 759961,
              "integration": "google_calendar",
              "externalId": "vamsivk1465@gmail.com",
              "primaryEmail": "vamsivk1465@gmail.com",
              "userId": 1696057,
              "eventTypeId": null,
              "credentialId": 1245761,
              "createdAt": "2025-08-17T16:26:13.617Z",
              "updatedAt": "2025-10-26T15:39:26.010Z",
              "delegationCredentialId": null,
              "domainWideDelegationCredentialId": null
            }
          ],
          "iCalUID": "dPBWPXygupB2AbsAtn2adM@Cal.com",
          "iCalSequence": 0,
          "requiresConfirmation": false,
          "oneTimePassword": null,
          "uid": "dPBWPXygupB2AbsAtn2adM",
          "conferenceData": {
            "createRequest": {
              "requestId": "8a0ce172-f69a-51b5-8481-93feb73d58e2"
            }
          },
          "appsStatus": [
            {
              "appName": "google-calendar",
              "type": "google_calendar",
              "success": 1,
              "failures": 0,
              "errors": [],
              "warnings": []
            },
            {
              "appName": "Google Meet",
              "type": "conferencing",
              "success": 1,
              "failures": 0,
              "errors": []
            }
          ],
          "eventTitle": "30 Min Meeting",
          "eventDescription": "let’s chat and explore ideas",
          "price": 0,
          "currency": "usd",
          "length": 30,
          "bookingId": 12321425,
          "metadata": {
            "videoCallUrl": "https://meet.google.com/gbu-uhea-xzv"
          },
          "status": "ACCEPTED"
        }
      }
    ]
  },
  "versionId": "82775eef-7786-4407-a38c-1b89fe037a33",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-12-05T18:18:45.321Z",
      "updatedAt": "2025-12-05T18:18:45.321Z",
      "role": "workflow:owner",
      "workflowId": "Z8Sg8gvOBsjZWGKB",
      "projectId": "VDyoKZWt3i5eAZSO"
    }
  ],
  "tags": []
}