Backup_2025-10-21/My workflow.json
{
  "createdAt": "2025-10-18T16:09:16.265Z",
  "updatedAt": "2025-10-19T09:06:00.000Z",
  "id": "9tJm5TsyAwE1Ko6f",
  "name": "My workflow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "instagram-dm",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -208,
        -16
      ],
      "id": "e021a8e5-8849-4ea8-97c0-1e5ca7f01ba9",
      "name": "Webhook",
      "webhookId": "8f3ef1ea-5ba5-454b-a611-f0a53df234fd"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "367c85af-78ac-4ae1-812f-0b4a56c3bca1",
              "name": "query['hub.mode']",
              "value": "={{ $json.query['hub.mode'] }}",
              "type": "string"
            },
            {
              "id": "3e589deb-9eb2-4b8d-a600-972764ac966e",
              "name": "query['hub.challenge']",
              "value": "={{ $json.query['hub.challenge'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -16
      ],
      "id": "d6308b25-e654-4ac3-a25e-bf671ca50437",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('Webhook').item.json.query['hub.challenge'] }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/plain"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        304,
        -16
      ],
      "id": "4dfd5159-f2a7-4c4e-91f3-344d917e6cba",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "282a00e4-c148-4662-9ab3-cada1c69f8e8",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-10-18T16:09:16.268Z",
      "updatedAt": "2025-10-18T16:09:16.268Z",
      "role": "workflow:owner",
      "workflowId": "9tJm5TsyAwE1Ko6f",
      "projectId": "VDyoKZWt3i5eAZSO"
    }
  ],
  "tags": []
}