Backup_2025-11-21/AI Video Creation Using Sora.json
{
  "createdAt": "2025-11-02T11:24:26.704Z",
  "updatedAt": "2025-11-17T15:43:36.000Z",
  "id": "yvmPhzXvlJPPuANL",
  "name": "AI Video Creation Using Sora",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "UGC",
        "formDescription": "High quality",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload product",
              "fieldType": "file",
              "acceptFileTypes": ".jpg, .png, .jpeg",
              "requiredField": true
            },
            {
              "fieldLabel": "Target Audience",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Women 18 to 25"
                  },
                  {
                    "option": "Women 25 to 40"
                  },
                  {
                    "option": "Men 18 to 30"
                  },
                  {
                    "option": "Men 30 to 45"
                  },
                  {
                    "option": "Skincare users"
                  },
                  {
                    "option": "Fitness users"
                  },
                  {
                    "option": "Fashion buyers"
                  },
                  {
                    "option": "People with dry skin"
                  },
                  {
                    "option": "People wanting to lose weight"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Tone of video",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Friendly and natur"
                  },
                  {
                    "option": "Aesthetic and calm"
                  },
                  {
                    "option": "High energy"
                  },
                  {
                    "option": "Storytelling vibe"
                  },
                  {
                    "option": "Review style"
                  },
                  {
                    "option": "Problem solving"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Focus point",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Hydration"
                  },
                  {
                    "option": "Lightweight"
                  },
                  {
                    "option": "Comfort"
                  },
                  {
                    "option": "Glow"
                  },
                  {
                    "option": "Fast results"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Description about script"
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -544,
        -176
      ],
      "id": "4eb5471d-01b8-4c27-bc27-7660dc2f37ec",
      "name": "On form submission",
      "webhookId": "ddad5b04-b2e7-493d-84fd-97c4a05f8678"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/videos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "sora-2"
            },
            {
              "name": "prompt",
              "value": "={{ $('AI Agent').item.json.output }}"
            },
            {
              "name": "seconds",
              "value": "12"
            },
            {
              "name": "size",
              "value": "720x1280"
            },
            {
              "parameterType": "formBinaryData",
              "name": "input_reference",
              "inputDataFieldName": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        -176
      ],
      "id": "458442c6-e85d-4b44-8739-faf483420ef5",
      "name": "HTTP Request",
      "credentials": {
        "openAiApi": {
          "id": "8cTwctTGeEBOJeUq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1120,
        -32
      ],
      "id": "69d0961f-38e9-43d7-afdc-a42413333a83",
      "name": "Wait",
      "webhookId": "ade9f152-dbf8-4821-87e3-a046e1195039"
    },
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/videos/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        160
      ],
      "id": "a8fdac8c-7cd6-4c10-b720-a1d598878f55",
      "name": "HTTP Request1",
      "credentials": {
        "openAiApi": {
          "id": "8cTwctTGeEBOJeUq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ab5c5501-4bd6-42c4-b19f-636dab5f917c",
              "leftValue": "={{ $json.status }}",
              "rightValue": "in_progress",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        320
      ],
      "id": "56154879-ae9d-4d02-bf8b-4d807d40442e",
      "name": "If"
    },
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/videos/{{ $json.id }}/content",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        496
      ],
      "id": "0795130f-c0a6-4c30-b9ac-5d2abd2d1b48",
      "name": "HTTP Request2",
      "credentials": {
        "openAiApi": {
          "id": "8cTwctTGeEBOJeUq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "resize",
        "dataPropertyName": "Upload_product",
        "width": 720,
        "height": 1280,
        "resizeOption": "ignoreAspectRatio",
        "options": {}
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -384,
        -176
      ],
      "id": "e8df3be4-0ce6-4c20-9bc7-b43711007392",
      "name": "Edit Image"
    },
    {
      "parameters": {
        "jsCode": "// Get all items from the \"Edit Image\" node\nconst editImageItems = $items(\"Edit Image\", 0, 0);\n\nif (!editImageItems || editImageItems.length === 0) {\n  throw new Error(\"No items found from Edit Image node\");\n}\n\n// Get the binary data from the edited image\nconst binary = editImageItems[0].binary?.data || editImageItems[0].binary?.image || editImageItems[0].binary?.Upload_product;\n\nif (!binary) {\n  throw new Error(\"No binary file found in Edit Image node output\");\n}\n\n// Return in proper structure for next node (like OpenAI Analyze Image)\nreturn [\n  {\n    json: {},\n    binary: {\n      image: binary\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        -176
      ],
      "id": "c92c2bce-8bc1-4ca5-84fa-ef841f87d4df",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Product description: {{ $json.content.parts[0].text }}\nTarget audience: {{ $('On form submission').item.json['Target Audience'] }}\nTone of video: {{ $('On form submission').item.json['Tone of video'] }}\nFocus point: {{ $('On form submission').item.json['Focus point'] }}\nDecription about script: {{ $('On form submission').item.json['Description about script'] }}\n\nCreate the final scene using all inputs above.",
        "options": {
          "systemMessage": "=Your role is StoryCreator. Your job is to read the user’s description and create a short UGC story for a twelve second video. Follow exactly what the user says. If they say one person, create a one person story. If they say two people are talking, create two people talking. If they say a group, create a group story. Never change the number of people.\n\nYou must always create:\n\n1. A quick setup  \n2. A problem or question  \n3. A natural reply  \n4. A product moment  \n5. A final reaction  \n\nKeep the dialogue very short, simple, and natural like TikTok or Reels. No long sentences.\n\nDo not add visuals in this node. Only output a small dialogue style story.\n\nExamples:\n\nUser description: “My skin is dry, two girls talking, one suggests serum.”\nStory:  \nGirl 1 touches her cheek and says her skin feels dry.  \nGirl 2 lifts the serum and says she started using it and it helped.  \nGirl 1 looks surprised and asks if she can try it.  \nGirl 2 smiles and nods.\n\nUser description: “Influencer doing a solo product demo.”\nStory:  \nCreator says she has been trying this serum for a week.  \nShe says it helped her glow.  \nShe picks up the bottle and mentions why she likes it.\n\nUser description: “Three friends and one shows product.”\nStory:  \nFriend 1 says her skin looks tired.  \nFriend 2 agrees.  \nFriend 3 shows the serum and says she has been using it.  \nFriends react with interest.\n\nAlways follow the user’s description. Never change the structure. Output the short story only.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        80,
        -176
      ],
      "id": "6b421ae9-ea9b-4a75-9180-ac494521ded9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-preview-05-20",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-preview-05-20"
        },
        "text": "Describe the product shown in the image. Include its category, color, texture, materials, size, shape, how it is used, who usually uses it, and the type of setting it fits in. Keep it concise but detailed enough for generating a realistic UGC scene.",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -176,
        -176
      ],
      "id": "94fd7efa-6cdb-4cca-b5bd-f3914b906964",
      "name": "Analyze image1",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "Gq3qNdXZmlzVb7Jg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1120,
        656
      ],
      "id": "8a0fec67-29fb-4ae8-b533-1ef8de0746fe",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pqwDBXzX6aAkWb7p",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "=Your role is SceneConverter. You take the story created in the previous node and turn it into one clear twelve second UGC video scene. You must show everything visually.\n\nYour job is to:\n1. Show the room  \n2. Show lighting  \n3. Show background objects  \n4. Show what each person is doing  \n5. Show how the product is held, opened, used, or shown  \n6. Show hand movements  \n7. Show facial reactions  \n8. Show small natural actions  \n9. Follow the story exactly  \n\nYou must not add new people or remove people. If the story has two people, you show two people. If it has three, you show three. If it is solo, show one person.\n\nConvert all dialogue into visual reactions. No spoken lines. No text.\n\nExamples of how to convert:\n\nStory: “Girl says her skin is dry, friend shows serum.”\nScene:  \nSoft morning light fills a bathroom as a girl touches her dry cheek. Her friend beside her lifts the amber serum bottle, opens the dropper, and applies a small drop to her own cheek. The first girl reacts with interest and leans closer. A mirror and skincare items sit on the counter. Soft ambient music plays.\n\nStory: “Influencer doing solo demo.”\nScene:  \nA girl stands near her vanity in warm indoor light. She picks up the serum bottle, opens the dropper, and applies two drops to her cheek with gentle taps. She looks at herself in the mirror with a small smile. Light music plays.\n\nStory: “Three friends and one shows product.”\nScene:  \nThree girls sit on a couch in a softly lit living room. One lifts the serum bottle, shows the texture on her fingertip, and applies it to her cheek. The other two lean in with interest and react with smiles. Soft music plays.\n\nDo not use camera words like angle or shot. Output one continuous scene description with an audio suggestion at the end."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        432,
        -176
      ],
      "id": "5fa5b4cf-22f5-44c7-8b6c-b4ff1e8348bb",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        48,
        64
      ],
      "id": "395bedb5-e017-49d1-b168-1dc1b2939b05",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Gq3qNdXZmlzVb7Jg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        384,
        80
      ],
      "id": "51067bae-28bd-4a61-afd3-a8e9f0958cee",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "Gq3qNdXZmlzVb7Jg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image": {
      "main": [
        [
          {
            "node": "Analyze image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "9d99b221-973c-4432-8ad3-addf12caa02e",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-11-02T11:24:26.707Z",
      "updatedAt": "2025-11-02T11:24:26.707Z",
      "role": "workflow:owner",
      "workflowId": "yvmPhzXvlJPPuANL",
      "projectId": "VDyoKZWt3i5eAZSO"
    }
  ],
  "tags": []
}