Backup_2025-11-21/LinkedIn Content Generator Workflow.json
{
  "createdAt": "2025-10-09T16:49:10.649Z",
  "updatedAt": "2025-11-03T19:48:42.000Z",
  "id": "eiMx9KWkLUEHR00I",
  "name": "LinkedIn Content Generator Workflow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -800,
        -176
      ],
      "id": "432f54f0-fa80-4195-98a3-cf0fd90e5346",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -816,
        -32
      ],
      "id": "7fafa2ea-9b55-4bfa-9d44-674562d313a3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1YfOcrr6FMaSFtXafdhirVZTxNY0KElmH6b0sJsjrWIg",
          "mode": "list",
          "cachedResultName": "Linkedin Content Generator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YfOcrr6FMaSFtXafdhirVZTxNY0KElmH6b0sJsjrWIg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YfOcrr6FMaSFtXafdhirVZTxNY0KElmH6b0sJsjrWIg/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "To Do"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -544,
        -80
      ],
      "id": "551aa863-3b0f-488b-bd84-0986a40fcb8b",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.Topic }}\",\n  \"auto_parameters\": false,\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 3,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": true,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_favicon\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        -80
      ],
      "id": "21e6995f-86ae-43b8-8083-7cfdd473e600",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b1b9e93-b4e7-42b0-84e7-1e9b403526b5",
              "name": "Topic",
              "value": "={{ $json.Topic }}",
              "type": "string"
            },
            {
              "id": "4ab53df8-4e9a-4a21-9f45-f8b40a1fe058",
              "name": "Status",
              "value": "={{ $json.Status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        -80
      ],
      "id": "408b421b-31fd-4545-8bec-79d92befaadd",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        96,
        -96
      ],
      "id": "a6560891-6a7d-4200-bea7-072001905665",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1d13353a-efeb-40ba-b411-baaadb367184",
              "leftValue": "={{ $json.Topic }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -128,
        -80
      ],
      "id": "5c0cde77-24bd-459e-9684-bb2496a480db",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Article 1: {{ $json.results[0].content }}\nArticle 2: {{ $json.results[1].content }}\nArticle 3: {{ $json.results[2].content }}",
        "options": {
          "systemMessage": "You are a professional LinkedIn content creator AI. Your task is to analyze up to 3 provided articles and generate one concise, professional, and engaging LinkedIn post specifically targeting B2B audiences such as lawyers, real estate professionals, SaaS founders, healthcare providers, coaches, and consultants.\n\nGuidelines:\n\nTone & Style: Inspiring, authoritative, professional, and easy to read. Write in a way that resonates with B2B decision-makers.\n\nContent:\n\nSummarize the key insights or lessons from the articles.\n\nConnect them in a cohesive way to create a single narrative.\n\nFocus on actionable value, thought leadership, or business growth insights relevant to B2B professionals.\n\nFormatting:\n\nKeep the post under 250 words.\n\nUse line breaks for readability.\n\nInclude relevant emojis naturally to emphasize points.\n\nAdd relevant hashtags at the end (5–8 max) for engagement.\n\nDo Not: Copy entire sentences from the articles verbatim; rephrase and synthesize.\n\nOutput Structure:\n\nHook/Opening: Attention-grabbing statement or question tailored to B2B professionals.\n\nCore Insight: Summarized lesson from the articles relevant to B2B growth, efficiency, or strategy.\n\nActionable Takeaway: Practical advice or reflection for business improvement.\n\nClosing: Inspirational ending with a subtle call to engage (comment/share).\n\nHashtags & emojis: End with relevant, industry-specific hashtags.\n\nInstruction: Always create a post that feels authentic, professional, and inspiring while reflecting the combined insights of the provided articles, with a focus on delivering real value to B2B business audiences."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        592,
        -80
      ],
      "id": "5e0625ef-813b-497f-9662-ba0043daec10",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        464,
        128
      ],
      "id": "df9e4240-8abb-4d60-948a-f545cd3478d6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Gq3qNdXZmlzVb7Jg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1YfOcrr6FMaSFtXafdhirVZTxNY0KElmH6b0sJsjrWIg",
          "mode": "list",
          "cachedResultName": "Linkedin Content Generator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YfOcrr6FMaSFtXafdhirVZTxNY0KElmH6b0sJsjrWIg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YfOcrr6FMaSFtXafdhirVZTxNY0KElmH6b0sJsjrWIg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $('Loop Over Items').item.json.Topic }}",
            "Status": "Completed",
            "ontent": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Topic"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ontent",
              "displayName": "ontent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        -80
      ],
      "id": "0ff352ca-b26d-46b9-bd54-9fd4eaaecf0d",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "HTTP Request": [
      {
        "json": {
          "query": "Ai Videos",
          "follow_up_questions": null,
          "answer": "AI video generators create videos from text, images, or other inputs. They often offer free trials and commercial use options. Popular tools include DeeVid AI and Invideo AI.",
          "images": [],
          "results": [
            {
              "url": "https://deevid.ai/",
              "title": "AI Video Generator: Create Amazing Videos with AI",
              "content": "AI Video Generator: [Try DeeVid AI](https://deevid.ai/image-to-video) Text to Video AI Image to Video AI [Try DeeVid AI](https://deevid.ai/image-to-video) [Try DeeVid AI](https://deevid.ai/video-to-video) [Try DeeVid AI](https://deevid.ai/image-to-video) Is there a free trial of AI Video Generator? How long does it take to generate an AI video? How do I start with the AI Video Generator? Getting started with the AI Video Generator is easy and straightforward. After that, the AI will quickly process your request and generate a high-quality video. Can I use AI-generated videos for commercial purposes? [Try it Now for Free](https://deevid.ai/text-to-video) *   [AI Video Generator](https://deevid.ai/) *   [Image to Video](https://deevid.ai/image-to-video) *   [Text to Video](https://deevid.ai/text-to-video) *   [Video to Video](https://deevid.ai/video-to-video) *   [Consistent Character Video](https://deevid.ai/consistent-character-video) [Download on the App Store](https://apps.apple.com/app/deevid-ai-video-generator/id6748743457)[Get it on Google Play](https://play.google.com/store/apps/details?id=ai.deevid.aivideogenerator)",
              "score": 0.6864757,
              "raw_content": "AI Video Generator: Create Amazing Videos with AI\n\n===============\n\n[![Image 3: DeeVid AI](https://deevid.ai/_next/image?url=%2Ffavicon_io%2Fandroid-chrome-192x192.png&w=64&q=75)DeeVid AI](https://deevid.ai/)\n\n[Image to Video](https://deevid.ai/image-to-video)[Text to Video](https://deevid.ai/text-to-video)[Video to Video](https://deevid.ai/video-to-video)\n\nAI Effect\n\nAI Effect\n\n[Ghibli AI Generator](https://deevid.ai/template/ghibli-ai-generator)[AI Kissing](https://deevid.ai/template/ai-kissing)[AI Hug](https://deevid.ai/template/ai-hug)[AI Face Punch Effect](https://deevid.ai/template/ai-face-punch)[AI Fin‑tastic Mermaid Effect](https://deevid.ai/template/ai-fintastic-mermaid)[AI Eye Zoom Effect](https://deevid.ai/template/ai-eye-zoom)[AI Bikini Generator](https://deevid.ai/template/ai-bikini)[AI Jesus Hug Effect](https://deevid.ai/template/jesus-hug-effect)[AI 360° Microwave Effect](https://deevid.ai/template/360-microwave-effect)[AI Group Dance Generator](https://deevid.ai/template/ai-group-dance)[AI Handshake](https://deevid.ai/template/ai-handshake)[AI Squish Effect](https://deevid.ai/template/ai-squish-effect)\n\n[View More](https://deevid.ai/template)\n\n[Pricing](https://deevid.ai/pricing)\n\nLogin\n\nStart For Free\n\nAI Video Generator:\n\nCreate Amazing Videos with AI\n==================================================\n\nTurn your text, images, or video prompts into high-quality videos in simple prompts.\n\nNo technical skills required.\n\n[Try DeeVid AI](https://deevid.ai/image-to-video)\n\nWe Explore Every Possibility of AI Video Creation\n-------------------------------------------------\n\nText to Video AI\n----------------\n\nTransform written content into captivating videos with ease. Simply input your text prompt, and let the AI generate a fully-realized video that brings your words to life.\n\nPrompt\nA dreamlike beachside photoshoot at dawn, with the model silhouetted against crashing waves. Her flowing scarf dances in the wind, while the soft pink and purple hues of the sky reflect on the wet sand. The camera slowly circles her for a cinematic feel.\n\nImage to Video AI\n-----------------\n\nTurn still images into animated video clips. Whether you're using a single image or a series of images, our AI can animate them, adding movement, transitions, and effects to create engaging video content.\n\n[Try DeeVid AI](https://deevid.ai/image-to-video)\n\nOriginal image![Image 4: image to video](https://deevid.ai/_next/image?url=https%3A%2F%2Fsp.deevid.ai%2Fstorage%2Fv1%2Fobject%2Fpublic%2Fuser-image%2F1737365140320-203127859.jpg&w=3840&q=75)\n\nPrompt\n\nA woman elegantly puts on a pair of stylish glasses with red frames\n\nvideo\n\nOriginal image![Image 5: image to video](https://deevid.ai/_next/image?url=https%3A%2F%2Fsp.deevid.ai%2Fstorage%2Fv1%2Fobject%2Fpublic%2Fuser-image%2F1737365259507-99321946.jpg&w=3840&q=75)\n\nPrompt\n\nA couple playing hand in hand in the sea of flowers.\n\nvideo\n\nOriginal image![Image 6: image to video](https://deevid.ai/_next/image?url=https%3A%2F%2Fsp.deevid.ai%2Fstorage%2Fv1%2Fobject%2Fpublic%2Fuser-image%2F1737365328167-492608164.jpg&w=3840&q=75)\n\nPrompt\n\nAutomated generation without prompts\n\nvideo\n\nOriginal image![Image 7: image to video](https://deevid.ai/_next/image?url=https%3A%2F%2Fsp.deevid.ai%2Fstorage%2Fv1%2Fobject%2Fpublic%2Fuser-image%2F1737365374100-636403154.jpg&w=3840&q=75)\n\nPrompt\n\nThe car is driving at high speed, and the surrounding environment is flying by quickly.\n\nvideo\n\nOriginal image![Image 8: image to video](https://deevid.ai/_next/image?url=https%3A%2F%2Fsp.deevid.ai%2Fstorage%2Fv1%2Fobject%2Fpublic%2Fuser-image%2F1737365408203-203951127.jpg&w=3840&q=75)\n\nPrompt\n\nThe two people in the picture high-fived to congratulate.orTwo people hug each other in the picture.\n\nvideo\n\nVideo to Video AI\n-----------------\n\nEasily transform your existing videos into entirely new styles and formats. Add special effects, change the overall mood, or convert a video into a different genre, AI Video Generator makes it simple.\n\n[Try DeeVid AI](https://deevid.ai/video-to-video)\n\n### Popular Video Templates\n\nA range of fun and attractive video templates wait for you to explore. From heartwarming moments like AI-generated kisses or hugs to festive greetings like AI Santa videos, you can easily create memorable content for your audience.\n\n[Try DeeVid AI](https://deevid.ai/template)\n\nSuper LLM Makes the Best AI AI Video Generator\n----------------------------------------------\n\n### Fast Video Generation\n\nExperience the speed of AI-powered video creation. Generate videos in one minute, saving you time and effort compared to traditional video editing methods.\n\n### High-Quality Video Output\n\nWe employ advanced algorithms to ensure smooth animations, transitions, and effects.Consistent, make high-quality videos that stand out on any platform.\n\n### Easy to Operate\n\nYou don't need to be a video editor to create stunning videos! The user-friendly interface is designed for ease of use, allowing anyone—from beginners to professionals—to generate videos with minimal effort.\n\n[Try DeeVid AI](https://deevid.ai/image-to-video)\n\nYour Safety, Our Priority\n-------------------------\n\n*   **Data Privacy:** Your images and videos are securely processed. We do not share your data with any third parties, ensuring your intellectual property is protected.\n*   **Safe Content Creation:** We detect and prevent the creation of harmful or inappropriate content. You can trust that all videos generated are safe for all ages.\n\nFAQ\n---\n\nWhat types of input can I use to create videos?\n\nYou can provide text, images, or video prompts. The AI will generate a video based on the input provided.\n\nCan I customize the video output?\n\nYes, you can personalize your video with different styles, effects, and formats to suit your needs.\n\nIs there a free trial of AI Video Generator?\n\nYes, we offer a free trial so you can test the AI Video Generator before committing to a plan.\n\nHow long does it take to generate an AI video?\n\nTypically, it takes just one minute to generate a video, depending on the complexity of your input.\n\nHow secure is my data here?\n\nWe take privacy seriously and ensure that all data is encrypted and handled according to strict privacy policies.\n\nHow do I start with the AI Video Generator?\n\nGetting started with the AI Video Generator is easy and straightforward. Simply sign up for a free trial or log in if you already have an account. Once you're logged in, you'll be prompted to input your text, image, or video prompt. After that, the AI will quickly process your request and generate a high-quality video. Customize it further with styles and effects, then download or share your video directly.\n\nCan I use AI-generated videos for commercial purposes?\n\nYes, you can use AI-generated videos for commercial purposes. Whether you're creating videos for advertising, social media marketing, or promotional content, our platform provides you with the necessary rights to use your generated videos commercially. However, please review our terms of service for any specific usage guidelines or restrictions related to intellectual property and copyright to ensure compliance with local regulations.\n\n![Image 9: Bring Your Ideas to Life Today](https://deevid.ai/_next/image?url=%2Fimages%2Fhome%2Fcta-mask.png&w=3840&q=75)\n\nUnlock Limitless Creativity!\n\nEasy to use and fast video generation. Start creating AI-powered videos today.\n\n[Try it Now for Free](https://deevid.ai/text-to-video)\n\nVideo Tools\n\n*   [AI Video Generator](https://deevid.ai/)\n*   [Image to Video](https://deevid.ai/image-to-video)\n*   [Text to Video](https://deevid.ai/text-to-video)\n*   [Video to Video](https://deevid.ai/video-to-video)\n*   [AI Ad Generator](https://deevid.ai/ai-ad)\n*   [Consistent Character Video](https://deevid.ai/consistent-character-video)\n*   [AI Animation Generator](https://deevid.ai/ai-animation-generator)\n*   [AI Image Generator and Editor](https://deevid.ai/ai-image-generator)\n\nVideo Effects\n\n*   [Ghibli AI Generator](https://deevid.ai/ghibli-ai-generator)\n*   [AI Kissing](https://deevid.ai/template/ai-kissing)\n*   [AI Hug](https://deevid.ai/template/ai-hug)\n*   [AI Face Punch Effect](https://deevid.ai/template/ai-face-punch)\n*   [AI Fin‑tastic Mermaid Effect](https://deevid.ai/template/ai-fintastic-mermaid)\n*   [AI Eye Zoom Effect](https://deevid.ai/template/ai-eye-zoom)\n*   [More Effects](https://deevid.ai/template)\n\nCompany\n\n*   [Contact Us](https://deevid.ai/contact-us)\n*   [Pricing](https://deevid.ai/pricing)\n*   [Privacy Policy](https://deevid.ai/privacy-policy)\n*   [Terms and Conditions](https://deevid.ai/terms)\n*   [Refund and Fraud Policy](https://deevid.ai/refund-and-fraud-policy)\n*   [Blog](https://deevid.ai/blog)\n*   [Affiliate](https://deevid.ai/affiliate)\n\nGet the App\n\n[Download on the App Store](https://apps.apple.com/app/deevid-ai-video-generator/id6748743457)[Get it on Google Play](https://play.google.com/store/apps/details?id=ai.deevid.aivideogenerator)\n\nStay Tuned\n\n[](https://discord.gg/K6VEQqRn6T)[](https://x.com/Deevidofficial)[](https://www.youtube.com/@Deevidofficial)\n\n© 2025 DeeVid AI. All rights reserved.\n\n![Image 10](https://bat.bing.com/action/0?ti=343211086&Ver=2&mid=4bca69f0-f5e4-48e1-b266-3b321c1e1f8a&bo=3&sid=093689b0a2dc11f0adc8cbc11f79f3ab&vid=09369ee0a2dc11f08c18f1fc3b251e34&vids=0&msclkid=N&pi=918639831&lg=en-US&sw=800&sh=600&sc=24&tl=AI%20Video%20Generator%3A%20Create%20Amazing%20Videos%20with%20AI&p=https%3A%2F%2Fdeevid.ai%2F&r=&lt=626&evt=pageLoad&sv=2&asc=G&cdb=AQAQ&rn=580500)"
            },
            {
              "url": "https://invideo.io/make/ai-video-generator/",
              "title": "Free AI Video Generator | Invideo AI",
              "content": "Free AI Video Generator | Invideo AI [![Image 4: company](https://web-assets.invideo.io/landing-pages/prod/homepage/rating.svg) Product of the month ![Image 5: image](https://web-assets.invideo.io/landing-pages/prod/homepage/product-hunt.svg)](https://www.producthunt.com/posts/invideo/reviews) [4.8 ![Image 6: image](https://web-assets.invideo.io/landing-pages/prod/homepage/captera.svg)](https://www.capterra.com/p/180680/InVideo/) ![Image 8](https://assets-static.invideo.io/images/large/Text_to_Video_e1c640e46c.webp) ![Image 21: image](https://web-assets.invideo.io/landing-pages/prod/homepage/voiceover-graphic.webp) ![Image 22: image](https://web-assets.invideo.io/landing-pages/prod/homepage/collaborate-ai-3x.webp) How to generate videos with Invideo AI? How does Invideo AI generate videos automatically? Invideo AI is one of the best AI video generators. ![Image 31: Video Poster](https://assets-static.invideo.io/images/large/x4_VJ_7_D_Sk_Oqg_HD_067087ad0b.webp) [![Image 33: how-to-make-youtube-shorts](https://assets-static.invideo.io/images/large/blog_thumbn_Y_Tshorts_420383f067.webp) How To Make YouTube Shorts: Create YT Shorts Using AI #howtoguides#youtube](https://invideo.io/blog/how-to-make-youtube-shorts/) [![Image 35: how-to-make-ai-videos](https://assets-static.invideo.io/images/large/Thumbnail_13_7172edc3f5.webp) How to Generate AI Videos Using invideo AI #howtoguides#youtube](https://invideo.io/blog/how-to-make-ai-videos/) [![Image 39: how-to-do-ai-voice-cloning](https://assets-static.invideo.io/images/large/You_Tube_Script_with_AI_63582bdba3.webp) How to Do Voice Cloning Using invideo AI #howtoguides#youtube](https://invideo.io/blog/how-to-do-ai-voice-cloning/) [![Image 40: best-ai-video-generators](https://assets-static.invideo.io/images/large/Thumbnail_18_21a453ff5d.webp) Discover the Best AI Video Generators for 2025 #marketingtools#youtube](https://invideo.io/blog/best-ai-video-generators/) [Marketing Templates](https://invideo.io/templates/marketing-videos/)[Intro Templates](https://invideo.io/templates/intro-videos/)[Real Estate Templates](https://invideo.io/templates/real-estate-videos/)[Advertisement Templates](https://invideo.io/templates/advertisement-videos/)[Social Media Templates](https://invideo.io/templates/social-media-videos/)[View all![Image 44: angle right](https://web-assets.invideo.io/common/prod/header-icons/angle-right.svg)](https://invideo.io/templates/)",
              "score": 0.6016175,
              "raw_content": "Free AI Video Generator | Invideo AI\n\n===============\n\n[](https://invideo.io/)\n\ninvideo AI![Image 1: angle bottom](https://web-assets.invideo.io/common/prod/header-icons/angle-bottom-v1.svg)invideo Studio![Image 2: angle bottom](https://web-assets.invideo.io/common/prod/header-icons/angle-bottom-v1.svg)Help![Image 3: angle bottom](https://web-assets.invideo.io/common/prod/header-icons/angle-bottom-v1.svg)[Community](https://discord.gg/invideo-ai)[Pricing](https://invideo.io/pricing/)\n\nLogin Sign up\n\nGenerate AI videos from simple text prompts\n===========================================\n\nPrompt your video idea and our Al video generator writes the script, adds visuals generated with AI, adds voiceovers, subtitles, music, etc. Create publish-worthy videos for any topic.\n\nCreate now\n\n25M\n\nCustomers\n\n190 countries\n\n[![Image 4: company](https://web-assets.invideo.io/landing-pages/prod/homepage/rating.svg) Product of the month ![Image 5: image](https://web-assets.invideo.io/landing-pages/prod/homepage/product-hunt.svg)](https://www.producthunt.com/posts/invideo/reviews)\n\n[4.8 ![Image 6: image](https://web-assets.invideo.io/landing-pages/prod/homepage/captera.svg)](https://www.capterra.com/p/180680/InVideo/)\n\n[4.8 ![Image 7: image](https://web-assets.invideo.io/landing-pages/prod/homepage/grating.svg)](https://www.g2.com/products/invideo/reviews)\n\nAI video generator\n------------------\n\n### Generate Al videos without a learning curve\n\nType your idea, add the specifics—like length, platform, voiceover accent, and get AI-generated high-quality videos that put your ideas into focus. \n\nCreate now\n\n![Image 8](https://assets-static.invideo.io/images/large/Text_to_Video_e1c640e46c.webp)\n\n### Edit videos with a text prompt\n\nEdit your videos with the magic box on Invideo AI. Give simple commands like change the accent, delete scenes or add an funny intro and watch your videos come to life.\n\nCreate now\n\n![Image 9](https://assets-static.invideo.io/images/large/Export_0311407e78.webp)\n\n### AI generated images & videos\n\nCreate stories with AI-generated images and videos on Invideo AI v3.0 without juggling multiple AI video generator tools. \n\nCreate now\n\n![Image 10](https://assets-static.invideo.io/images/large/Export_1_31b7bc3f24.webp)\n\nThe most advanced Al video generator\n------------------------------------\n\n### Al powered scripts to save time\n\nMake engaging videos with AI-generated visuals. Use video prompts to tailor scripts for any video topic, saving hours of valuable time and taking the hassle out of video creation. \n\n### Realistic AI Voices\n\nBrings your videos to life by grasping the emotion behind every word, adding human-sounding Al voiceovers in over 50 languages.\n\n### Set yourself up for success\n\nPlan and execute a video content strategy that will significantly increase your exposure, awareness and engagement. Publish videos frequently with Al to keep your viewers engaged.\n\n![Image 11: logo](https://invideo.io/web-landing-pages-assets/_next/image/?url=https://web-assets.invideo.io/landing-pages/prod/homepage/testimonials/AnkushC.png&w=256&q=70)\n\n“Possibly the best tool for video making”Ankush C.\n\nCapterra\n\n![Image 12: logo](https://invideo.io/web-landing-pages-assets/_next/image/?url=https://web-assets.invideo.io/landing-pages/prod/homepage/testimonials/GayaneY.png&w=256&q=70)\n\n“The best for social media”Gayane Y.\n\nCapterra\n\nF\n\n“Create video like a pro”Fausto P.\n\nCapterra\n\nJ\n\n“Amazing product and world beating service”Jonathan C. J.\n\nD\n\n“Must-have marketing tool”Deb McDiarmid\n\nTrustpilot\n\n![Image 13: logo](https://invideo.io/web-landing-pages-assets/_next/image/?url=https://web-assets.invideo.io/landing-pages/prod/homepage/testimonials/FionaW.png&w=256&q=70)\n\n“A Fun & Easy Video Creation Software”Fiona W.\n\nCapterra\n\n![Image 14: logo](https://invideo.io/web-landing-pages-assets/_next/image/?url=https://web-assets.invideo.io/landing-pages/prod/homepage/testimonials/HoangPhan.png&w=256&q=70)\n\n“Video app of my dreams”Hoang Phan\n\nTrustpilot\n\nJ\n\n“Finally, videos made easy with superb support.”Juan C.\n\nCapterra\n\nS\n\n“This is what video creation should be!”Sarah P.\n\nCapterra\n\nH\n\n“Making everyone a video producer”Hetvi K.\n\nCapterra\n\n![Image 15: logo](https://invideo.io/web-landing-pages-assets/_next/image/?url=https://web-assets.invideo.io/landing-pages/prod/homepage/testimonials/JasonZ.png&w=256&q=70)\n\n“Top-tier video content creation tool”Jason Z.\n\nCapterra\n\n![Image 16: prev-button](https://web-assets.invideo.io/landing-pages/prod/homepage/previous-arrow.svg)![Image 17: next-button](https://web-assets.invideo.io/landing-pages/prod/homepage/next-arrow.svg)\n\nFeatures of AI video generator\n------------------------------\n\n### Online AI video generator\n\nExplore the AI video generator\n\n### 16 million+ stock photos and videos\n\n![Image 18: image](https://web-assets.invideo.io/landing-pages/prod/homepage/Istock-logo.svg)\n\n![Image 19: image](https://web-assets.invideo.io/landing-pages/prod/homepage/Storyblocks-logo.svg)\n\n![Image 20: logo](https://web-assets.invideo.io/landing-pages/prod/homepage/Shutterstock-logo.svg)\n\n### AI video generator\n\nAI visuals Edit music Translate\n\n### Human-sounding voiceovers to bring your videos to life\n\n![Image 21: image](https://web-assets.invideo.io/landing-pages/prod/homepage/voiceover-graphic.webp)\n\n### Collaborate in real-time with multiplayer editing\n\n![Image 22: image](https://web-assets.invideo.io/landing-pages/prod/homepage/collaborate-ai-3x.webp)\n\nComing soon\n\nThe right plans,for the right price\n-----------------------------------\n\nMonthly Yearly · upto 20% off\n\nFree\n\n$0\n\n10 Video mins and 1 AI credit per week, 1 Express avatar, 4 Exports per week with invideo watermark.\n\nNo access to generative features.\n\nTry for free\n\nEnterprise\n\nCustom\n\nCustom solutions for large organizations. Advanced security and flexible pricing based on your needs.\n\nContact us\n\nCompare all features\n\nHow to generate videos with Invideo AI?\n---------------------------------------\n\n### Prompt\n\nChoose a workflow, fill out the details and generate your prompt! \n\n1\n\n### Generate\n\nSelect your audience, platform and appearance and click 'Generate now'. \n\n2\n\n### Edit\n\nUse edit Magic Box to make edits to your video. Use commands like, delete scene, change voiceover, accent, etc.\n\n3\n\n### Publish\n\nExport the video & share it with your audience. \n\n4\n\n![Image 23: prev-button](https://web-assets.invideo.io/landing-pages/prod/homepage/previous-arrow.svg)![Image 24: next-button](https://web-assets.invideo.io/landing-pages/prod/homepage/next-arrow.svg)\n\nWant to know more?\n------------------\n\nHow does Invideo AI generate videos automatically?\n\n![Image 25: collapse](https://web-assets.invideo.io/common/prod/icons/rounded-close.svg)\n\nInvideo AI uses powerful AI models to generate scripts from your prompts. It then sifts through 16m+ stock images and videos and selects relevant content for your video. Additionally, it also produces voiceover for the script that was submitted while adding background music and other elements like transitions that it deems fit for your prompt.\n\nWhich is the best AI video generator?\n\n![Image 26: collapse](https://web-assets.invideo.io/common/prod/icons/rounded-close.svg)\n\nInvideo AI is one of the best AI video generators. You can use it to create AI videos by just entering text prompts.\n\nWhat kind of voices does your AI video generator tool provide? \n\n![Image 27: collapse](https://web-assets.invideo.io/common/prod/icons/rounded-close.svg)\n\nYou can choose from male or female human voices using our AI video generator, you can even select a language and an accent.\n\nIs Invideo AI beginner-friendly? \n\n![Image 28: collapse](https://web-assets.invideo.io/common/prod/icons/rounded-close.svg)\n\nAbsolutely! Anyone from a beginner to an expert can create videos on Invideo AI.You can create explainer videos, marketing videos, promo videos & many more using the free online AI video generator by Invideo AI.\n\nDo I need to download any software to use the AI video generator by Invideo AI?\n\n![Image 29: collapse](https://web-assets.invideo.io/common/prod/icons/rounded-close.svg)\n\nNo downloads are needed to generate videos using Invideo AI. It is a web-based tool, and it works well on all popular browsers such as Safari, Google Chrome, and others on all devices from mobile to desktops. \n\nWhich free AI video generator tool works best for creating marketing clips?\n\n![Image 30: collapse](https://web-assets.invideo.io/common/prod/icons/rounded-close.svg)\n\nInvideo AI is the best AI video generator, free to use and widely trusted by digital marketers worldwide for creating engaging marketing videos. This video creator offers users advanced features such as AI-generated visuals, human-like AI voiceovers, AI-powered scripts, and more to produce stunning clips that drive user engagement. \n\nTurn a prompt into a video with Invideo AI\n------------------------------------------\n\n![Image 31: Video Poster](https://assets-static.invideo.io/images/large/x4_VJ_7_D_Sk_Oqg_HD_067087ad0b.webp)\n\n### Discover more:\n\n[AI Avatar Generator](https://invideo.io/make/ai-avatar-generator/)[AI Image Generator](https://invideo.io/ai/ai-image-generator/)[AI Video Editor](https://invideo.io/make/ai-video-editor/)[Video Caption Generator](https://invideo.io/make/video-caption-generator/)[UGC Style Ads](https://invideo.io/make/ugc-ads/)[Promo Video Maker](https://invideo.io/make/promo-video-maker/)[AI Subtitle Generator](https://invideo.io/make/ai-subtitle-generator/)[Image to Videos](https://invideo.io/make/image-to-videos/)[AI YouTube Shorts Generator](https://invideo.io/make/ai-youtube-shorts-generator/)[AI Clip Generator](https://invideo.io/make/clipmaker/)[AI Listicle Video Maker](https://invideo.io/make/ai-listicle-video-maker/)[Instagram Video Editor](https://invideo.io/make/instagram-video-editor/)[Link to Video](https://invideo.io/make/link-to-video/)[Product Videos](https://invideo.io/make/product-video/)[AI Voice Cloning](https://invideo.io/tools/ai-voice-cloning/)[Montage Video Maker](https://invideo.io/make/montage-video-maker/)[Outro Maker](https://invideo.io/make/outro-maker/)[Video GPT](https://invideo.io/ai/video-gpt/)[Youtube Video Editor](https://invideo.io/make/youtube-video-editor/)[Video Translator](https://invideo.io/make/video-translator/)[Travel Video Maker](https://invideo.io/make/travel-video-maker/)[Invitation Maker](https://invideo.io/make/invitation-maker/)[Online Video Editor](https://invideo.io/make/online-video-editor/)\n\nMore from Invideo blogs\n-----------------------\n\n[![Image 32: how-to-find-your-youtube-niche](https://assets-static.invideo.io/images/large/blog_cover_revised2_2bfdac7b41.webp) How To Find Your YouTube Niche In 2025: Complete step-by-step Guide #howtoguides#youtube](https://invideo.io/blog/how-to-find-your-youtube-niche/)\n\n[![Image 33: how-to-make-youtube-shorts](https://assets-static.invideo.io/images/large/blog_thumbn_Y_Tshorts_420383f067.webp) How To Make YouTube Shorts: Create YT Shorts Using AI #howtoguides#youtube](https://invideo.io/blog/how-to-make-youtube-shorts/)\n\n[![Image 34: how-to-start-a-faceless-youtube-channel](https://assets-static.invideo.io/images/large/Thumbnail_4_0fe9c1ace2.webp) How To Start a Faceless YouTube Channel with AI #howtoguides#youtube](https://invideo.io/blog/how-to-start-a-faceless-youtube-channel/)\n\n[![Image 35: how-to-make-ai-videos](https://assets-static.invideo.io/images/large/Thumbnail_13_7172edc3f5.webp) How to Generate AI Videos Using invideo AI #howtoguides#youtube](https://invideo.io/blog/how-to-make-ai-videos/)\n\n[![Image 36: content-creator](https://assets-static.invideo.io/images/large/Cover_a4958524dc.webp) A Step-By-Step Guide to Becoming a Content Creator in 2025 #howtoguides#youtube](https://invideo.io/blog/content-creator/)\n\n[![Image 37: make-money-on-youtube](https://assets-static.invideo.io/images/large/You_Tube_Automation_Channel_with_AI_1_e5984472d7.webp) How To Make Money on YouTube in 2025 #howtoguides#youtube](https://invideo.io/blog/make-money-on-youtube/)\n\n[![Image 38: youtube-automation-channel](https://assets-static.invideo.io/images/large/You_Tube_Automation_Channel_with_AI_325714e4f0.webp) How to Start a YouTube Automation Channel with AI #howtoguides#youtube](https://invideo.io/blog/youtube-automation-channel/)\n\n[![Image 39: how-to-do-ai-voice-cloning](https://assets-static.invideo.io/images/large/You_Tube_Script_with_AI_63582bdba3.webp) How to Do Voice Cloning Using invideo AI #howtoguides#youtube](https://invideo.io/blog/how-to-do-ai-voice-cloning/)\n\n[![Image 40: best-ai-video-generators](https://assets-static.invideo.io/images/large/Thumbnail_18_21a453ff5d.webp) Discover the Best AI Video Generators for 2025 #marketingtools#youtube](https://invideo.io/blog/best-ai-video-generators/)\n\n![Image 41: prev-button](https://web-assets.invideo.io/common/prod/icons/previous-arrow.svg)\n\n![Image 42: next-button](https://web-assets.invideo.io/common/prod/icons/next-arrow.svg)\n\n![Image 43: InVideo logo](https://web-assets.invideo.io/common/prod/logos/invideo-logo-heart.svg)\n\nMove your idea from spark to spotlight\n--------------------------------------\n\nTurn your idea into a video with just a prompt, instantly!\n\nGet started, It's free!\n\ninvideo AI\n----------\n\n[AI Video Generator](https://invideo.io/make/ai-video-generator/)[AI Avatar Generator](https://invideo.io/make/ai-avatar-generator/)[UGC Ads](https://invideo.io/make/ugc-ads/)[AI Image Generator](https://invideo.io/ai/ai-image-generator/)[Animation Maker](https://invideo.io/make/ai-animation-generator/)[Link to Video](https://invideo.io/make/link-to-video/)[Movie Maker](https://invideo.io/make/online-movie-maker/)[AI Video Meme Generator](https://invideo.io/make/meme-generator/)[TikTok Video Maker](https://invideo.io/make/tiktok-video-editor/)[AI Clip Generator](https://invideo.io/make/clipmaker/)[Youtube Shorts Maker](https://invideo.io/make/ai-youtube-shorts-generator/)[AI Subtitle Generator](https://invideo.io/make/ai-subtitle-generator/)[Voiceover Generator](https://invideo.io/tools/ai-voiceover-generator/)[Slideshow Maker](https://invideo.io/make/slideshow-maker/)\n\nMobile apps\n-----------\n\n[iOS](https://invideo-ai.app.link/hp-footer)[Android](https://invideo-ai.app.link/hp-footer)\n\ninvideo Studio\n--------------\n\n[Online Video Editor](https://invideo.io/make/online-video-editor/)[Video Collage Maker](https://invideo.io/make/video-collage-maker/)[Picture Video Maker](https://invideo.io/make/picture-video-maker/)[Instagram Video Editor](https://invideo.io/make/instagram-video-editor/)[Online Video Maker](https://invideo.io/make/video-maker/)[Facebook Video Editor](https://invideo.io/make/facebook-video-editor/)[Add Music to Video](https://invideo.io/make/add-music-to-video-online/)[Add Text to GIF](https://invideo.io/make/add-text-to-gif/)\n\nQuick Tools\n-----------\n\n[Rotate Video](https://invideo.io/tools/rotate-video/)[Trim Video](https://invideo.io/tools/video-trimmer/)[Cut Video](https://invideo.io/tools/video-cutter/)[Video Compressor](https://invideo.io/tools/compress/video-compressor/)[Video Converter](https://invideo.io/tools/convert/video-converter/)[Screen Recorder](https://invideo.io/tools/screen-recorder/)\n\nTemplates\n---------\n\n[Marketing Templates](https://invideo.io/templates/marketing-videos/)[Intro Templates](https://invideo.io/templates/intro-videos/)[Real Estate Templates](https://invideo.io/templates/real-estate-videos/)[Advertisement Templates](https://invideo.io/templates/advertisement-videos/)[Social Media Templates](https://invideo.io/templates/social-media-videos/)[View all![Image 44: angle right](https://web-assets.invideo.io/common/prod/header-icons/angle-right.svg)](https://invideo.io/templates/)\n\nHelp\n----\n\nLive chat 24/7[Email Us](mailto:support@invideo.io)[Tutorials](https://help.invideo.io/)[Blog](https://invideo.io/blog/)[Youtube Channel](https://www.youtube.com/channel/UCgxMiiBKk-xYskc2KNLiBTg)[Instagram Inspiration](https://www.instagram.com/invideo.io/)[Community](https://discord.gg/invideo-ai)\n\nCompany\n-------\n\n[Affiliate program](https://invideo.io/make/affiliate-program/)\n\nPricing\n-------\n\n[invideo AI](https://invideo.io/pricing/)\n\n[![Image 45: twitter logo](https://web-assets.invideo.io/common/prod/social-icons/icon-twitter.svg)](https://twitter.com/@InVideoOfficial)[![Image 46: facebook logo](https://web-assets.invideo.io/common/prod/social-icons/icon-fb.svg)](https://www.facebook.com/invideo.io/)[![Image 47: instagram logo](https://web-assets.invideo.io/common/prod/social-icons/icon-snap.svg)](https://www.instagram.com/invideo.io/)[![Image 48: youtube logo](https://web-assets.invideo.io/common/prod/social-icons/icon-yt.svg)](https://www.youtube.com/channel/UCgxMiiBKk-xYskc2KNLiBTg)[![Image 49: linkedin logo](https://web-assets.invideo.io/common/prod/social-icons/icon-in.svg)](https://www.linkedin.com/company/invideoio)[![Image 50: pinterest logo](https://web-assets.invideo.io/common/prod/social-icons/icon-pin.svg)](https://in.pinterest.com/InVideo_Official/?eq=invideo_off&etslf=8499)\n\n[Privacy policy](https://invideo.io/privacy-policy/)•[Terms & conditions](https://invideo.io/terms-and-conditions/)\n\n©2025 invideo\n\n![Image 51: Livechat](https://web-assets.invideo.io/common/prod/icons/livechat-icon.svg)\n\nLoading..."
            },
            {
              "url": "https://www.youtube.com/watch?v=0-0gFuDwmXI",
              "title": "Never Made An AI Video Before? Start Here! - YouTube",
              "content": "The REALITY of AI Video in 2025 (it’s not what you think)\nJeff Su\n1460000 subscribers\n763 likes\n18242 views\n7 Oct 2025\n📈 Grab my AI Toolkit - https://academy.jeffsu.org/ai-toolkit?utm_source=youtube&utm_medium=video&utm_campaign=190\n\nForget the hype about #AI replacing Hollywood overnight. The reality is that although AI video tools are incredibly powerful, there's no magic button that creates entire videos with one prompt. The real challenge is consistency: getting your characters, voices, and scenes to stay the same across multiple clips.\n\nIn this video, I walk through the exact 4-step workflow I use to create multi-scene AI videos with consistent characters. We'll use Google Whisk, Flow, a custom Gemini Gem, and ElevenLabs to build a complete skit from scratch.\n\nNo BS, just the actual process.\n\n*TIMESTAMPS*\n00:00 The Reality of the AI Video Landscape\n00:25 Bottom Line Up Front\n04:15 Step 1\n06:34 Step 2\n08:53 Step 3\n12:43 Step 4\n14:56 Final Thoughts\n16:09 Sora 2 Rollout and Implications\n\n*RESOURCES MENTIONED*\nPrompts & Templates: https://www.jeffsu.org/the-reality-of-ai-video-a-no-bullshit-guide/\nOther free resources: https://www.jeffsu.org/links/?utm_source=youtube&utm_medium=video&utm_campaign=190\n\n*BUILD A POWERFUL WORKFLOW*\n📈 The Workspace Academy - https://academy.jeffsu.org/workspace-academy?utm_source=youtube&utm_medium=video&utm_campaign=190\n✍️ My Notion Command Center - https://www.pressplay.cc/link/s/DE1C4C50\n\n*BE MY FRIEND:*\n📧 Subscribe to my newsletter - https://www.jeffsu.org/newsletter/?utm_source=youtube&utm_medium=video&utm_campaign=description\n📸 Instagram - https://instagram.com/j.sushie\n🤝 LinkedIn - https://www.linkedin.com/in/jsu05/\n\n*MY FAVORITE GEAR*\n🎬 My YouTube Gear - https://www.jeffsu.org/yt-gear/\n🎒 Everyday Carry - https://www.jeffsu.org/my-edc/\n\n#googlegemini #googleveo\n80 comments\n",
              "score": 0.59880555,
              "raw_content": "# The REALITY of AI Video in 2025 (it’s not what you think)\n## Jeff Su\n1460000 subscribers\n763 likes\n\n### Description\n18242 views\nPosted: 7 Oct 2025\n📈 Grab my AI Toolkit - https://academy.jeffsu.org/ai-toolkit?utm_source=youtube&utm_medium=video&utm_campaign=190\n\nForget the hype about #AI replacing Hollywood overnight. The reality is that although AI video tools are incredibly powerful, there's no magic button that creates entire videos with one prompt. The real challenge is consistency: getting your characters, voices, and scenes to stay the same across multiple clips.\n\nIn this video, I walk through the exact 4-step workflow I use to create multi-scene AI videos with consistent characters. We'll use Google Whisk, Flow, a custom Gemini Gem, and ElevenLabs to build a complete skit from scratch.\n\nNo BS, just the actual process.\n\n*TIMESTAMPS*\n00:00 The Reality of the AI Video Landscape\n00:25 Bottom Line Up Front\n04:15 Step 1\n06:34 Step 2\n08:53 Step 3\n12:43 Step 4\n14:56 Final Thoughts\n16:09 Sora 2 Rollout and Implications\n\n*RESOURCES MENTIONED*\nPrompts & Templates: https://www.jeffsu.org/the-reality-of-ai-video-a-no-bullshit-guide/\nOther free resources: https://www.jeffsu.org/links/?utm_source=youtube&utm_medium=video&utm_campaign=190\n\n*BUILD A POWERFUL WORKFLOW*\n📈 The Workspace Academy - https://academy.jeffsu.org/workspace-academy?utm_source=youtube&utm_medium=video&utm_campaign=190\n✍️ My Notion Command Center - https://www.pressplay.cc/link/s/DE1C4C50\n\n*BE MY FRIEND:*\n📧 Subscribe to my newsletter - https://www.jeffsu.org/newsletter/?utm_source=youtube&utm_medium=video&utm_campaign=description\n📸 Instagram - https://instagram.com/j.sushie\n🤝 LinkedIn - https://www.linkedin.com/in/jsu05/\n\n*MY FAVORITE GEAR*\n🎬 My YouTube Gear - https://www.jeffsu.org/yt-gear/\n🎒 Everyday Carry - https://www.jeffsu.org/my-edc/\n\n#googlegemini #googleveo\n\n80 comments\n### Transcript:\nThe Reality of the AI Video Landscape Hey friends, today's video is a nobullshit guide on the current state of AI video generation because if you believe the headlines, the entire Hollywood movie industry is about to be replaced by AI in the next few minutes. In reality though, we're not even close. So, let's look beyond the flashy demos that do a phenomenal job in maximizing shareholder value but little else and go over what's actually possible right now. Let's get started. Instead of boring you Bottom Line Up Front with technical jargon, let me just show you what's going on. Starting off with a simple analogy using Chacha BT. Let's say I ask it to write the opening scene of a TV show, right? I'll let it run and in a couple of seconds it'll spit out a script with the setting, the characters, and all the good stuff. Simple enough, right? Now, what happens when I ask CHBT in the same chat to write the next scene? Let's run it. And as you'll see in the result, it quote unquote remembers what happened in the opening and continues the same narrative, right? The characters are consistent, the setting is consistent, the story is consistent, and in a nutshell, that consistency is the single biggest roadblock when it comes to generating AI videos. So, keep that keyword consistency in mind for this next part. Moving over to Google's Flow app, one of the best AI generation tools for video right now. Here, I have recreated a scene starring Darth Vader. So, let's play this back with audio. It's only 8 seconds. I am your mother. Okay, first of all, notice how detailed and realistic this is. Darth Vader is walking towards us with all the right sound effects. I sparks are flying out behind him because he just cooked someone. Not sure if that's how he was cooked. And his voice, I am your mother. His voice is pretty damn good. And guess what? As long as you're willing to pay a bit of money for the flow app and use this prompt, which I'll share down below, anyone can create this clip in five minutes. So, the point I'm making here is that AI video models are insanely powerful. But if that's the case, what exactly is holding us back from producing Hollywood grade movies and high production YouTube videos? Here's the problem. Watch what happens when I try to extend this scene like I did with Chachi BT by using this prompt. Next, Darth Vader raises his other arm with a red lightsaber and says, \"Get ready for a spanking.\" Which is something, you know, Mr. Vader would say. And we're going to generate and we're going to fast forward this next part. Get ready for a spanking. Okay. Yeah, that didn't work at all. Right. Um, the lightsaber was already in the scene, right? And this is the wrong hand. Uh, uh, Darth Vader doesn't even look the same, right? Between scenes, the voices are different. and the background completely changed. This is a perfect example of character inconsistency. Editor Jeff here. Quick heads up, OpenAI announced Sora 2 right after I made this video, and they've launched a few features targeting the consistency problem. I'll explain what these features actually do at the end. But the bottom line is they do not replace the need for the workflow I'm about to show you. And with that, let's dive back into the video. Put simply, the video models do not remember any details about the scenes they just generated. Even if I used the exact same prompt to describe Darth Vader again, the model will still generate a slightly different character, breaking the consistency across scenes. But don't worry, there is a way to overcome this. Let's take a look at these two skits I created from scratch. There's the first one. Google Gemini, can you find that email from yesterday? No, but I can show you an ad that looks like an email. You're welcome. All right. And the second one. Hey, Gemini, can you play that YouTube video from Jeff Sue? Absolutely. But first, please enjoy this unskippable 30inut ad. Now, was that perfect? No. Given more time, I could have made them much more polished. But the key is that the appearance and voice of the Gemini mascot stayed the same or consistent across scenes. And to achieve that level of consistency, we just need to follow four simple steps. Step one, generating Step 1 an image of our character. That's right. Even though this video is all about AI video, our very first step is to use an image generation tool to create a static image of our character. Normally, I use Midjourney for this, but since MidJourney is a paid app, we're going to use Google's free image generation tool, Whisk, for this tutorial. And at this point, I want to be very clear. The tools I mentioned in this video matter a lot less than the workflow and underlying logic. Okay, back in Whisk, I'm just going to paste the prompt that will generate the Gemini mascot character. Don't worry, I'll share all the prompts I use in this video down below. And under settings, this is very important. I'm going to disable precise reference for now because I want the AI to have more creative freedom. I'm going to send this and let's fast forward this next part. Okay, so the first two results were already great. I just ran it another time to show you that if you weren't happy with the first batch, you can just generate a few more batches um until you find something that you like. But for me, I'm just going to actually go with this one right here. Um I like the fact that it's like bigger and larger and it's a full frontal photo of the character, which might make uh the future steps easier. Pro tip, if you have an image that you mostly like, but you want to change one specific thing, you can do this. Simply click the refine button and under settings, make sure precise reference is enabled. Then we're just going to describe the change you want to make. For example, change the color of the fur to white with pastel orange gradients. And we're just going to click generate. And we're going to fast forward this next part. All right, this looks really good, right? The reason this works so well is because by enabling precise reference, we're telling Whisk to use Google's nano banana image generation model, which is fantastic at maintaining character consistency in still images. If you don't believe me, you can upload the original image into the Google Gemini web app with image editing enabled or even Google's AI Studio. Use the exact same prompt and you'll see that only the fur color changes. The character stays the same. Yes, all three of these methods are free. And no, Google is not sponsoring this video. Although, I really wish they would. Maybe I'm just not PC enough. Anyways, once you're happy with the image, just click here to download it. And we're now ready for step two. By the way, I have a free AI toolkit that cuts through the noise and helps you master essential AI tools and Step 2 workflows. I'll leave a link to that down below. Step two, create the starting frame. All right, now that we have our main character, it's time to place him into a scene that we will eventually turn into a video clip. Staying right here in Whisk, we're just going to expand out the sidebar. And we can either just upload or just simply drag the image from step one into this character box. And by doing this, we're basically telling Whisk, hey, do you see this character right here? I want you to include this exact character in the next scene we generate. Because that's the entire point of this, right? We want the mascot to have the same appearance in every single scene. After making sure the subject is selected here, we're going to go back into settings and make sure that precise reference is enabled. And then we're just going to use this prompt, which again I'll share to generate the still image of our starting scene, which essentially depicts the mascot talking to a female worker in an office setting. Just like before, uh the first batch was fine, these two, but then I ran it one more time and I'm glad I did because I actually like this one a bit more. Um the entire mascot is in frame versus this first option. And for this one, the mouse the mouse is all messed up, right? So, I'm just going to go ahead and download this image. And this is going to be the first frame of our first video clip. Now, just to prove to you how critical some of these settings are, I'm going to deselect the mascot from this subject. And I'm going to turn off precise reference and use the exact same prompt. And I'm going to speed this up here. All right, these look pretty terrible because as you can see, without a reference image, Whisk basically generated a mascot from scratch. And these two don't even look the same in the same batch. All right, since we're creating two separate clips for our skit, we just need to repeat the exact same process to create the starting frame for our second video. I'll keep the mascot selected as the subject. Make sure the precise reference feature is toggled on and simply use a different prompt. This time we're just going to have the Gemini mascot interact with a male co-orker. All right, perfect. I think I like this one the most. So, I'm just going to download this. And now that we have our two starting frames with our mascot looking perfectly consistent in both, we are finally ready to generate some video footage. Step three, actually creating Step 3 the videos. To do this, we're going to head on over to Google's Flow app. Quick heads up, I am using the paid version of Flow, so I have access to the V3 quality model. Uh, but I actually tested this with uh V3 fast, the model that free users have access to, and it works the exact same way. First, I'm going to select the frame to video option and upload our first starting frame, the one with the female worker in it. Uh, click crop to save. This tells the AI we're giving it a still image that we want to turn into an animated video. And once that is uploaded, I am just going to paste in this prompt uh that tells Flow exactly how I want the scene to play out from the dialogue to the action. Don't worry though, we'll talk more about how to write effective text to video prompts in a little bit. Under settings, I want this to be in landscape. That's fine. And I want actually four outputs per prompt. Yes, this eats up my credits a lot faster, but it gives me a much higher chance that at least one of the outputs will be usable. You'll see what I mean. And we're going to just hit generate. Okay, the videos are done. Let's go over an example of a bad output. Google Gemini, can you find that email from yesterday? No, but I can show you an ad that looks like an email. You're welcome. Okay, so obviously that doesn't work, but because we had four outputs, at least one of these would be good. Luckily for me, all three of these other ones were fine, but I like this one the most. Let's play it back. Google Gemini, can you find that email from yesterday? No, but I can show you an ad that looks like an email. You're welcome. So, I'm just going to favorite this and then download it uh for the next step. So, usually I would go with upscaled if I were uploading to, let's say, YouTube, for example. But since we're just going over an example here, I'm just going to choose the original size. Now, we just rinse and repeat for our second scene. We're going to keep frames to video selected. then upload and select the starting frame for our second clip. And I'm just going to paste in this prompt. I'm gonna hit generate. And we're just going to fast forward to the next part. All right, videos are done. And looking through this batch, I like this one the most. Hey Gemini, can you play that YouTube video from Jeff Su? Absolutely. But first, please enjoy this unskippable 30inut ad. All right, I'm going to favorite it and download this in original size. And let's actually play both clips back to back. Google Gemini, can you find that email from yesterday? No, but I can show you an ad that looks like an email. You're welcome. Hey Gemini, can you play that YouTube video from Jeff Sue? Absolutely. But first, please enjoy this unskippable 30inut ad. Again, definitely not perfect, but the important thing is the Gemini mascot looks the same across both clips. But there's another issue. The voice of the Gemini mascot character is completely different in the two scenes. But don't worry, we're going to fix that in the next step. But before we do, let me share my process for writing text to video prompts. In a nutshell, I created a Gemini gem that basically takes user input and outputs an optimized video prompt. I've also uploaded video prompting best practices as knowledge files. After starting a new chat in the gem, I would first upload the starting frame image and a screenshot of the flow app to give it additional context. Then I just describe the scene I want, give it a script, which I obviously had to come up with, and the Gemini gem will then write a detailed prompt optimized for Google's VO model. I'll link this below for you to try for free, but let me know in the comments if you want a full video on how to create like powerful Gemini gems and custom GPTs because it's actually a lot of work to create something really good. Step four. All right, our final step is to give our mascot a consistent voice across both Step 4 scenes. For this, we're going to use a tool called 11 Labs. Once you're signed in, navigate to the voice changer option on the left here, and we're just going to upload the video file for scene one that we downloaded from Flow. And then we're just going to choose a voice we want to change our character's voice to. And I decided on the Malvorex, the monster voice, which sounds about right. And then I'm just going to click generate speech. Wait for a little bit. Okay, let's play this back. Google Gemini, can you find that email from yesterday? No, but I can show you an ad that looks like an email. You're welcome. Okay, you'll notice that the mascot's voice and the female professional voices have both been changed, but that's okay. Part of the plan, we can now download this new audio. Next, we're going to do the exact same thing for scene two. We're going to upload the video. And the most important part is that we select the exact same voice, of course, the monster, because the whole point is to keep the mascot's voice consistent. And we're going to click generate speech. Okay, I played it back. It sounds good. We're just going to download this to use in the next and final step. Now, for the final bit of magic, we need to bring the original video clips, the ones with inconsistent audio from Flow and the new audio files from 11 Labs into a video editing tool like Final Cut Pro. First, we're going to detach the original inconsistent audio from both clips. And then, we're going to bring in the two new audio files we just generated with 11 Labs. And here's a key step. I'm going to manually replace only the mascots's lines with the new consistent monster voice. This way, the human actors keep their original voices, but our mascot now sounds exactly the same across both scenes. And as a final touch to really sell the scene, we can layer in some subtle ambient office sound effects in the background. Google Gemini, can you find that email from yesterday? No, but I can show you an ad that looks like an email. You're welcome. Hey Gemini, can you play that YouTube video from Jeff Sue? Absolutely. But first, please enjoy this unskippable 30inut ad. And with that, we've successfully created a multi-seen skit with an AI character that is both visually and Final Thoughts audibly consistent. A few things I want to leave you with. First, it's totally possible to have two or more consistent characters across scenes. Simply upload two or more subjects into Whisk, describe the scene, and use that as your starting frame. The principle is the same. Second, let's talk about thirdparty tools. There are capable AI video tools out there like Open Art, Hyalura, and Cling that market themselves as all-in-one solutions. These tools do make the video generation process easier, but in order to produce polished videos, there's still a ton of manual work involved, like generating the initial character and fixing the audio. And not to mention, those tools aren't exactly easy to use for the average person. So, here's the bottom line. Again, video models have gotten extremely powerful, but AI video tools are just that, tools. We need to learn what each tool is good for and build a workflow that combines the strengths of each one. Just think about what we did today. First, we used Whisk to generate our character. Then, we used Whisk again to create the starting frame. Then, we used a custom Gemini Gem to write a textto video prompt. We used Flow to actually generate the video. Then, we used 11 Labs to generate consistent audio. And after all of that, we still had to use a video editor to piece it Sora 2 Rollout and Implications all together. All right, so about Sora 2, they announced two features. The first one is called Cameo, which uses a recording of your actual face and voice to keep your likeness consistent across scenes. The issue here is Cameo only works with real people and pets, so it's very limited in the characters we can actually create. The second feature is called recut, which lets you load the last few seconds of a clip into your next prompt to maintain continuity. If this works as intended, it is a big deal, but it's just one step in the workflow. We still need to generate the character, write robust video prompts, fix the audio, etc. So, yeah, these seem like awesome features, but they're just that, features that need to be integrated within a broader workflow. Let me know if you want a full tutorial on Sora 2. See you on the next video. And in the meantime, have a great one."
            }
          ],
          "response_time": 1.62,
          "request_id": "d27dfc3e-a150-4278-81da-488128d5f38c"
        }
      }
    ]
  },
  "versionId": "7cf078ab-0aac-42b4-bc11-fa5c4b4d1f72",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-09T16:49:10.652Z",
      "updatedAt": "2025-10-09T16:49:10.652Z",
      "role": "workflow:owner",
      "workflowId": "eiMx9KWkLUEHR00I",
      "projectId": "VDyoKZWt3i5eAZSO"
    }
  ],
  "tags": []
}