Backup_2025-09-16/Call.json
{
  "createdAt": "2025-09-15T15:37:21.005Z",
  "updatedAt": "2025-09-15T15:37:24.000Z",
  "id": "MYggmluFTkRuFoBA",
  "name": "Call",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "e31928a1-86b1-4582-953b-6854d5dd384f",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -976,
        288
      ]
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "210bbeb9-c825-4958-a01d-4a8baa2b1168",
      "name": "Wait 3s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        128,
        -176
      ],
      "webhookId": "2254f43e-aa4c-4181-bd7e-4b4cf8399828"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/call/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 453f1a7d-5bf4-4797-afba-c1ac66928a8f"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"assistantId\": \"Paste your assistant id from Vapi here\",\n  \"assistantOverrides\": {\n    \"variableValues\": {\n      \"first_name\": \"{{ $json.query.query.first_name }}\",\n      \"type\": \"{{ $json.query.query.type }}\",\n      \"instructions\": \"{{ $json.query.query.instructions }}\",\n      \"call_purpose\": \"{{ $json.query.query.call_purpose }}\",\n      \"response_style\": \"{{ $json.query.query.response_style }}\",\n      \"tone\": \"{{ $json.query.query.tone }}\",\n      \"pause_between_sentences\": \"{{ $json.query.query.pause_between_sentences }}\",\n      \"fallback_response\": \"{{ $json.query.query.fallback_response }}\"\n    }\n  },\n  \"customer\": {\n    \"number\": \"{{ $json.query.query.phone_number }}\",\n    \"name\": \"{{ $json.query.query.first_name }}\"\n  },\n  \"phoneNumberId\": \"Paste your phone number id from Vapi here\"\n}\n",
        "options": {}
      },
      "id": "b7629d7b-9784-4e53-8282-da1b0bb87678",
      "name": "Phone Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -752,
        288
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "60e036f1-1320-418d-ac8a-86e3349da08e",
              "name": "response",
              "value": "={{ $json.analysis.summary }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d0f62dd5-3ba9-43dd-8d2a-06cee1feb808",
      "name": "Set Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        304
      ]
    },
    {
      "parameters": {
        "url": "=https://api.vapi.ai/call/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer "
            }
          ]
        },
        "options": {}
      },
      "id": "d582ca91-82d9-4025-9ffd-3d2738b14f0d",
      "name": "Call Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -512,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "3ea6e246-4cc2-4351-a07b-d2d4b61359f9",
              "leftValue": "={{ $json.status }}",
              "rightValue": "=ended",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "368cc436-d9f0-4888-9356-94274dc6f772",
      "name": "Ongoing Call",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -320,
        288
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Phone Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3s": {
      "main": [
        [
          {
            "node": "Call Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phone Call": {
      "main": [
        [
          {
            "node": "Call Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Status": {
      "main": [
        [
          {
            "node": "Ongoing Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ongoing Call": {
      "main": [
        [
          {
            "node": "Wait 3s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "92a0a7a1-39d6-4671-a087-2df6089218b3",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-15T15:37:21.008Z",
      "updatedAt": "2025-09-15T15:37:21.008Z",
      "role": "workflow:owner",
      "workflowId": "MYggmluFTkRuFoBA",
      "projectId": "VDyoKZWt3i5eAZSO"
    }
  ],
  "tags": []
}