Backup_2025-09-16/N8n Backup.json
{
  "createdAt": "2025-09-15T15:33:36.980Z",
  "updatedAt": "2025-09-15T19:56:02.000Z",
  "id": "YIzX35z7AFCDMB6u",
  "name": "N8n Backup",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "400c349a-6694-4ebc-8cc8-4b36b30cdd05",
              "name": "folderName",
              "value": "=Backup_{{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e79809c4-c56a-47a5-bd2e-f4a24ae5c3f5",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1568,
        176
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c207844b-23e3-460c-860e-ab90e22abb5c",
      "name": "Split Workflows",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1056,
        176
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "workflow-content",
              "name": "nodes",
              "value": "={{ JSON.stringify($json, null, 2) }}",
              "type": "string"
            },
            {
              "id": "workflow-filename",
              "name": "fileName",
              "value": "={{ $json.name }}.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "714a029f-157f-47cb-a8f9-b27a67438251",
      "name": "Prepare File Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -688,
        192
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Vamsi1465",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "Backup-N8n",
          "mode": "list",
          "cachedResultName": "Backup-N8n",
          "cachedResultUrl": "https://github.com/Vamsi1465/Backup-N8n"
        },
        "filePath": "={{ $('Set Variables').item.json.folderName }}/{{ $('Prepare File Content').item.json.fileName }}",
        "binaryData": true,
        "commitMessage": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T') }} Backup completed"
      },
      "id": "f9522b56-d632-4690-b1d8-2100b3f89bdf",
      "name": "Upload to GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        336,
        256
      ],
      "webhookId": "20f36eee-6bfe-4264-9490-d76d5c1ef46d",
      "alwaysOutputData": false,
      "notesInFlow": true,
      "credentials": {
        "githubApi": {
          "id": "WSVBEY7uRmlbtwRC",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "=Vamsi1465",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "Backup-N8n",
          "mode": "list",
          "cachedResultName": "Backup-N8n",
          "cachedResultUrl": "https://github.com/Vamsi1465/Backup-N8n"
        },
        "filePath": "={{ $('Set Variables').item.json.folderName }}/README.md",
        "fileContent": "=# N8N Workflow Backup -{{ $('Set Variables').item.json.folderName }}\n\nThis folder contains the backup of all N8N workflows as of {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd') }}\n\n## Backup Details\n- Backup Time: {{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T') }}\n- Total Workflows: {{ $('Get many workflows').all().length }}\n\n## Files\nEach workflow is saved as a separate JSON file with the format\n\n---\n*Automatically generated by N8N Backup Workflow*",
        "commitMessage": "=Add README for backup folder"
      },
      "id": "0b992294-fea7-4e9f-826f-a6336dada24e",
      "name": "Create README",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        128,
        -96
      ],
      "webhookId": "5f0a2d4b-f990-480e-8bf7-1aea62f5fc7c",
      "credentials": {
        "githubApi": {
          "id": "WSVBEY7uRmlbtwRC",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "nodes",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -432,
        208
      ],
      "id": "7faa8ec1-22fc-4cfe-b7d3-d622b2e51f73",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "16oIffiRaQzeljI0FU-Aje4O-3s8NAqfy50Uo0zcvVEs",
          "mode": "list",
          "cachedResultName": "N8n backup",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16oIffiRaQzeljI0FU-Aje4O-3s8NAqfy50Uo0zcvVEs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16oIffiRaQzeljI0FU-Aje4O-3s8NAqfy50Uo0zcvVEs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Error Message": "={{ $json.error }}",
            "Folder Name": "={{ $('Set Variables').item.json.folderName }}",
            "Date": "={{$now.setZone('Asia/Kolkata').format('yyyy-MM-dd T')}}",
            "Filename": "={{ $('Prepare File Content').item.json.fileName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Folder Name",
              "displayName": "Folder Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Filename",
              "displayName": "Filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        672,
        288
      ],
      "id": "fe64553e-9997-4f9f-bea5-9d532b845bad",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -1360,
        176
      ],
      "id": "ea808c29-8f63-40a1-9140-f89d5d75a547",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "dI2nv4grGhWoGGRM",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0602b0ec-aac9-4f9a-b4f9-a352f936e2d5",
              "name": "folderName",
              "value": "={{ $('Set Variables').item.json.folderName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        -32
      ],
      "id": "08f4d9d0-907d-4cfa-b413-1587d5c32264",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "Vamsi1465",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "Backup-N8n",
          "mode": "list",
          "cachedResultName": "Backup-N8n",
          "cachedResultUrl": "https://github.com/Vamsi1465/Backup-N8n"
        },
        "filePath": "={{ $('Set Variables').item.json.folderName }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -224,
        208
      ],
      "id": "39f525c6-2d72-4221-a15d-7747343c9825",
      "name": "List files",
      "webhookId": "61467d2d-7bce-46c8-b530-5000307fa443",
      "credentials": {
        "githubApi": {
          "id": "WSVBEY7uRmlbtwRC",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 14,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1808,
        176
      ],
      "id": "d7918cac-2804-4012-8519-34a68e511d95",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "Set Variables": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Workflows": {
      "main": [
        [],
        [
          {
            "node": "Prepare File Content",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare File Content": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to GitHub": {
      "main": [
        [
          {
            "node": "Split Workflows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "List files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Split Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Split Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create README",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files": {
      "main": [
        [
          {
            "node": "Upload to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0eb47b21-b3a3-4729-aaf0-0d21e7f03752",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-15T15:33:36.981Z",
      "updatedAt": "2025-09-15T15:33:36.981Z",
      "role": "workflow:owner",
      "workflowId": "YIzX35z7AFCDMB6u",
      "projectId": "VDyoKZWt3i5eAZSO"
    }
  ],
  "tags": []
}