Backup_2025-11-24/Add Contacts to CRM.json
{
  "createdAt": "2025-10-25T21:25:39.958Z",
  "updatedAt": "2025-11-02T11:19:43.000Z",
  "id": "sQ8gEOLDz1eH9USq",
  "name": "Add Contacts to CRM",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1atIlmeZnPiLt72y7AXn4RrAaWNiR8TBO87dwM5akYiA",
          "mode": "list",
          "cachedResultName": "Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1atIlmeZnPiLt72y7AXn4RrAaWNiR8TBO87dwM5akYiA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Lead Management",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1atIlmeZnPiLt72y7AXn4RrAaWNiR8TBO87dwM5akYiA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Qualified( Yes / No)",
              "lookupValue": "Yes"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1584,
        -784
      ],
      "id": "75caa49d-e8c5-4ec7-827b-38ba10c0856f",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.zohoapis.in/crm/v2/Contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": [\n    {\n      \"First_Name\": \" \",\n      \"Last_Name\": \"{{ $json['Lead Name'] }}\",\n      \"Email\": \"{{ $json.Email }}\",\n      \"Phone\": \"{{ $json['Mobile No'] }}\"\n    }\n  ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -528,
        -784
      ],
      "id": "fa40b7eb-e5ec-4322-a8a0-de1f2c551ff6",
      "name": "Add to Contacts",
      "credentials": {
        "oAuth2Api": {
          "id": "leKprGXDkzeLyR7p",
          "name": "bigin"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.zohoapis.in/crm/v2/Contacts/{{ $json.data[0].details.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -288,
        -784
      ],
      "id": "7028f8ad-d141-4f7d-a1e5-edd76cbcaf54",
      "name": "Retrieve Contact Details",
      "credentials": {
        "oAuth2Api": {
          "id": "leKprGXDkzeLyR7p",
          "name": "bigin"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.zohoapis.in/crm/v2/Deals",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": [\n    {\n      \"Deal_Name\": \"{{ $('Loop Over Items').item.json.data[0].Full_Name }}\",\n      \"Stage\": \"Qualified\",\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        -752
      ],
      "id": "b53a6203-e19e-4676-99f1-8a174427822e",
      "name": "Add to pipeline",
      "credentials": {
        "oAuth2Api": {
          "id": "leKprGXDkzeLyR7p",
          "name": "bigin"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f6b7ec8f-7d81-4dc5-8d8e-933e580c85f7",
              "name": "Email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "8eb23a7c-6125-4f5a-bed7-75efb681f896",
              "name": "Lead Name",
              "value": "={{ $json['Lead Name'] }}",
              "type": "string"
            },
            {
              "id": "87434f7b-d6d5-460b-b995-d3030b88cb24",
              "name": "Mobile No",
              "value": "={{ $json['Mobile No'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1392,
        -784
      ],
      "id": "d838fa86-c522-4918-9ee7-d398b04ff9d5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "=https://www.zohoapis.in/crm/v2/Deals/search?criteria=(Deal_Name:equals:{{ $json.data[0].Last_Name }})",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        -768
      ],
      "id": "b1843347-1974-48f9-b61d-3449ba102bdb",
      "name": "Check Duplicates",
      "credentials": {
        "oAuth2Api": {
          "id": "leKprGXDkzeLyR7p",
          "name": "bigin"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1202449f-9a66-480c-9c79-4a88ae00fc8e",
              "leftValue": "={{ $json.body.data[0].Deal_Name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        -768
      ],
      "id": "861ead87-423f-4c36-89bb-825eb2061a61",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.zohoapis.in/crm/v2/Contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": [\n    {\n      \"First_Name\": \" \",\n      \"Last_Name\": \"{{ $json['Client Name'] }}\",\n      \"Email\": \"{{ $json['Client Email'] }}\"\n    }\n  ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1152,
        -368
      ],
      "id": "db19e2b9-2b2d-45dd-96d2-414845169e4c",
      "name": "Add to Contacts1",
      "credentials": {
        "oAuth2Api": {
          "id": "leKprGXDkzeLyR7p",
          "name": "bigin"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.zohoapis.in/crm/v2/Contacts/{{ $json.data[0].details.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -944,
        -368
      ],
      "id": "d620252f-12db-415b-a36f-ca79664e0669",
      "name": "Retrieve Contact Details1",
      "credentials": {
        "oAuth2Api": {
          "id": "leKprGXDkzeLyR7p",
          "name": "bigin"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.zohoapis.in/crm/v2/Deals",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": [\n    {\n      \"Deal_Name\": \"{{ $('Retrieve Contact Details1').item.json.data[0].Full_Name }}\",\n      \"Stage\": \"Meeting Booked\",\n      \"Closing_Date\": \"{{ $('Edit Fields2').item.json.Time ? $('Edit Fields2').item.json.Time.split(',')[0].split('/').reverse().join('-') : '' }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -272,
        -352
      ],
      "id": "c56219d1-7899-47cf-b0da-1eb19cb24ca0",
      "name": "Add to pipeline1",
      "credentials": {
        "oAuth2Api": {
          "id": "leKprGXDkzeLyR7p",
          "name": "bigin"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4fa80507-aca8-4bdb-a3b0-07da1b9db4e1",
              "name": "Client Name",
              "value": "={{ $json['Client Name'] }}",
              "type": "string"
            },
            {
              "id": "068da148-9773-4636-bbda-32b012d8edc7",
              "name": "Client Email",
              "value": "={{ $json['Client Email'] }}",
              "type": "string"
            },
            {
              "id": "8358296c-05c2-4686-9eec-16ce560039a7",
              "name": "Date",
              "value": "={{ $json.Date }}",
              "type": "string"
            },
            {
              "id": "2a0378ac-6b07-4a89-af8d-ba173130afe6",
              "name": "Time",
              "value": "={{ \n  $json.Time \n  ? (() => {\n      const parts = $json.Time.split(',')[0].split('/');\n      const day = parts[0].padStart(2, '0');\n      const month = parts[1].padStart(2, '0');\n      const year = parts[2];\n      return `${year}-${month}-${day}`;\n    })() \n  : '' \n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1376,
        -368
      ],
      "id": "379e9b08-635a-46e8-aace-88452a5b80a5",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "url": "=https://www.zohoapis.in/crm/v2/Deals/search?criteria=(Deal_Name:equals:{{ $json.data[0].Last_Name }})",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -768,
        -368
      ],
      "id": "f348cd13-467f-4a70-8561-8ac294562c38",
      "name": "Check Duplicates1",
      "credentials": {
        "oAuth2Api": {
          "id": "leKprGXDkzeLyR7p",
          "name": "bigin"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1202449f-9a66-480c-9c79-4a88ae00fc8e",
              "leftValue": "={{ $('Retrieve Contact Details1').item.json.data[0].Last_Name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -544,
        -368
      ],
      "id": "72d175a8-7fd1-400e-900d-b98f70c54217",
      "name": "If1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1atIlmeZnPiLt72y7AXn4RrAaWNiR8TBO87dwM5akYiA",
          "mode": "list",
          "cachedResultName": "Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1atIlmeZnPiLt72y7AXn4RrAaWNiR8TBO87dwM5akYiA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1250721158,
          "mode": "list",
          "cachedResultName": "Meetings Calender",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1atIlmeZnPiLt72y7AXn4RrAaWNiR8TBO87dwM5akYiA/edit#gid=1250721158"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1600,
        -368
      ],
      "id": "542a3d41-186c-4f5d-bebd-55033ea58a3c",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "jiy4CLauc0aInJpJ",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -48,
        -784
      ],
      "id": "cf343025-78db-4a4c-805e-3ee25981ea53",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1840,
        -784
      ],
      "id": "4e388488-251d-43bb-8e86-1dd8c7238708",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Get first input item (single JSON object)\nconst input = $input.first().json;\n\n// Try to detect where contacts are stored\nconst contactsArray = input.contacts || input.data || [];\n\n// Ensure we have an array\nif (!Array.isArray(contactsArray)) {\n  return [];\n}\n\n// Map each contact into an individual item\nreturn contactsArray.map(c => ({\n  json: {\n    id: c.id || null,\n    Full_Name: c.Full_Name || '',\n    Email: c.Email || '',\n    Phone: c.Phone || null,\n  },\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        -784
      ],
      "id": "7bae7372-f5cd-4b7d-bcca-626a8addc03b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "https://www.zohoapis.in/crm/v6/Contacts?fields=Full_Name,Email,Phone",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1200,
        -784
      ],
      "id": "a01b7f71-fbf8-41fa-99bf-0f3092c2d503",
      "name": "Retrieve all contacts",
      "credentials": {
        "oAuth2Api": {
          "id": "leKprGXDkzeLyR7p",
          "name": "bigin"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Get all leads from Edit Fields node\nconst sheetLeads = $items(\"Edit Fields\").map(i => i.json);\n\n// 2. Get all existing Zoho CRM contacts (from previous node)\nconst crmContacts = $input.all().map(i => i.json);\n\n// 3. Extract Zoho contact emails in lowercase\nconst crmEmails = crmContacts\n  .map(c => (c.Email || \"\").toLowerCase().trim())\n  .filter(e => e !== \"\");\n\n// 4. Filter only NEW leads not present in Zoho\nconst newLeads = sheetLeads.filter(lead => {\n  const leadEmail = (lead.Email || \"\").toLowerCase().trim();\n  return leadEmail && !crmEmails.includes(leadEmail);\n});\n\n// 5. Return only new leads\nreturn newLeads.map(l => ({\n  json: {\n    Full_Name: l[\"Lead Name\"] || \"\",\n    Email: l.Email || \"\",\n    Phone: l[\"Mobile No\"] || \"\"\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        -784
      ],
      "id": "b31143c4-a0e9-43e2-9c7a-be733e26409f",
      "name": "Code in JavaScript1"
    }
  ],
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Contacts": {
      "main": [
        [
          {
            "node": "Retrieve Contact Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Contact Details": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Retrieve all contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicates": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add to pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to pipeline": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Contacts1": {
      "main": [
        [
          {
            "node": "Retrieve Contact Details1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Contact Details1": {
      "main": [
        [
          {
            "node": "Check Duplicates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to pipeline1": {
      "main": [
        []
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Add to Contacts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicates1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "Add to pipeline1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Check Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve all contacts": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Add to Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Cal.com Trigger1": {},
    "node:Google Sheets Trigger": {
      "documentId": "1atIlmeZnPiLt72y7AXn4RrAaWNiR8TBO87dwM5akYiA",
      "sheetId": 1250721158,
      "lastIndexChecked": 5,
      "lastRevision": 901,
      "lastRevisionLink": "https://docs.google.com/spreadsheets/export?id=1atIlmeZnPiLt72y7AXn4RrAaWNiR8TBO87dwM5akYiA&revision=901&exportFormat=xlsx"
    },
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "23c66824-c4ae-465b-b537-4b7bee78d151",
  "triggerCount": 2,
  "shared": [
    {
      "createdAt": "2025-10-25T21:25:39.961Z",
      "updatedAt": "2025-10-25T21:25:39.961Z",
      "role": "workflow:owner",
      "workflowId": "sQ8gEOLDz1eH9USq",
      "projectId": "VDyoKZWt3i5eAZSO"
    }
  ],
  "tags": []
}