Backup_2025-10-26/D-ID in progress.json
{
  "createdAt": "2025-10-16T15:27:59.285Z",
  "updatedAt": "2025-10-16T17:21:46.000Z",
  "id": "EzQiQuuJxwGnI7Hf",
  "name": "D-ID in progress",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Avatar Picture",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "Enter name",
              "requiredField": true
            },
            {
              "fieldLabel": "Upload file",
              "fieldType": "file",
              "multipleFiles": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -432,
        -32
      ],
      "id": "a98e3818-9872-4d41-8958-e0ea97a6ef56",
      "name": "On form submission",
      "webhookId": "8038233a-bc7f-45ec-9694-7e0505988045"
    },
    {
      "parameters": {
        "inputDataFieldName": "Upload_file",
        "name": "={{ $json[\"Upload file\"].filename }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1ld8pXgQ_RpNB-aC1dr7zMu0L97CIqQYj",
          "mode": "list",
          "cachedResultName": "Avatar",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ld8pXgQ_RpNB-aC1dr7zMu0L97CIqQYj"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -224,
        -32
      ],
      "id": "b2df7992-d430-4847-a259-1abc2608b228",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pqwDBXzX6aAkWb7p",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ld8pXgQ_RpNB-aC1dr7zMu0L97CIqQYj",
          "mode": "list",
          "cachedResultName": "Avatar",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ld8pXgQ_RpNB-aC1dr7zMu0L97CIqQYj"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -576,
        160
      ],
      "id": "7ea680d4-2cab-450e-9810-17328b4a24e8",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pqwDBXzX6aAkWb7p",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -368,
        160
      ],
      "id": "3838ce57-19b3-465b-8094-1e7dd218ce21",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pqwDBXzX6aAkWb7p",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.d-id.com/talks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "=Bearer amFrZXBvMTE3NUBucmxvcmQuY29t:4dNz75MFA5l9irfyEPCJ0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"source_url\": \"https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?cs=srgb&dl=pexels-simon-robben-55958-614810.jpg&fm=jpg\",\n  \"script\": {\n    \"type\": \"text\",\n    \"provider\": {\n      \"type\": \"microsoft\"\n    },\n    \"input\": \"Making videos is easy with D-ID\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        160
      ],
      "id": "889f4b69-361f-4921-b81b-92e99f63e449",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        []
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "fc3a827f-c0a6-4516-9c2c-617206a7223a",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-16T15:27:59.293Z",
      "updatedAt": "2025-10-16T15:27:59.293Z",
      "role": "workflow:owner",
      "workflowId": "EzQiQuuJxwGnI7Hf",
      "projectId": "VDyoKZWt3i5eAZSO"
    }
  ],
  "tags": []
}