Backup_2025-10-26/Support Agent.json
{
  "createdAt": "2025-10-11T05:44:34.936Z",
  "updatedAt": "2025-10-15T19:01:57.000Z",
  "id": "MycRlS9cuorVbDc7",
  "name": "Support Agent",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -368,
        -160
      ],
      "id": "3750634e-3b9d-4f9c-b89e-c1d01803cbf4",
      "name": "Telegram Trigger",
      "webhookId": "36406481-6f0d-4480-a1d1-b40060f63308",
      "credentials": {
        "telegramApi": {
          "id": "gwHBxrkrPXY0I5Fk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -176,
        -160
      ],
      "id": "bdb98117-9af7-459b-b605-5a4149665ce7",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -176,
        0
      ],
      "id": "e771c98e-c161-4b08-be7a-a1b6f8585b94",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 196975734,
          "message": {
            "message_id": 5,
            "from": {
              "id": 8417171830,
              "is_bot": false,
              "first_name": "New",
              "username": "Hello3781",
              "language_code": "en"
            },
            "chat": {
              "id": 8417171830,
              "first_name": "New",
              "username": "Hello3781",
              "type": "private"
            },
            "date": 1760554873,
            "text": "Hi"
          }
        }
      }
    ]
  },
  "versionId": "50151e8f-ea44-419f-83b4-ec889ba0e3ea",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-11T05:44:34.981Z",
      "updatedAt": "2025-10-11T05:44:34.981Z",
      "role": "workflow:owner",
      "workflowId": "MycRlS9cuorVbDc7",
      "projectId": "VDyoKZWt3i5eAZSO"
    }
  ],
  "tags": []
}