Backup_2025-12-02/linkedin Comment Generator.json
{
  "createdAt": "2025-09-15T15:34:26.594Z",
  "updatedAt": "2025-09-16T21:05:30.000Z",
  "id": "ZHhkNcu8ESOjxc51",
  "name": "linkedin Comment Generator",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "linkedin-comment",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -384,
        -192
      ],
      "id": "bd7bf154-847a-4dc1-b7a3-506de3fc43fe",
      "name": "Webhook",
      "webhookId": "0f61ff50-9a9b-4e96-bc3d-77c20494505c"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is a new LinkedIn post to generate a comment for.\n\nPost description:\n\"\"\"\n{{ $json.body.caption }}\n\"\"\"\n\nTone:\n{{ $json.body.tone || \"Professional Tone\"}}  \n\nIf possible, try to include the following feedback question in a natural way:\n{{ $json.body.hint }}(optional)\n\nGenerate a single human-like comment for this post based on the input.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a helpful, professional assistant that generates thoughtful, human-like comments for LinkedIn posts. Your goal is to help users engage meaningfully on posts by crafting context-aware, relevant, and personalized comments.\n\nYou have access to a short-term memory of recent comments made by the user. Use this memory to:\n- Avoid repetition\n- Maintain variety in language and tone\n- Reflect consistency in personal or professional voice\n\nEach comment should:\n- Reflect the given tone by user\n- Be directly relevant to the post content\n- Feel natural and written by a human\n- Avoid generic phrases unless used intentionally for tone\n\nKeep the comment concise within 40 words\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -128,
        -192
      ],
      "id": "f1646d58-41af-4d7a-9b70-bfbe33e30bdd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"comment\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        208,
        32
      ],
      "id": "3f75543c-b3b2-48fe-bf4d-870089ec4521",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "266ca3fd-ed52-4fa0-a8a6-d439fc11387e",
              "name": "comment",
              "value": "={{ $json.output.comment }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        -192
      ],
      "id": "115e3772-079d-496a-9256-e987173081c6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        496,
        -192
      ],
      "id": "b4030155-cff4-4590-b498-4ce6c5b022ef",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.user_info.id }}",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -96,
        32
      ],
      "id": "a16523a1-ac42-4d3e-ae50-f6730d1401f4",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -272,
        16
      ],
      "id": "b2c25032-0708-4b95-a3e6-ca774faee84b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Gq3qNdXZmlzVb7Jg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4900dce2-e977-45a0-ad47-2ae7a9eef31e",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-15T15:34:26.597Z",
      "updatedAt": "2025-09-15T15:34:26.597Z",
      "role": "workflow:owner",
      "workflowId": "ZHhkNcu8ESOjxc51",
      "projectId": "VDyoKZWt3i5eAZSO"
    }
  ],
  "tags": []
}