Backup_2025-12-02/My workflow 4.json
{
  "createdAt": "2025-11-25T14:57:28.212Z",
  "updatedAt": "2025-11-30T14:36:26.000Z",
  "id": "nPNg3jmp6W7N577s",
  "name": "My workflow 4",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1NFxfydqH0R1B_0d5pj0wM6YZ_OjC-FDGse6eL1MPujg",
          "mode": "list",
          "cachedResultName": "Lead Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NFxfydqH0R1B_0d5pj0wM6YZ_OjC-FDGse6eL1MPujg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NFxfydqH0R1B_0d5pj0wM6YZ_OjC-FDGse6eL1MPujg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full Name ": "={{ $json.fullName }}",
            "Email Address": "={{ $json.emailAddress }}",
            "Phone Number": "={{ $json.Number }}",
            "Country ": "={{ $json.country }}",
            "Location": "={{ $json.location }}",
            "Industry": "={{ $json.businessIndustry }}",
            "Company Name": "={{ $json.companyName }}",
            "Job Title": "={{ $json.jobTitle }}",
            "Seniority": "={{ $json[\"seniority \"] }}",
            "Website URL": "={{ $json.websiteURL }}",
            "LinkedIn URL": "={{ $json.linkedInURL }}"
          },
          "matchingColumns": [
            "LinkedIn URL"
          ],
          "schema": [
            {
              "id": "Full Name ",
              "displayName": "Full Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Country ",
              "displayName": "Country ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Seniority",
              "displayName": "Seniority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website URL",
              "displayName": "Website URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Research Report",
              "displayName": "Research Report",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        896,
        0
      ],
      "id": "905c9143-e160-4906-bd0d-b04c042a438d",
      "name": "Google Sheets",
      "disabled": true
    },
    {
      "parameters": {
        "formTitle": "lead",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "2efbaf33-4479-489c-97c4-f1b3455ef263",
      "name": "On form submission",
      "webhookId": "c018b1d6-3b3e-4d46-9065-b3de6c38775c"
    },
    {
      "parameters": {
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "VYRyEF4ygTTkaIghe",
          "mode": "list",
          "cachedResultName": "🎉 Leads Scraper ✅ Upto 50k Leads With EMAILS ✅ Like Apollo (pipelinelabs/lead-scraper-apollo-zoominfo-lusha)",
          "cachedResultUrl": "https://console.apify.com/actors/VYRyEF4ygTTkaIghe/input"
        },
        "customBody": "{\n  \"searchTerms\": \"business coach\",\n  \"countryCodes\": [\"US\"],\n  \"jobTitles\": [\"Founder\", \"Coach\"],\n  \"industries\": [\"coaching\", \"education\"],\n  \"hasEmail\": true,\n  \"hasPhone\": false,\n  \"includeSimilarTitles\": true,\n  \"maxItems\": 50\n}\n"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "0c960788-f149-4310-b6cc-c0355439e70d",
      "name": "Run an Actor and get dataset",
      "credentials": {
        "apifyApi": {
          "id": "6nQOFlv3PUfwCerc",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "ffcf9b29-de69-4be6-9838-096fe823b1ec",
      "name": "Email Filter"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ],
      "id": "4ea1ce5a-95de-4044-96e4-480c77b9f891",
      "name": "Mobile Filter"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_SPREADSHEET_ID_HERE",
          "cachedResultUrl": "Your_Spreadsheet_URL",
          "cachedResultName": "Your_Spreadsheet_Name"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Your_Sheet_GID",
          "cachedResultUrl": "Your_Sheet_URL",
          "cachedResultName": "Your_Sheet_Name"
        },
        "options": {}
      },
      "id": "91e0cc66-2088-49d8-996a-eb427421277c",
      "name": "Read Leads from Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        224,
        336
      ],
      "typeVersion": 4,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "updated_email",
              "value": "={{ $input.item.json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5977f0c2-d36f-45b5-969c-247e0351b76d",
      "name": "Prepare Data for Sheet",
      "type": "n8n-nodes-base.set",
      "position": [
        1024,
        336
      ],
      "typeVersion": 2,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "=1p6vuSjRfTiSUrPa3CR4wQA8c9NyuS18K2UMhP_bWx08"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Your_Sheet_GID",
          "cachedResultUrl": "Your_Sheet_URL",
          "cachedResultName": "Your_Sheet_Name"
        },
        "columns": {
          "value": {
            "Email": "={{ $('Read Leads from Sheet').item.json.Email }}",
            "subject": "= {{ $json.output.subject }}",
            "email_body": "={{ $json.output.email_body }}"
          },
          "schema": [
            {
              "id": "Name",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Company",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Location",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Education",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Education",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn_Connections",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "LinkedIn_Connections",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry_Focus",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Industry_Focus",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Key_Expertise",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Key_Expertise",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn_URL",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "LinkedIn_URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company_Type",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Company_Type",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Focus_Areas",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Focus_Areas",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Growth_Stage",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Growth_Stage",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Pain_Points",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Pain_Points",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Location_Opportunities",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Location_Opportunities",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email_Template",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Email_Template",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn_DM_Template",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "LinkedIn_DM_Template",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company_Website",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Company_Website",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "email_body",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "email_body",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "subject",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Email"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "1a75568a-daeb-4fbb-b601-27f78d31c79d",
      "name": "Update Sheet with Email",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1248,
        336
      ],
      "typeVersion": 4,
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert email copywriter for Intuz, a company offering AI Engineering and AI Service solutions.\n\nYour task is to generate the components for a single, concise, professional, and conversational email outreach (100-120 words).\n\n---\n**CONTEXT & DATA**\n*   Prospect Name: {{ $('Read Leads from Sheet').item.json.Name }}\n*   Company Name: {{ $('Read Leads from Sheet').item.json.Company }}\n*   Persona / Title: {{ $('Read Leads from Sheet').item.json.Title }}\n*   CTA Link: [https://calendly.com/YOUR_LINK]\n\n---\n**INSTRUCTIONS**\n*   **Pain Point:** Focus on one of these: slow AI feature rollouts, difficulty integrating AI, scaling challenges, or security concerns.\n*   **Value Proposition:** Highlight how Intuz's AI Engineering services solve that specific pain point (e.g., rapid development, seamless integration, scalable workflows).\n*   **Structure:** The email body must start with a question addressing the pain point, briefly explain the solution, and end with a CTA for a 15-minute call using the provided link.\n*   **Tone:** Conversational, empathetic, and professional.\n*   **Subject Line:** Generate a catchy, question-based subject line (under 8 words) tied to the pain point.\n*   **Personalization:** Use the prospect's data to tailor the message.\n*   **CRITICAL FORMATTING:** Structure the `email_body` into 3 distinct paragraphs. Use the markdown newline character `\\n\\n` to separate each paragraph for clean spacing and readability.\n*   **Constraints:** Keep the body 100-120 words. No salutation (e.g., \"Hi Tobias,\") or sign-off (e.g., \"Best,\") should be included in the email body.\n\n---\n**REQUIRED OUTPUT**\nYou MUST format your response as a valid JSON object containing two keys: \"subject\" and \"email_body\".",
        "hasOutputParser": true,
        "batching": {}
      },
      "id": "80ea8c93-4dce-4951-8506-f67c039f9ff7",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        672,
        336
      ],
      "typeVersion": 1.7,
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2bc00a19-d98e-453a-aa6c-02890858392d",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        688,
        560
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"subject\": \"A short, catchy, question-based subject line\",\n  \"email_body\": \"The full email body, 100-120 words, without any salutation or sign-off.\"\n}"
      },
      "id": "e40799f3-4f6c-427d-afa3-9e1b3ade3d1d",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        816,
        560
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "0d8c8be3-4c6c-4a31-9ce9-cf557311a16b",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        0,
        336
      ],
      "typeVersion": 1.2,
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "0640b75d-662e-4625-a038-92c099b79f25",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.email_body }}",
              "rightValue": ""
            },
            {
              "id": "6d30f170-03fd-4e89-9a56-ab87e8c7c01a",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.subject }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "cd90c372-95ff-4004-9645-8a448d712360",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        448,
        336
      ],
      "typeVersion": 2.2,
      "disabled": true
    }
  ],
  "connections": {
    "Email Filter": {
      "main": [
        [
          {
            "node": "Mobile Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mobile Filter": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Leads from Sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data for Sheet": {
      "main": [
        [
          {
            "node": "Update Sheet with Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Prepare Data for Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Leads from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        []
      ]
    },
    "Run an Actor and get dataset": {
      "main": [
        [
          {
            "node": "Email Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "8cc737f7-5ffc-419b-9d8e-39809e04bf3c",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-11-25T14:57:28.217Z",
      "updatedAt": "2025-11-25T14:57:28.217Z",
      "role": "workflow:owner",
      "workflowId": "nPNg3jmp6W7N577s",
      "projectId": "VDyoKZWt3i5eAZSO"
    }
  ],
  "tags": []
}