Backup_2025-09-15/Lawyer Agent.json
{
  "createdAt": "2025-09-15T15:31:21.736Z",
  "updatedAt": "2025-09-15T19:21:48.000Z",
  "id": "huj0SJiQ2GhlZufw",
  "name": "Lawyer Agent",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "Document Summary",
        "height": 700,
        "width": 2180
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "ad0de9f4-f35d-4c0b-b309-b9ac88024e47",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "has:attachment AND Complaint OR Contract OR Filing"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        64,
        368
      ],
      "id": "3b682ce6-d8a0-4819-a525-a30783d82dd2",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "UbWO1LFfZ6s8MzMA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        704,
        368
      ],
      "id": "257bade7-2c54-47a0-8b75-69f6740e8da2",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pqwDBXzX6aAkWb7p",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        928,
        368
      ],
      "id": "5cbef7fe-c542-41d6-b78b-018c2d9b06d5",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1CDr_wRW9IvZk9H4tIi4p0XufJqGIyqkA9LwYXFu6JsI",
          "mode": "list",
          "cachedResultName": "Lawyer Drive",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CDr_wRW9IvZk9H4tIi4p0XufJqGIyqkA9LwYXFu6JsI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Lawyer Document",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CDr_wRW9IvZk9H4tIi4p0XufJqGIyqkA9LwYXFu6JsI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.message.content.DateReceived }}",
            "Subject": "={{ $json.message.content['Email Subject'] }}",
            "Issue 1": "={{ $json.message.content['Key issues'][0] }}",
            "Issue 2": "={{ $json.message.content['Key issues'][1] }}",
            "Issue 3": "={{ $json.message.content['Key issues'][2] }}",
            "Issue 4": "={{ $json.message.content['Key issues'][3] }}",
            "Issue 5": "={{ $json.message.content['Key issues'][4] }}",
            "Deadline": "={{ $json.message.content.Deadline }}",
            "Summary": "={{ $json.message.content['Summary Email'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Issue 1",
              "displayName": "Issue 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Issue 2",
              "displayName": "Issue 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Issue 3",
              "displayName": "Issue 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Issue 4",
              "displayName": "Issue 4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Issue 5",
              "displayName": "Issue 5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Deadline",
              "displayName": "Deadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1808,
        112
      ],
      "id": "df73f07e-009e-40ac-954d-40d003c24c2e",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "vamsikrishna2536@gmail.com",
        "subject": "={{ $json.message.content['Email Subject'] }}",
        "message": "={{ $json.message.content['Summary Email'] }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1808,
        336
      ],
      "id": "8bee42b0-d8fb-4153-a708-1239ec0a557b",
      "name": "Gmail",
      "webhookId": "537252f9-6bbe-4f35-aee0-c89c792acb84",
      "credentials": {
        "gmailOAuth2": {
          "id": "UbWO1LFfZ6s8MzMA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a Senior Legal Analyst. Your job is to take legal documents and provide a thoughtful summary. \nInput:\na single string containing all the text extracted from the PDF or XML \nAttachment:{{ $json.text }}\nDate Received: {{ $now }}\nTask: \nread through legal text. \nFrom the text and metadata, extract and fill these fields:\nDate Received (YYYY-MM-DD). \nSummary: A concise ~200-word word overview of a document's Facts and key takeaways. \nKey issues: An array of top 5 distinct legal issues, errors, and points identified. \nDeadline: Calculate deadline based on filing date and Jurisdiction. \nEmail subject: Very brief subject about the document. Less than 10 words. \nSummary email: Combine the summary and key issues into an email to send our internal team, Meant to summarize the document. Also indicate the file is saved to Google Drive. Make sure to format in HTML for proper bold or line breaks. Example: \nTeam, \nI have generated a 200 word AI summary of attached filing, plus key issues below. Please review and incorporate as needed. \n\nSummary: \nSummary here. \n\nkey issues: \nKey issues here. \nThanks,\nAI Assitant\n\n\noutput: \nReturn only this JSON object with no extra text or explanation.\n\"Raw ID\": \"string\",\n\"DateReceived\": \"YYYY-MM-DD\",\n\"Summary\": [\n\"Issue 1\",\n\"Issue 2\",\n\"Issue 3\",\n\"Issue 4\",\n\"Issue 5\"\n\n\"deadline\"\n\"Email Subject\"\n\"Summary Email\"\n]\n}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1152,
        368
      ],
      "id": "926ac9f3-430d-40ac-8e08-6a4e152a683e",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "8cTwctTGeEBOJeUq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "Contract Analysis",
        "height": 780,
        "width": 2200,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        848
      ],
      "typeVersion": 1,
      "id": "507eef3e-c298-4826-ae0b-e30c9471f205",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ggDLEGcdbSRUzJZfkkGt33grcX0luC5V",
          "mode": "list",
          "cachedResultName": "Lawyer g drive",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ggDLEGcdbSRUzJZfkkGt33grcX0luC5V"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        528,
        1184
      ],
      "id": "c159ea0f-42e6-4ddf-9ba4-5fd933317d5c",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pqwDBXzX6aAkWb7p",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        736,
        1184
      ],
      "id": "87ca55aa-a25c-4bdc-95a0-cab7612d2b5c",
      "name": "Google Drive2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pqwDBXzX6aAkWb7p",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        960,
        1184
      ],
      "id": "b6f7acdd-51d6-402a-a6c2-bd802e784180",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a legal class extractor. Here is a single string containing text extracted from a contract: {{ $json.text }}\n\nYou are a senior legal analyst. When given the full text of a contract and its metadata, write an internal email summary to your review stream formatted in HTML with proper bolding and line breaks, create a JSON with the subject for the email, as well as the body of the email.\n\nSubject: brief title (less than 10 words)(Imp)\n\nBody: In the body, include:\n\nGreeting (\"Team,\"\") and a one-line quote stating that you have reviewed the contract.\n\nSummary, a concise 200-word overview of the agreement, purpose, and key facts. \nClause breakdown. For each of these clauses, either:\nif present, note the page and paragraph, give a 1-2 sentence paraphrase of the clause, and flag its risk (\"Low/Medium/High\"). \n\nIf missing: say \"No [Clause Name], clause found.\" \n\nTermination Clause\n\nIndemnity Clause\n\nConfidentiality Clause\n\nForce Majeure Clause\n\nGoverning Law Clause\n\nLimitation of Liability Clause\n\nclosing: \"Thanks,\" then your signature \"AI Assistant.\""
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1184,
        1184
      ],
      "id": "ed3d9a66-1c74-44f1-89ce-6318f1e96b29",
      "name": "OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "8cTwctTGeEBOJeUq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1CDr_wRW9IvZk9H4tIi4p0XufJqGIyqkA9LwYXFu6JsI",
          "mode": "list",
          "cachedResultName": "Lawyer Drive",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CDr_wRW9IvZk9H4tIi4p0XufJqGIyqkA9LwYXFu6JsI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2090627332,
          "mode": "list",
          "cachedResultName": "Lawyer Contract",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CDr_wRW9IvZk9H4tIi4p0XufJqGIyqkA9LwYXFu6JsI/edit#gid=2090627332"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Contract": "={{ $json.message.content.subject }}",
            "Analysis": "={{ $json.message.content.body }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Contract",
              "displayName": "Contract",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Analysis",
              "displayName": "Analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1600,
        1040
      ],
      "id": "faf31dbf-ce6c-4aae-8b52-1448543257bc",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "vamsikrishna2536@gmail.com",
        "subject": "={{ $json.message.content.subject }}",
        "message": "={{ $json.message.content.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1648,
        1280
      ],
      "id": "ab60b959-9e28-428b-a5b7-eebe9a50dfc1",
      "name": "Gmail1",
      "webhookId": "7cfe4814-761f-4c92-9c63-0ab3986e77e1",
      "credentials": {
        "gmailOAuth2": {
          "id": "UbWO1LFfZ6s8MzMA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "attachment",
        "name": "={{ $json.headers.subject }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1d-v_2brIOiaZqojcfreeqFlF0sMzgtW1",
          "mode": "list",
          "cachedResultName": "Lawyer",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1d-v_2brIOiaZqojcfreeqFlF0sMzgtW1"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        480,
        368
      ],
      "id": "75ea9b4b-9477-428f-93a4-02f03363e075",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pqwDBXzX6aAkWb7p",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Initialize array to hold new items\nconst newItems = [];\n\nfor (const key of Object.keys(items[0].binary)) {\n  if (key.startsWith('attachment_')) {\n    newItems.push({\n      json: items[0].json,\n      binary: {\n        attachment: items[0].binary[key],\n      },\n    });\n  }\n}\n\nreturn newItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        368
      ],
      "id": "b0ea2f30-0f1d-483e-967a-6c7f12b1afee",
      "name": "Code"
    },
    {
      "parameters": {
        "content": "Line Integration",
        "height": 1104,
        "width": 3608,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3504,
        992
      ],
      "typeVersion": 1,
      "id": "346334f4-60fe-447b-a63a-08ff2114da84",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -3456,
        1696
      ],
      "id": "69a4621c-c16e-4f4d-b181-9892ab8182ea",
      "name": "WhatsApp Trigger",
      "webhookId": "0b6ac44f-f0fa-4a17-a09d-bb2834686f55",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "tRXUbiYHHFKBJ96r",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are an AI assistant that helps with different tasks. Always decide whether to answer directly or to call one of the available tools. Follow these rules:\n\n🗓 Meetings (Calendar Tool)\n\nIf the user asks to book a meeting, call the Calendar tool with the details (title, date, time, duration, participants).\n\nAfter booking, send an invitation email to the user’s provided email address.\n\nIf the user asks about meetings on a specific date (e.g., tomorrow, next week), call the Calendar tool to fetch the schedule.\n\nIf any details are missing (e.g., duration, participants), ask the user to confirm.\n\n🌐 News / Knowledge (Wikipedia Tool)\n\nIf the user asks about news, facts, or general knowledge, call the Wikipedia tool with the search query.\n\nSummarize the results clearly and concisely.\n\n📧 Emails (Email Tool)\n\nIf the user asks to send an email, call the Email tool with subject, recipient, and body.\n\nUse a professional tone unless told otherwise.\n\nConfirm with the user if sensitive information or multiple recipients are involved.\n\n📄 Document & Memo Automation (Google Sheets + Email Tools)\n\nSheet Names: Document Summary and Contract Analysis\n\n1. Draft Memos and Handle Queries from Spreadsheet Data:\n\nIf the user asks to draft a memo, check both Document Summary and Contract Analysis sheets.\n\nRead all relevant data from both sheets and combine information where necessary.\n\nAutomatically generate a professional memo summarizing all relevant fields.\n\nInclude all requested items from the trigger, such as deadlines, meeting schedules, tasks, or other specific fields.\n\nIf the user asks about deadlines, meetings tomorrow, or any other data-related query, search all rows and columns in both sheets and extract the relevant information.\n\nPresent results clearly, in bullet points or concise paragraphs, highlighting important dates, actions, or responsibilities.\n\n2. Send Emails Based on Spreadsheet Data:\n\nIf the user asks to send emails using spreadsheet data, read the relevant fields from both Document Summary and Contract Analysis sheets.\n\nCompose emails dynamically using the data and context from both sheets.\n\nIf multiple recipients or sensitive information is involved, confirm with the user before sending.\n\nInclude references to deadlines, meetings, or other important items found in either sheet to maintain context accuracy.\n\n⚙️ General Rules\n\nUse today’s date: {{ $now }} as context.\n\nIf the request doesn’t match any of the categories above, answer directly in natural language.\n\nRespond clearly and simply.\n\nOnly use a tool when necessary.\n\n💡 Key Update:\n\nAlways search both Document Summary and Contract Analysis sheets for relevant data, combine results if needed, and include all important fields in the response or memo."
        }
      },
      "id": "55680cf1-ab50-48bd-9b98-485d5a2a7f84",
      "name": "AI Agent2",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -2048,
        1168
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {},
      "id": "0f68fb1f-f487-4eff-a2e7-d853811dcb37",
      "name": "Wikipedia1",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "position": [
        -1568,
        1536
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an AI assistant that replies only based on the given text.\n\nYour task:\n\nExtract all essential information from the text.\n\nCondense it into short, clear sentences or bullet points.\n\nDo not add any assumptions, opinions, or extra information not present in the text.\n\nDo not include links, references, or filler phrases like “see more” or “view details here.”\n\nIf the input text is unclear or incomplete, ask one simple clarifying question before providing a summary.",
              "role": "system"
            },
            {
              "content": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ccaa3a62-b8fe-40bf-bdef-697f7d0ad8a4",
      "name": "OpenAI3",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -1200,
        1152
      ],
      "typeVersion": 1.7,
      "credentials": {
        "openAiApi": {
          "id": "8cTwctTGeEBOJeUq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "text",
                    "id": "1c74344b-32bf-4fe0-be86-7f8cf09b9d0c"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1bcbac05-8e4d-40d8-94b7-24d78fd03eb8",
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "dde53699-53b4-427a-8082-47eeb875e426",
      "name": "Switch Between Text and Others1",
      "type": "n8n-nodes-base.switch",
      "position": [
        -3264,
        1664
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "={{ $json.output }}",
                    "id": "ec6299c0-692e-4e93-9af1-8dad529bd152"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "fa83e357-9132-493c-bb1c-9458ff714500",
      "name": "Error Handling from AI Response1",
      "type": "n8n-nodes-base.switch",
      "position": [
        -640,
        1392
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "********-****-****-****-************",
              "name": "message.content",
              "type": "string",
              "value": "={{ $json.message.content.replaceAll(\"\\n\",\"\\\\n\").replaceAll(\"\\n\",\"\").removeMarkdown().removeTags().replaceAll('\"',\"\") }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4787af24-2a98-44e6-9ade-14f00f91b424",
      "name": "Text Cleansing1",
      "type": "n8n-nodes-base.set",
      "position": [
        -432,
        1232
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/802657959596026/messages",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Authorization\": \"Bearer EAALS3b9X8tgBPd8fB7fxGTwrT2oJQLe11ZCgjjImUW5CpzjZAZCo6lyf68HDurk3MqL1ZCtZAZAeGWZBVYGWtw02uAY2wDDWntnWiwykxMdtaHR05ZBwO5eBxvKGuEZBcwfp81i9JhzstxEMb3ro8WgwUfz5ZAbWqhv9UZBOxAuvoWmJt3wuq6qSwVweDE9cQx0qD0svPWZBsTYLddZATyG4y7aVbMELNhJG5RV3QfZAaeZCooEpvpEpaEMutJaD34jlQZDZD\",\n  \"Content-Type\": \"application/json\"\n}\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"replyToken\": \"\",\n \"messages\": [\n {\n \"type\": \"text\",\n \"text\": \"กรุณาส่งอย่างอื่นเถอะนะเตงอัว\"\n }\n ]}",
        "options": {}
      },
      "id": "377df5f4-9dd9-48b8-a333-a6c99ff1409b",
      "name": "Line Answering (Error Case)1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -368,
        1600
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/802657959596026/messages",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Authorization\": \"Bearer EAALS3b9X8tgBPYbiOPZB3LvoWoZCQR6eWZCsZCAeu0ij0yz3E1PUyGf6IHfd9qhp8E33Fo4eKIftfz1hSZBqDCZBvkd5eUsHNIhsKMwR5UD7pkjjjiXIyeG4d8xLXqPxUdS9G5qDcQvdH4eD6jmWcdKdQI6cYuV9tITJ7Qn1VwFZAfgjB1L3vB2380nfXO6KAxLHgZAf8dBWpYr8XnF1EYsKvnPEvjP2hbIbQLXhFLQs8bT6cpZBD9fwihMFzuAZDZD\",\n  \"Content-Type\": \"application/json\"\n}\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Switch Between Text and Others1').item.json.contacts[0].wa_id }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $json.message.content }}\"\n  }\n}\n",
        "options": {}
      },
      "id": "1b7fd811-c650-4708-911a-9c43b0ba43e5",
      "name": "Line Answering (Ordinary Case)1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -192,
        1056
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "vamsivk1465@gmail.com",
          "mode": "list",
          "cachedResultName": "vamsivk1465@gmail.com"
        },
        "start": "= {{ $fromAI(\"createstartdate\",\"start date and time to create event\") }}",
        "end": "= {{ $fromAI(\"createenddate\",\"end date and time to create event\") }}",
        "additionalFields": {
          "summary": "={{ $fromAI(\"event_name\",\"Name of an Event\") }}"
        }
      },
      "id": "8df25c4b-fab9-47f8-9c7d-496515381c9b",
      "name": "Google Calendar Create1",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        -1680,
        1568
      ],
      "typeVersion": 1.2,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "g4VAMKMrPf3B63WZ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "vamsivk1465@gmail.com",
          "mode": "list",
          "cachedResultName": "vamsivk1465@gmail.com"
        },
        "limit": 5,
        "options": {
          "timeMin": "={{ $fromAI(\"startdate\",\"start date user mentioned about\") }}",
          "timeMax": "={{ $fromAI(\"enddate\",\"end date user mentioned about\") }}"
        }
      },
      "id": "80a664c8-130f-4f8a-8b0e-749e09e72aba",
      "name": "Google Calendar Read1",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        -1952,
        1568
      ],
      "typeVersion": 1.2,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "g4VAMKMrPf3B63WZ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 5,
        "filters": {
          "receivedAfter": "={{ $fromAI(\"receiveddate\",\"the date email received\") }}"
        }
      },
      "id": "632fd9a0-2a4d-4d39-b647-89d24ee10424",
      "name": "Gmail Read1",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        -1808,
        1584
      ],
      "webhookId": "********-****-****-****-************",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "UbWO1LFfZ6s8MzMA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -2944,
        1552
      ],
      "id": "09a59f26-dc22-46d1-bc42-938e1c829dfe",
      "name": "Download media",
      "webhookId": "8d08ce9e-757f-4a0c-981c-766c7d89c7f3",
      "credentials": {
        "whatsAppApi": {
          "id": "YseJfrakPyAJkOCX",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2592,
        1504
      ],
      "id": "9d2c98ea-a4b1-4d6b-b992-14a9ec5accdc",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "8cTwctTGeEBOJeUq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2768,
        1536
      ],
      "id": "cb87bb17-9c59-41e3-af0e-b8ad98544cad",
      "name": "HTTP Request",
      "credentials": {
        "whatsAppApi": {
          "id": "YseJfrakPyAJkOCX",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "506058f7-43cb-4c6d-a247-585e2e7ae743",
              "name": "text",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2960,
        1136
      ],
      "id": "80184746-7d67-4a6c-a148-018a6ef929d5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26483f9b-cec5-4003-aef6-578834ec8d9e",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "f16acb1c-c38c-4674-9b8d-da3cc6995c25",
              "name": "messages[0].id",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2416,
        1488
      ],
      "id": "ff4c8cf0-0775-4b44-bf74-84d79a55550a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1CDr_wRW9IvZk9H4tIi4p0XufJqGIyqkA9LwYXFu6JsI",
          "mode": "list",
          "cachedResultName": "Lawyer Drive",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CDr_wRW9IvZk9H4tIi4p0XufJqGIyqkA9LwYXFu6JsI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Lawyer Document",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CDr_wRW9IvZk9H4tIi4p0XufJqGIyqkA9LwYXFu6JsI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -1184,
        1472
      ],
      "id": "bdbaaca0-49c6-4969-a713-ca402b8ea1ff",
      "name": "Document Summary",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1CDr_wRW9IvZk9H4tIi4p0XufJqGIyqkA9LwYXFu6JsI",
          "mode": "list",
          "cachedResultName": "Lawyer Drive",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CDr_wRW9IvZk9H4tIi4p0XufJqGIyqkA9LwYXFu6JsI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2090627332,
          "mode": "list",
          "cachedResultName": "Lawyer Contract",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CDr_wRW9IvZk9H4tIi4p0XufJqGIyqkA9LwYXFu6JsI/edit#gid=2090627332"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -1360,
        1488
      ],
      "id": "10d16501-d746-4a9f-b435-552bae4b8bb4",
      "name": "Contract analysis",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2064,
        1312
      ],
      "id": "1737d01c-7d64-4465-b41e-0a914ec20b4c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Gq3qNdXZmlzVb7Jg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch Between Text and Others1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "OpenAI3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI3": {
      "main": [
        [
          {
            "node": "Error Handling from AI Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Between Text and Others1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Line Answering (Error Case)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handling from AI Response1": {
      "main": [
        [
          {
            "node": "Text Cleansing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Line Answering (Error Case)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Cleansing1": {
      "main": [
        [
          {
            "node": "Line Answering (Ordinary Case)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Create1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Read1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Read1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Download media": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Summary": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contract analysis": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Edit Fields1": [
      {
        "json": {
          "text": "Hi, do you have any meetings today?",
          "messages": [
            {
              "id": "wamid.HBgMOTE4OTE5MDUzOTcwFQIAEhggNTFFNEU1RjEyMjU1OUU1MzQxMTc1RThFMTNGMTRDRDQA"
            }
          ]
        }
      }
    ]
  },
  "versionId": "38acb9d7-0ee5-4eea-b19e-d698da58f622",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-15T15:31:21.741Z",
      "updatedAt": "2025-09-15T15:31:21.741Z",
      "role": "workflow:owner",
      "workflowId": "huj0SJiQ2GhlZufw",
      "projectId": "VDyoKZWt3i5eAZSO"
    }
  ],
  "tags": []
}