Backup_2025-12-07/Bulk Email Sending Agent.json
{
  "createdAt": "2025-09-15T15:32:06.249Z",
  "updatedAt": "2025-10-05T17:25:01.000Z",
  "id": "j5WiQASo0ZxTkkuG",
  "name": "Bulk Email Sending Agent",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        320,
        336
      ],
      "id": "613a1152-7d05-41ee-bfba-f71a20424230",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Followup1 }}",
                    "rightValue": "=SENT",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "bd174f38-9b06-4d85-b426-33540f1e2187"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e456c557-3863-4fdb-8632-b04f890bc0e4",
                    "leftValue": "={{ $json.Followup1 }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "393258e4-54f1-4549-bdc7-1a198a59a5d3",
                    "leftValue": "={{ $json.Followup1 }}",
                    "rightValue": "pending",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -416,
        320
      ],
      "id": "1e7c9d18-38c9-45d3-88c1-eb421872fd94",
      "name": "Switch1"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        304,
        816
      ],
      "id": "ab5589bb-701b-4fe9-8d0f-62d64c685173",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Followup2 }}",
                    "rightValue": "=SENT",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "bd174f38-9b06-4d85-b426-33540f1e2187"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e456c557-3863-4fdb-8632-b04f890bc0e4",
                    "leftValue": "={{ $json.Followup2 }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5e39a97a-8492-4247-a630-63a32638393d",
                    "leftValue": "={{ $json.Followup2 }}",
                    "rightValue": "pending",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -448,
        800
      ],
      "id": "48bd4f3e-a484-4d42-a60e-d931ea54de3f",
      "name": "Switch2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -688,
        336
      ],
      "id": "3892596c-80f0-41e9-b046-aed01ef46107",
      "name": "Remove Duplicates1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -688,
        816
      ],
      "id": "46c2e507-20f8-4b6b-88e5-5818ff458276",
      "name": "Remove Duplicates2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1344,
        336
      ],
      "id": "d3483a94-403e-4cd1-85cb-16fb0e70470a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "162wPewbKUCTy9FyLqngwD-bq99VG7pFB_WmhPtJ6Cg0",
          "mode": "list",
          "cachedResultName": "Bulk Email Sender",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162wPewbKUCTy9FyLqngwD-bq99VG7pFB_WmhPtJ6Cg0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Main Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162wPewbKUCTy9FyLqngwD-bq99VG7pFB_WmhPtJ6Cg0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Followup1": "pending",
            "Followup1 Subject": "={{ $json['Followup1 Subject'] }}",
            "Follow up1 Summary": "={{ $json['Follow up1 Summary'] }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "First name",
              "displayName": "First name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Timestamp 1",
              "displayName": "Timestamp 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Followup1",
              "displayName": "Followup1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Followup1 Subject",
              "displayName": "Followup1 Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow up1 Summary",
              "displayName": "Follow up1 Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp 2",
              "displayName": "Timestamp 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Followup2 Subject",
              "displayName": "Followup2 Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Follow up2 Summary",
              "displayName": "Follow up2 Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Followup2",
              "displayName": "Followup2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Timestamp 3",
              "displayName": "Timestamp 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -128,
        336
      ],
      "id": "a1dbec32-f591-45d6-8a94-4cf3da8af92d",
      "name": "Follow up 1 Status pending",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        96,
        336
      ],
      "id": "11f2333c-10fe-42f9-9284-fdc500d7da9a",
      "name": "Wait 2days",
      "webhookId": "654edb52-ad61-44c1-8e27-dcb592306cb2"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        592,
        352
      ],
      "id": "5f08032b-b4e8-414c-b051-cb6705fffe14",
      "name": "Wait 30sec",
      "webhookId": "84479606-5391-4ecc-b63e-5639026a00fb"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "162wPewbKUCTy9FyLqngwD-bq99VG7pFB_WmhPtJ6Cg0",
          "mode": "list",
          "cachedResultName": "Bulk Email Sender",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162wPewbKUCTy9FyLqngwD-bq99VG7pFB_WmhPtJ6Cg0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Main Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162wPewbKUCTy9FyLqngwD-bq99VG7pFB_WmhPtJ6Cg0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Loop Over Items1').item.json.Email }}",
            "Followup1": "={{ $json.labelIds[0] }}",
            "Timestamp 2": "={{$now.setZone('Asia/Kolkata').format('yyyy-MM-dd T')}}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "First name",
              "displayName": "First name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Timestamp 1",
              "displayName": "Timestamp 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Followup1",
              "displayName": "Followup1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Followup1 Subject",
              "displayName": "Followup1 Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Follow up1 Summary",
              "displayName": "Follow up1 Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Timestamp 2",
              "displayName": "Timestamp 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Followup2 Subject",
              "displayName": "Followup2 Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Follow up2 Summary",
              "displayName": "Follow up2 Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Followup2",
              "displayName": "Followup2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Timestamp 3",
              "displayName": "Timestamp 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2016,
        320
      ],
      "id": "9e489c53-1c42-4dd6-a04f-7a55783c0186",
      "name": "Followup 1 email update",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "162wPewbKUCTy9FyLqngwD-bq99VG7pFB_WmhPtJ6Cg0",
          "mode": "list",
          "cachedResultName": "Bulk Email Sender",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162wPewbKUCTy9FyLqngwD-bq99VG7pFB_WmhPtJ6Cg0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Main Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162wPewbKUCTy9FyLqngwD-bq99VG7pFB_WmhPtJ6Cg0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Wait 30sec1').item.json.Email }}",
            "Followup2": "={{ $json.labelIds[0] }}",
            "Timestamp 3": "={{$now.setZone('Asia/Kolkata').format('yyyy-MM-dd T')}}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "First name",
              "displayName": "First name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Timestamp 1",
              "displayName": "Timestamp 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Followup1",
              "displayName": "Followup1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Followup1 Subject",
              "displayName": "Followup1 Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Follow up1 Summary",
              "displayName": "Follow up1 Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Timestamp 2",
              "displayName": "Timestamp 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Followup2 Subject",
              "displayName": "Followup2 Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Follow up2 Summary",
              "displayName": "Follow up2 Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Followup2",
              "displayName": "Followup2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp 3",
              "displayName": "Timestamp 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1968,
        832
      ],
      "id": "0aff48dc-05c0-4c45-8ce8-56df096cd682",
      "name": "Followup 2 email update",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        576,
        832
      ],
      "id": "f6ba7e66-6229-4c57-a364-6e8c31e5a4ef",
      "name": "Wait 30sec1",
      "webhookId": "26e88555-a2b2-431f-947d-57dec6241f42"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        80,
        816
      ],
      "id": "2155a803-1cd7-4216-9d8f-121240f70489",
      "name": "Wait 4days",
      "webhookId": "654edb52-ad61-44c1-8e27-dcb592306cb2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "162wPewbKUCTy9FyLqngwD-bq99VG7pFB_WmhPtJ6Cg0",
          "mode": "list",
          "cachedResultName": "Bulk Email Sender",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162wPewbKUCTy9FyLqngwD-bq99VG7pFB_WmhPtJ6Cg0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Main Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162wPewbKUCTy9FyLqngwD-bq99VG7pFB_WmhPtJ6Cg0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Followup2": "pending"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "First name",
              "displayName": "First name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Timestamp 1",
              "displayName": "Timestamp 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Followup1",
              "displayName": "Followup1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Timestamp 2",
              "displayName": "Timestamp 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Followup2",
              "displayName": "Followup2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp 3",
              "displayName": "Timestamp 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -144,
        816
      ],
      "id": "92542820-708c-4389-83f2-8ea1741458b7",
      "name": "Follow up 2 Status pending1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 2,
        "simple": false,
        "filters": {
          "q": "=from:{{ $json.Email }} to:vamsivk1465@gmail.com newer_than:7d\n"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        800,
        352
      ],
      "id": "c0be9ef0-832b-47de-852b-7d1dd7e88b59",
      "name": "Gmail1",
      "webhookId": "80584ba0-3cec-40db-80c3-9cd1d3d5241b",
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "UbWO1LFfZ6s8MzMA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$items(\"Gmail1\").length}}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "6b03efdd-a8db-478a-abd9-ef7c83b1c546"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5be1e3ce-7a46-42c1-bdc8-a107e2df4122",
                    "leftValue": "={{$items(\"Gmail1\").length}}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1040,
        352
      ],
      "id": "90fc636d-c7d2-46de-b331-b4b2d8572b13",
      "name": "Switch",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "simple": false,
        "filters": {
          "q": "=from:{{ $json.Email }} to:vamsivk1465@gmail.com newer_than:7d"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        768,
        832
      ],
      "id": "2edf13ad-dd7f-453f-a10b-3aa645d9bc38",
      "name": "Gmail2",
      "webhookId": "80584ba0-3cec-40db-80c3-9cd1d3d5241b",
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "UbWO1LFfZ6s8MzMA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$items(\"Gmail2\").length}}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "6b03efdd-a8db-478a-abd9-ef7c83b1c546"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5be1e3ce-7a46-42c1-bdc8-a107e2df4122",
                    "leftValue": "={{$items(\"Gmail2\").length}}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        976,
        832
      ],
      "id": "d28a18d4-236d-44fb-9ec5-471be715f53d",
      "name": "Switch3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "162wPewbKUCTy9FyLqngwD-bq99VG7pFB_WmhPtJ6Cg0",
          "mode": "list",
          "cachedResultName": "Bulk Email Sender",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162wPewbKUCTy9FyLqngwD-bq99VG7pFB_WmhPtJ6Cg0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Main Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162wPewbKUCTy9FyLqngwD-bq99VG7pFB_WmhPtJ6Cg0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -944,
        336
      ],
      "id": "f2bdc606-dd1b-4332-819c-67276d4aee2e",
      "name": "Fetches all data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Status }}",
                    "rightValue": "=SENT",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "bd174f38-9b06-4d85-b426-33540f1e2187"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e456c557-3863-4fdb-8632-b04f890bc0e4",
                    "leftValue": "=",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "393258e4-54f1-4549-bdc7-1a198a59a5d3",
                    "leftValue": "={{ $json.Status }}",
                    "rightValue": "pending",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -400,
        -64
      ],
      "id": "c7206687-3972-452d-b194-0d091c56b2d2",
      "name": "Switch4"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "162wPewbKUCTy9FyLqngwD-bq99VG7pFB_WmhPtJ6Cg0",
          "mode": "list",
          "cachedResultName": "Bulk Email Sender",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162wPewbKUCTy9FyLqngwD-bq99VG7pFB_WmhPtJ6Cg0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Main Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162wPewbKUCTy9FyLqngwD-bq99VG7pFB_WmhPtJ6Cg0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Email": "={{ $json.Email }}",
            "First name": "={{ $json['First name'] }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First name",
              "displayName": "First name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Timestamp 1",
              "displayName": "Timestamp 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Followup1",
              "displayName": "Followup1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Timestamp 2",
              "displayName": "Timestamp 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Followup2",
              "displayName": "Followup2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Timestamp 3",
              "displayName": "Timestamp 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -80,
        -48
      ],
      "id": "b3ce9920-e05a-4522-94f6-ac0edb52dab6",
      "name": "pending1 status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        480,
        -32
      ],
      "id": "04ea3f70-b63f-4a8e-a856-3d538379b7d0",
      "name": "Wait 30 sec",
      "webhookId": "ae68acff-617d-4d2c-922d-6f6b4b9e915c"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -672,
        -48
      ],
      "id": "f656ccb6-fbb6-4d4f-a845-528aaeb23f0b",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "162wPewbKUCTy9FyLqngwD-bq99VG7pFB_WmhPtJ6Cg0",
          "mode": "list",
          "cachedResultName": "Bulk Email Sender",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162wPewbKUCTy9FyLqngwD-bq99VG7pFB_WmhPtJ6Cg0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Main Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162wPewbKUCTy9FyLqngwD-bq99VG7pFB_WmhPtJ6Cg0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.accepted[0] }}",
            "Status": "=SENT",
            "Timestamp 1": "={{$now.setZone('Asia/Kolkata').format('yyyy-MM-dd T')}}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "First name",
              "displayName": "First name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp 1",
              "displayName": "Timestamp 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Followup1",
              "displayName": "Followup1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Timestamp 2",
              "displayName": "Timestamp 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Followup2",
              "displayName": "Followup2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Timestamp 3",
              "displayName": "Timestamp 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1216,
        -48
      ],
      "id": "f2f72175-15df-444f-8ca0-826d34c10a19",
      "name": "Main Email Update",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        176,
        -48
      ],
      "id": "85b5ebed-e19b-4cde-86e7-1c9c8731eee8",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst utc_now = now.toISOString().slice(0, 19).replace(\"T\", \" \"); // UTC\nconst ist_now = new Date(now.getTime() + 5.5 * 60 * 60 * 1000)\n                 .toISOString().slice(0, 19).replace(\"T\", \" \"); // IST\n\nreturn [\n  {\n    json: {\n      utc_now,\n      ist_now\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        336
      ],
      "id": "909b3ec2-d1ea-4409-a9dc-924045b91353",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f81450ea-92f6-49c0-8349-8b1cab3a6190",
              "leftValue": "=",
              "rightValue": "SENT",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        -32
      ],
      "id": "12d3c0af-21e0-4823-b6b4-c8a2676cca98",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c4dac063-ed24-475b-b169-390593ca326c",
              "leftValue": "={{ $json.labelIds[0] }}",
              "rightValue": "SENT",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1776,
        336
      ],
      "id": "a92beb9c-14e5-4a41-a5ba-599392d682c4",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0159983e-0322-410b-af3e-c5fd5e6f946b",
              "leftValue": "={{ $json.labelIds[0] }}",
              "rightValue": "SENT",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1712,
        848
      ],
      "id": "acb1d92e-97fe-44b6-b11a-e87303fb10d4",
      "name": "If2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c3ce191c-dd39-4fdf-ad08-1a6ad2f7f1b8",
              "name": "Email",
              "value": "={{ $('Wait 30sec').item.json.Email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        336
      ],
      "id": "586bd522-a627-450d-9254-91936904c678",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b5c53c6-ad22-4006-ad33-b50711ffe8d3",
              "name": "Email",
              "value": "={{ $('Wait 30sec1').item.json.Email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        848
      ],
      "id": "17fe8b97-bc0a-4982-8514-ee3de266f071",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "162wPewbKUCTy9FyLqngwD-bq99VG7pFB_WmhPtJ6Cg0",
          "mode": "list",
          "cachedResultName": "Bulk Email Sender",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162wPewbKUCTy9FyLqngwD-bq99VG7pFB_WmhPtJ6Cg0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1175690332,
          "mode": "list",
          "cachedResultName": "Tracking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162wPewbKUCTy9FyLqngwD-bq99VG7pFB_WmhPtJ6Cg0/edit#gid=1175690332"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Main email": "Not Seen",
            "Followup 1 Status": "Not Seen",
            "F Timestamp 2": "-",
            "Follow up2 Status": "Not Seen",
            "F Timestamp 3": "-",
            "M Timestamp 1": "-"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Main email",
              "displayName": "Main email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "M Timestamp 1",
              "displayName": "M Timestamp 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Followup 1 Status",
              "displayName": "Followup 1 Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "F Timestamp 2",
              "displayName": "F Timestamp 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow up2 Status",
              "displayName": "Follow up2 Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "F Timestamp 3",
              "displayName": "F Timestamp 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1520,
        -48
      ],
      "id": "cd99c3fa-9cb6-4f7e-99da-83917d186b59",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=",
        "message": "=",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        672,
        -32
      ],
      "id": "5f0ea7db-86d5-4786-82ac-999b0917229f",
      "name": "Gmail",
      "webhookId": "73b34251-5b94-491e-83bc-91267b856d5b",
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "credentials": {
        "gmailOAuth2": {
          "id": "UbWO1LFfZ6s8MzMA",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Wait 30sec1').item.json.Email }}",
        "subject": "={{ $('Wait 30sec1').item.json['Followup2 Subject'] }}",
        "message": "={{ $('Wait 30sec1').item.json['Follow up2 Summary'] }}\n\n<img src=\"https://n8n.srv1011051.hstgr.cloud/webhook/3?email={{ $json.Email }}\" width=\"1\" height=\"1\" style=\"display:none;\" />\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1456,
        848
      ],
      "id": "32c1c75d-c1de-4f35-a564-658a9d4fd5a9",
      "name": "Followup 2 email",
      "webhookId": "aec51fad-03fb-406c-8e47-296b4b4b33d5",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "gmailOAuth2": {
          "id": "UbWO1LFfZ6s8MzMA",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Wait 30sec').item.json.Email }}",
        "subject": "={{ $('Wait 30sec').item.json['Followup1 Subject'] }}",
        "message": "={{ $('Wait 30sec').item.json['Follow up1 Summary'] }}\n\n<img src=\"https://n8n.srv1011051.hstgr.cloud/webhook/2?email={{ $json.Email }}\" width=\"1\" height=\"1\" style=\"display:none;\" />",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1520,
        336
      ],
      "id": "48d522db-70fd-42b3-8ba8-a2da991860de",
      "name": "Followup 1 Gmail",
      "webhookId": "aec51fad-03fb-406c-8e47-296b4b4b33d5",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "gmailOAuth2": {
          "id": "UbWO1LFfZ6s8MzMA",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Wait 30sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [],
        [
          {
            "node": "Follow up 1 Status pending",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Follow up 1 Status pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Wait 30sec1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [],
        [
          {
            "node": "Follow up 2 Status pending1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Follow up 2 Status pending1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates2": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow up 1 Status pending": {
      "main": [
        [
          {
            "node": "Wait 2days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2days": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30sec": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Followup 1 email update": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Followup 2 email update": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30sec1": {
      "main": [
        [
          {
            "node": "Gmail2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 4days": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow up 2 Status pending1": {
      "main": [
        [
          {
            "node": "Wait 4days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail2": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetches all data": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remove Duplicates1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remove Duplicates2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [],
        [
          {
            "node": "pending1 status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pending1 status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30 sec": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pending1 status": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Email Update": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait 30 sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Fetches all data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Main Email Update",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Followup 1 email update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Followup 2 email update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Followup 1 Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Followup 2 email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Followup 2 email": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Followup 1 Gmail": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d04a8da8-a396-40a8-9b69-aca442c2bf77",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-15T15:32:06.252Z",
      "updatedAt": "2025-09-15T15:32:06.252Z",
      "role": "workflow:owner",
      "workflowId": "j5WiQASo0ZxTkkuG",
      "projectId": "VDyoKZWt3i5eAZSO"
    }
  ],
  "tags": []
}