Backup_2025-11-02/Ai video Creation.json
{
  "createdAt": "2025-11-02T11:24:26.704Z",
  "updatedAt": "2025-11-02T12:09:10.000Z",
  "id": "yvmPhzXvlJPPuANL",
  "name": "Ai video Creation",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "UGC",
        "formDescription": "High quality",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload product",
              "fieldType": "file",
              "acceptFileTypes": ".jpg, .png, .jpeg",
              "requiredField": true
            },
            {
              "fieldLabel": "Notes"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -576,
        -128
      ],
      "id": "4eb5471d-01b8-4c27-bc27-7660dc2f37ec",
      "name": "On form submission",
      "webhookId": "ddad5b04-b2e7-493d-84fd-97c4a05f8678"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Product image Description: {{ $json.content }}\n\nNotes: {{ $('On form submission').item.json.Notes }}",
        "options": {
          "systemMessage": "=You are a creative UGC ad prompt generator.  \nYour task is to generate a **single 12-second influencer-style UGC ad scene** for a product, based on its image description and notes.\n\nGuidelines:  \n- Focus on one clear, engaging scene only.  \n- Make it feel natural, unscripted, and casual—like something a real influencer would post on Stories or Reels.  \n- The vibe should be confident but not salesy. Think effortless recommendation, not a commercial.  \n- **The influencer must visibly hold, touch, or interact with the product at some point in the scene. Thats the point**  \n- Use **realistic, everyday settings** that match the product category (e.g., bathroom for skincare, bedroom for fashion try-ons, kitchen for food, living room for lifestyle, etc.).  \n- The influencer should be **dressed in stylish, on-trend clothing** that fits the niche. For example:  \n  - Skincare: nightwear, crop top and shorts, robe, or clean minimalist outfits.  \n  - Fashion: trendy streetwear or casual chic.  \n  - Lifestyle: relaxed but well-styled outfits.  \n- Hair should look influencer-like: trendy, well-groomed, or styled to match the vibe.  \n- Include the setting, action, and mood in a vivid but believable way.  \n- Add a short **audio suggestion** (e.g., casual VO tone, trending music, ambient sound).  \n- Avoid forced lines, exaggerated emotions, or zoom-ins.  \n- Don’t mention cameras, filming, or production instructions.  \n- Output only the scene description and audio suggestion. No labels or formatting.\n\nOutput:  \n[Scene description + audio suggestion]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -160,
        -128
      ],
      "id": "6b421ae9-ea9b-4a75-9180-ac494521ded9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -272,
        80
      ],
      "id": "04ae64f3-d4b5-476c-98ac-6a0479c64cb0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "8cTwctTGeEBOJeUq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "Describe the product in the image",
        "inputType": "base64",
        "binaryPropertyName": "Upload_product",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -368,
        -128
      ],
      "id": "9a786722-b14f-4c6d-b84f-1dc2de66b3b6",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "8cTwctTGeEBOJeUq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/videos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "sora-2"
            },
            {
              "name": "prompt",
              "value": "={{ $json.story }}"
            },
            {
              "name": "seconds",
              "value": "12"
            },
            {
              "name": "size",
              "value": "720x1280"
            },
            {
              "parameterType": "formBinaryData",
              "name": "input_reference",
              "inputDataFieldName": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        -128
      ],
      "id": "458442c6-e85d-4b44-8739-faf483420ef5",
      "name": "HTTP Request",
      "credentials": {
        "openAiApi": {
          "id": "8cTwctTGeEBOJeUq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all items (including from other nodes)\nconst formItems = $items(\"On form submission\", 0, 0);\n\nif (!formItems || formItems.length === 0) {\n  throw new Error(\"No items found from On form submission node\");\n}\n\nconst binary = formItems[0].binary?.Upload_product;\n\nif (!binary) {\n  throw new Error(\"No binary file found in Upload_product\");\n}\n\nreturn [\n  {\n    json: {},\n    binary: {\n      image: binary\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -128
      ],
      "id": "c92c2bce-8bc1-4ca5-84fa-ef841f87d4df",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3a8d2be4-23be-49a4-a288-3b4b969ae186",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-11-02T11:24:26.707Z",
      "updatedAt": "2025-11-02T11:24:26.707Z",
      "role": "workflow:owner",
      "workflowId": "yvmPhzXvlJPPuANL",
      "projectId": "VDyoKZWt3i5eAZSO"
    }
  ],
  "tags": []
}