Backup_2025-11-18/My workflow 3.json
{
  "createdAt": "2025-11-16T20:00:25.485Z",
  "updatedAt": "2025-11-16T20:33:27.000Z",
  "id": "2XrZwU8ltiI4fnfW",
  "name": "My workflow 3",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        32
      ],
      "id": "966e614b-103a-4b87-80d2-a3f77cf732ae",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "16qOP6wb30jOnSpUw_9vEkILkgIuHgnzL",
          "mode": "list",
          "cachedResultName": "4.mp4",
          "cachedResultUrl": "https://drive.google.com/file/d/16qOP6wb30jOnSpUw_9vEkILkgIuHgnzL/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -464,
        32
      ],
      "id": "bec08ed9-bf29-4df7-acd4-954d9bc434f7",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pqwDBXzX6aAkWb7p",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "8417171830",
        "binaryData": true,
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Approve",
                    "additionalFields": {
                      "callback_data": "Approve"
                    }
                  },
                  {
                    "text": "Decline",
                    "additionalFields": {
                      "callback_data": "Decline"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -256,
        32
      ],
      "id": "30ea8583-5008-4622-b517-bddb31124214",
      "name": "Send a video",
      "webhookId": "d1573583-1c49-40e1-8ac2-7c822caea616",
      "credentials": {
        "telegramApi": {
          "id": "Eb5m8Ou5otuazRt3",
          "name": "Summary"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -528,
        192
      ],
      "id": "bcc24146-fa84-496d-8ed0-df5cba3f039b",
      "name": "Telegram Trigger",
      "webhookId": "3785b36b-f7af-4223-a322-48082bce798c",
      "credentials": {
        "telegramApi": {
          "id": "Eb5m8Ou5otuazRt3",
          "name": "Summary"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "93307491-aae5-4aa4-9bd3-117738b1e37c",
              "leftValue": "={{ $json.callback_query.data }}",
              "rightValue": "decline",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        192
      ],
      "id": "3803ec0e-e291-47c5-9f2a-13c317246116",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "8417171830",
        "text": "Reason for decline?",
        "replyMarkup": "forceReply",
        "forceReply": {
          "force_reply": true,
          "selective": true
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -112,
        288
      ],
      "id": "7aabd73d-cee5-4294-b4b9-cb7d3995937a",
      "name": "Send a text message",
      "webhookId": "da314f42-0460-4a7b-9cc5-739bd0ab5972",
      "credentials": {
        "telegramApi": {
          "id": "Eb5m8Ou5otuazRt3",
          "name": "Summary"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -528,
        400
      ],
      "id": "04f1ade1-2bcf-40da-889c-cb0abfdc2fdd",
      "name": "Telegram Trigger1",
      "webhookId": "91eac972-3157-446a-864c-725e6e93178e",
      "credentials": {
        "telegramApi": {
          "id": "Eb5m8Ou5otuazRt3",
          "name": "Summary"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Send a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2f1fceb8-f0a7-4bf1-a771-fed8e55d6dd7",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-11-16T20:00:25.488Z",
      "updatedAt": "2025-11-16T20:00:25.488Z",
      "role": "workflow:owner",
      "workflowId": "2XrZwU8ltiI4fnfW",
      "projectId": "VDyoKZWt3i5eAZSO"
    }
  ],
  "tags": []
}