Backup_2025-10-30/Fb leads.json
{
  "createdAt": "2025-10-29T20:39:35.504Z",
  "updatedAt": "2025-10-29T21:19:16.000Z",
  "id": "1Q4Uf5ONosEK0xnB",
  "name": "Fb leads",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "metaleads",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -384,
        -112
      ],
      "id": "299535dd-3433-4e02-8c2a-876e0901ae7d",
      "name": "Webhook",
      "webhookId": "853a238d-7839-443d-a706-0de9b6ce72a8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c59ec935-f5cb-468f-9fa6-6925f237257a",
              "name": "",
              "value": "EAA4F8UbpYA4BP9NeMrYpZBI4m0bkQDz3wPrZBBoGATfZAWZAAvPcbMpYpbuBVLC1YZAF6DLnPtJsOjZAtOEKVdbXatBKGpLKchihlCcUF3q8QgMxyIypK8fd5ALIUGiZBP5eO28c25A5EojbBifvEs5v0hQdkLukGfDdeAWDHWinyYfQErDOC92uqhsXhK4jrMkYZCrSM1W1RD9MhC3QRmYk",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        96
      ],
      "id": "92a05a77-0a22-425a-a671-014235617b4b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const entries = $json.entry || [];\nconst leadgenId = entries[0]?.changes?.[0]?.value?.leadgen_id;\nreturn [{ json: { leadgen_id: leadgenId } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -112
      ],
      "id": "f79ab50b-7cea-45ae-970f-c0c2dabfb33b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v20.0/{{$json.leadgen_id}}?access_token=YOUR_LONG_LIVED_ACCESS_TOKEN",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        -112
      ],
      "id": "208e4be5-e664-46fe-b29f-d302f674dca0",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const data = {};\nconst fields = $json.field_data || [];\nfor (const f of fields) {\n  data[f.name] = f.values[0];\n}\nreturn [{ json: data }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -112
      ],
      "id": "bc9b29cd-8628-487a-9f5b-3b907f36495b",
      "name": "Code in JavaScript1"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "56f0399a-0e5c-4714-9785-3dc3cfce01b3",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-29T20:39:35.509Z",
      "updatedAt": "2025-10-29T20:39:35.509Z",
      "role": "workflow:owner",
      "workflowId": "1Q4Uf5ONosEK0xnB",
      "projectId": "VDyoKZWt3i5eAZSO"
    }
  ],
  "tags": []
}