Backup_2025-09-17/Content Generator.json
{
  "createdAt": "2025-09-15T15:35:34.857Z",
  "updatedAt": "2025-09-15T15:35:42.000Z",
  "id": "n6sMmVyLQ4e7UNoh",
  "name": "Content Generator",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -368,
        -112
      ],
      "id": "b0c630e8-b2aa-4960-aae9-c70d963fe48d",
      "name": "When chat message received",
      "webhookId": "1446f599-0362-44ee-82d3-075f6d06a378"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Write 3 LinkedIn post drafts for startup founders about “getting first 10 customers”.\nOutput valid JSON with fields: title, body, hashtags (array), first_comment, tone.\n",
        "hasOutputParser": true,
        "needsFallback": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are an expert LinkedIn copywriter for founders.  Follow Lead Magnet Playbook: give immediate utility, show time/money impact,  include a clear CTA to a lead magnet.  Always output valid JSON only."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -160,
        -112
      ],
      "id": "4f4af24d-0256-46f6-9cfa-a75cc4d46641",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"Your First 10 Customers\",\n  \"body\": \"Getting your first customers is not about ads. It's about conversations...\",\n  \"hashtags\": [\"#startups\", \"#founders\", \"#growth\"],\n  \"first_comment\": \"Want my free playbook? Comment '10' below.\",\n  \"tone\": \"Professional\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        64,
        96
      ],
      "id": "3933efcb-5079-4a9e-8220-5c5105493fe7",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3.3-8b-instruct:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -112,
        96
      ],
      "id": "f8920098-24ea-4295-b776-1d5bcfcf5295",
      "name": "OpenRouter Chat Model1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1I5-WrXcxHMhnEkoXYZp8dwyxQTbfU37mwO6WzMW11HI",
          "mode": "list",
          "cachedResultName": "new sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I5-WrXcxHMhnEkoXYZp8dwyxQTbfU37mwO6WzMW11HI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I5-WrXcxHMhnEkoXYZp8dwyxQTbfU37mwO6WzMW11HI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tone": "={{ $json.output.tone }}",
            "created at": "{{new Date().toISOString()}}",
            "title": "={{ $json.output.title }}",
            "body": "={{ $json.output.body }}",
            "hashtags": "={{ $json.output.hashtags }}",
            "first comment": "={{ $json.output.first_comment }}"
          },
          "matchingColumns": [
            "Linkedin post content"
          ],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hashtags",
              "displayName": "hashtags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first comment",
              "displayName": "first comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tone",
              "displayName": "tone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created at",
              "displayName": "created at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        192,
        -112
      ],
      "id": "78e75137-d989-4feb-85ce-e960a2bb6650",
      "name": "Append row in sheet"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -288,
        96
      ],
      "id": "30527bef-d351-4b6e-a27e-e97cce244884",
      "name": "OpenAI Chat Model"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "6cfa07af-cc57-4205-a48b-40518237e896",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-15T15:35:34.859Z",
      "updatedAt": "2025-09-15T15:35:34.859Z",
      "role": "workflow:owner",
      "workflowId": "n6sMmVyLQ4e7UNoh",
      "projectId": "VDyoKZWt3i5eAZSO"
    }
  ],
  "tags": []
}