Backup_2025-12-13/Bulk Email Tracking.json
{
  "createdAt": "2025-09-15T17:25:25.609Z",
  "updatedAt": "2025-09-15T19:12:43.000Z",
  "id": "B5etfbAGn5YiMdN1",
  "name": "Bulk Email Tracking",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "1",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -544,
        -112
      ],
      "id": "596927f9-9313-4c7f-ace4-67368e49ea2c",
      "name": "Webhook",
      "webhookId": "34f932d2-7b69-4ef5-ba56-9db085b275ca"
    },
    {
      "parameters": {
        "path": "2",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -544,
        64
      ],
      "id": "6577997a-d2a3-430e-ac39-ed81febb13e4",
      "name": "Webhook1",
      "webhookId": "11182207-3f7c-4a1a-acc9-34a0d2517606"
    },
    {
      "parameters": {
        "path": "3",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -528,
        240
      ],
      "id": "c0738151-52a2-4f47-9818-a3af5a53ae1f",
      "name": "Webhook2",
      "webhookId": "89b6dee4-ec90-4796-8a5d-3018aec2b6eb"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "162wPewbKUCTy9FyLqngwD-bq99VG7pFB_WmhPtJ6Cg0",
          "mode": "list",
          "cachedResultName": "Bulk Email Sender",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162wPewbKUCTy9FyLqngwD-bq99VG7pFB_WmhPtJ6Cg0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1175690332,
          "mode": "list",
          "cachedResultName": "Tracking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162wPewbKUCTy9FyLqngwD-bq99VG7pFB_WmhPtJ6Cg0/edit#gid=1175690332"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.query.email }}",
            "Follow up2 Status": "Seen",
            "F Timestamp 3": "={{$now.setZone('Asia/Kolkata').format('yyyy-MM-dd T')}}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Main email",
              "displayName": "Main email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "M Timestamp 1",
              "displayName": "M Timestamp 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Followup 1 Status",
              "displayName": "Followup 1 Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "F Timestamp 2",
              "displayName": "F Timestamp 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Follow up2 Status",
              "displayName": "Follow up2 Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "F Timestamp 3",
              "displayName": "F Timestamp 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -240,
        240
      ],
      "id": "1862d0e2-8073-4cd2-9b39-854a504b1446",
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        16,
        -112
      ],
      "id": "e14a9398-e9b4-422f-9686-dd7bb9188e0c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        48,
        64
      ],
      "id": "4f331cd2-2455-4a5e-81d2-4a290e4480b2",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        48,
        240
      ],
      "id": "336884f7-98e2-47b6-9afe-d79ae038b881",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "162wPewbKUCTy9FyLqngwD-bq99VG7pFB_WmhPtJ6Cg0",
          "mode": "list",
          "cachedResultName": "Bulk Email Sender",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162wPewbKUCTy9FyLqngwD-bq99VG7pFB_WmhPtJ6Cg0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1175690332,
          "mode": "list",
          "cachedResultName": "Tracking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162wPewbKUCTy9FyLqngwD-bq99VG7pFB_WmhPtJ6Cg0/edit#gid=1175690332"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.query.email }}",
            "Followup 1 Status": "Seen",
            "F Timestamp 2": "={{$now.setZone('Asia/Kolkata').format('yyyy-MM-dd T')}}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Main email",
              "displayName": "Main email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "M Timestamp 1",
              "displayName": "M Timestamp 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Followup 1 Status",
              "displayName": "Followup 1 Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "F Timestamp 2",
              "displayName": "F Timestamp 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow up2 Status",
              "displayName": "Follow up2 Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "F Timestamp 3",
              "displayName": "F Timestamp 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -256,
        64
      ],
      "id": "5e196e6f-6d92-4269-b113-46aeb2a9d35e",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "162wPewbKUCTy9FyLqngwD-bq99VG7pFB_WmhPtJ6Cg0",
          "mode": "list",
          "cachedResultName": "Bulk Email Sender",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162wPewbKUCTy9FyLqngwD-bq99VG7pFB_WmhPtJ6Cg0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1175690332,
          "mode": "list",
          "cachedResultName": "Tracking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/162wPewbKUCTy9FyLqngwD-bq99VG7pFB_WmhPtJ6Cg0/edit#gid=1175690332"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.query.email }}",
            "Main email": "Seen",
            "M Timestamp 1": "={{$now.setZone('Asia/Kolkata').format('yyyy-MM-dd T')}}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Main email",
              "displayName": "Main email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "M Timestamp 1",
              "displayName": "M Timestamp 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Followup 1 Status",
              "displayName": "Followup 1 Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "F Timestamp 2",
              "displayName": "F Timestamp 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Follow up2 Status",
              "displayName": "Follow up2 Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "F Timestamp 3",
              "displayName": "F Timestamp 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -288,
        -112
      ],
      "id": "b4da00c1-1caa-4c51-add5-4ab36581b713",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Update row in sheet2": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "03a52b26-b549-4d93-9fba-81719599cc14",
  "triggerCount": 3,
  "shared": [
    {
      "createdAt": "2025-09-15T17:25:25.612Z",
      "updatedAt": "2025-09-15T17:25:25.612Z",
      "role": "workflow:owner",
      "workflowId": "B5etfbAGn5YiMdN1",
      "projectId": "VDyoKZWt3i5eAZSO"
    }
  ],
  "tags": []
}