Backup_2025-10-29/RAG Agent Using Pinecone.json
{
  "createdAt": "2025-10-09T15:07:50.590Z",
  "updatedAt": "2025-10-09T17:36:42.000Z",
  "id": "f7m31dLEDBC1grBn",
  "name": "RAG Agent Using Pinecone",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1d-v_2brIOiaZqojcfreeqFlF0sMzgtW1",
          "mode": "list",
          "cachedResultName": "Lawyer",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1d-v_2brIOiaZqojcfreeqFlF0sMzgtW1"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        -160
      ],
      "id": "4d995e60-ad3a-4f73-ba0e-b9f138bca894",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pqwDBXzX6aAkWb7p",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -112,
        -160
      ],
      "id": "f75884a6-0245-4161-b760-493fe2344eb3",
      "name": "Download File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pqwDBXzX6aAkWb7p",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {
          "pineconeNamespace": "Lawyer"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        96,
        -160
      ],
      "id": "78b4c19e-b9b0-433b-8c3a-5bfbd8ed2080",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "1vz29s1Fhrm477mb",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        48,
        48
      ],
      "id": "9bb70d6c-0015-4544-953f-bad530885b01",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "8cTwctTGeEBOJeUq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        224,
        48
      ],
      "id": "9fa7b7c3-d3ae-4dea-b79e-66f4eb876564",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        224,
        208
      ],
      "id": "e3c2a202-a7a3-4861-b11a-db715d8cce9b",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        1024,
        -192
      ],
      "id": "abf491dd-29ba-456a-a380-fcb4577daa5e",
      "name": "When chat message received",
      "webhookId": "e05fa42e-e744-4485-94b8-5ec734229ebf"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1232,
        -192
      ],
      "id": "4257f387-b223-4455-b833-03db4b9b4afc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1104,
        16
      ],
      "id": "f77234e3-092e-49fa-913a-0d21aa88d458",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Gq3qNdXZmlzVb7Jg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1216,
        16
      ],
      "id": "b1cac4df-a789-41d2-be43-cda5ff9b367b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1344,
        208
      ],
      "id": "7e75e8c3-1d14-4947-abd9-3dd3225e07a8",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "8cTwctTGeEBOJeUq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "This tool MUST be called for ANY user query if relevant information exists in the database. \nDo NOT answer queries without calling this tool first. \nReturn structured information (names, dates, cases, clients) if available.\n",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {
          "pineconeNamespace": "Lawyer"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1360,
        16
      ],
      "id": "fda07d0c-6de3-430a-8517-29dd6f818dab",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "1vz29s1Fhrm477mb",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Nodes & Flow\n\n## Google Drive Trigger\n\nWatches a specific folder (Lawyer folder) for new files.\n\nTriggers workflow every minute when a file is created.\n\n## Download File\n\nDownloads the newly added file from Google Drive.\n\n## Pinecone Vector Store\n\nStores the file’s content as vectors in Pinecone under the Lawyer namespace.\n\nAllows future AI queries to search through these documents efficiently.\n\n## Embeddings OpenAI\n\nConverts the file content into AI embeddings (numerical representation of the text) for Pinecone storage.\n\n## Recursive Character Text Splitter\n\nSplits long text into smaller chunks so embeddings are more accurate and searchable.",
        "height": 944,
        "width": 1568
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1088,
        -512
      ],
      "typeVersion": 1,
      "id": "0cf58e0e-7759-4774-b59c-54758ee56a3d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Nodes & Flow\n\nWhen chat message received (chatTrigger)\n\nTrigger: Starts the workflow whenever a user sends a message to the AI.\n\n## AI Agent\n\nCentral node that handles user queries.\n\nReceives input from the chat trigger, memory, Pinecone, and language model.\n\nDecides how to respond using available tools.\n\n## Google Gemini Chat Model\n\nLanguage model that generates the AI’s responses.\n\n## Simple Memory (memoryBufferWindow)\n\nStores conversation context temporarily.\n\nHelps AI remember recent messages to maintain coherent chat.\n\nEmbeddings OpenAI1\n\nConverts text data into embeddings (numerical format) for Pinecone.\n\n## Pinecone Vector Store1\n\nActs as a tool for the AI.\n\nMust be called for any query if relevant info exists.\n\nRetrieves structured information (names, dates, cases, clients) from the database.",
        "height": 1104,
        "width": 1152,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        -512
      ],
      "typeVersion": 1,
      "id": "5d459a8b-6917-4f52-8134-fd2d7555c7d1",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ab350fe1-dea6-4fbc-b89a-e729da497a14",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-09T15:07:50.593Z",
      "updatedAt": "2025-10-09T15:07:50.593Z",
      "role": "workflow:owner",
      "workflowId": "f7m31dLEDBC1grBn",
      "projectId": "VDyoKZWt3i5eAZSO"
    }
  ],
  "tags": []
}