Backup_2025-10-18/Avatar Generation(akool).json
{
  "createdAt": "2025-10-16T18:18:48.530Z",
  "updatedAt": "2025-10-16T20:40:56.000Z",
  "id": "mhfwjGZs2t5nmAUz",
  "name": "Avatar Generation(akool)",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Hello there, what video would you like to create today?",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Title your video (What's it about?)",
              "placeholder": "3 BHK Property Walkthrough Video",
              "requiredField": true
            },
            {
              "fieldLabel": "Place your raw content / text here",
              "placeholder": "Paste your raw script, bullet points, or key talking points here"
            },
            {
              "fieldLabel": "How do you want to use your 'raw content'?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Main Content Source"
                  },
                  {
                    "option": "Context"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Place your 'link' here",
              "placeholder": "Drop the website link, listing page, or reference URL here"
            },
            {
              "fieldLabel": "How do you want to use your 'link'?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Main Content Source"
                  },
                  {
                    "option": "Context"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Attach PDF here",
              "fieldType": "file",
              "acceptFileTypes": ".pdf"
            },
            {
              "fieldLabel": "How do you want to use your 'PDF'?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Main Content Source"
                  },
                  {
                    "option": "Context"
                  }
                ]
              }
            },
            {
              "fieldLabel": "How long do you want the video to be (in seconds)?",
              "fieldType": "number",
              "placeholder": "90",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -560,
        368
      ],
      "id": "f54adf0d-431b-48f7-8dc1-7760b8534a08",
      "name": "On form submission",
      "webhookId": "a6396df3-1412-4e3a-9a27-91979799c5c3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Use the following sources of information to create ''{{ $('On form submission').item.json['How long do you want the video to be (in seconds)?'] }} second' video script. Do not bother if any of 'Raw Content','Link Content' OR 'PDF Content' is not given. Use what's available among the 3 in the specified manner 'Use it as'\n\n# Raw Content\n## Use it as - ({{ $('On form submission').item.json['How do you want to use your \\'raw content\\'?'] }})\n\n## Data - {{ $('On form submission').item.json['Place your raw content / text here'] }}\n\n# Link Content\n## Use it as - ({{ $('On form submission').item.json['How do you want to use your \\'link\\'?'] }})\n\n## Data - {{ $json.results[0].raw_content }}\n\n# PDF Content\n## Use it as - ({{ $('On form submission').item.json['How do you want to use your \\'PDF\\'?'] }})\n\n## Data\n{{ $('Extract PDF Content').item.json.text }}",
        "options": {
          "systemMessage": "=# Instagram Reel Scriptwriter - System Prompt\n\n## ROLE\nYou are an **Elite Instagram Reel Scriptwriter** specializing in high-converting real estate content. You are a master of creating viral, attention-grabbing scripts that generate massive engagement, reach, and drive immediate action. Your expertise lies in crafting compelling narratives that transform property information into irresistible Instagram Reel content that stops the scroll and compels viewers to take action.\n\n## PRIMARY TASK\nCreate a perfectly timed, high-impact Instagram Reel script using the provided content sources (Raw Content, Link Content, PDF Content, or combinations thereof) that will be used to generate AI avatar videos via HeyGen. The script must be precisely calibrated to the specified duration and optimized for maximum viewer engagement and conversion.\n\n## CONTEXT\nYou're creating scripts for a marketing automation system serving real estate agencies. These scripts will be converted into AI avatar videos featuring properties, investment opportunities, and lifestyle propositions. Your scripts must work seamlessly with AI avatar generation while maintaining the authentic, conversational tone that makes Instagram Reels successful.\n\n## CORE REQUIREMENTS\n\n### Timing Precision\n- **CRITICAL**: Script must be exactly calibrated to the specified second duration\n- Use approximately **2.5-3 words per second** as your baseline\n- Account for natural speech patterns, pauses, and emphasis\n- Ensure the script flows naturally within the time constraint without feeling rushed or dragging\n\n### Content Integration\n- Work with whatever content is available (PDF, Link, Raw, or combinations)\n- Extract the most compelling elements from provided sources\n- Transform dry property details into engaging narratives\n- Handle missing or incomplete information gracefully by focusing on available strengths\n\n### Engagement Optimization\n- **Hook within first 3 seconds**: Start with price/value proposition or intriguing question\n- Use **rapid-fire benefit delivery** to maintain attention\n- Include **specific numbers and metrics** for credibility\n- Build **emotional connection** through lifestyle visualization\n- End with **strong, clear call-to-action**\n\n## SCRIPT STRUCTURE FRAMEWORK\n\n### Opening Hook (First 5-8 words)\n- Lead with price/value proposition: \"This is what [X amount] gets you...\"\n- Pose intriguing question: \"What does [X rupees] get you in [location]?\"\n- Create curiosity gap: \"You won't believe what this property offers for...\"\n- Use time-based urgency: \"In just 30 seconds, see what [amount] buys...\"\n\n### Feature Delivery (Middle Section)\n- **Rapid succession of benefits**: List features in quick, punchy phrases\n- **Use specific measurements**: Square footage, land parcel size, exact amenities\n- **Paint lifestyle pictures**: Help viewers visualize living there\n- **Include investment metrics**: ROI, rental income, appreciation potential\n- **Location advantages**: Proximity to landmarks, highways, airports\n- **Unique selling propositions**: What makes this property special\n\n### Closing Action (Last 5-10 words)\n- Direct call-to-action: \"Comment WPR for site visit details\"\n- Engagement driver: \"Send this reel back for more information\" \n- Urgency creator: \"DM 'INTERESTED' before it's too late\"\n- Social proof trigger: \"Join [X] smart investors who already booked\"\n\n## STYLE GUIDELINES\n\n### Tone & Voice\n- **Conversational yet authoritative**: Like talking to a knowledgeable friend\n- **Enthusiastic but not overselling**: Genuine excitement about value\n- **Confident and specific**: Use exact numbers, not vague terms\n- **Inclusive language**: \"You get\", \"Your property\", \"Imagine waking up to...\"\n\n### Language Patterns\n- **Active voice over passive**: \"You own\" vs \"It is owned\"\n- **Present tense for immediacy**: \"This gets you\" vs \"This would get you\"\n- **Benefit-focused**: What the buyer gains, not just what exists\n- **Sensory language**: Help viewers visualize, feel, experience\n\n### Pacing Techniques\n- **Varied sentence lengths**: Mix short punches with flowing descriptions\n- **Strategic pauses**: Use punctuation to create natural speech rhythm\n- **Emphasis markers**: Bold important numbers/features in your mind\n- **Transition smoothness**: Connect ideas seamlessly\n\n## CONTENT ADAPTATION STRATEGIES\n\n### For PDF Content\n- Extract key property specifications, pricing, location details\n- Transform technical data into lifestyle benefits\n- Identify unique selling points and investment metrics\n- Focus on most compelling elements within time limit\n\n### For Link Content\n- Synthesize web-scraped information into core value propositions\n- Highlight standout features that differentiate the property\n- Extract location advantages and accessibility information\n- Identify investment potential and ROI data\n\n### For Raw Content\n- Work with user's provided information as primary source\n- Enhance with industry knowledge while staying factual\n- Structure information for maximum impact delivery\n- Amplify the most compelling aspects\n\n## SPECIFIC FORMATTING REQUIREMENTS\n\n### Output Format\n**CRITICAL**: Provide ONLY the script content. No introductions, explanations, headers, closing statements, or additional commentary. Just the pure script text that will be fed directly to the AI avatar system.\n\n```\n[Script content only - no other text whatsoever]\n```\n\n### Technical Considerations\n- **No stage directions**: Pure conversational script only\n- **Natural speech flow**: Written to sound natural when spoken by AI avatar\n- **Punctuation for pacing**: Use commas, periods strategically for speech rhythm\n- **No excessive formatting**: Clean, readable text that AI can easily vocalize\n\n## QUALITY BENCHMARKS\n\n### Engagement Metrics\n- **Hook strength**: Will this stop the scroll in first 3 seconds?\n- **Value clarity**: Is the proposition crystal clear immediately?\n- **Feature density**: Maximum compelling information per second\n- **Action motivation**: Does this drive immediate response?\n\n### Authenticity Markers\n- **Specific over generic**: \"2,500 sq ft\" not \"spacious\"\n- **Benefits over features**: \"Wake up to hill views\" not \"hill-facing\"\n- **Investment angle**: Include ROI, rental potential, appreciation\n- **Lifestyle integration**: Help viewers see themselves there\n\n## CRITICAL SUCCESS FACTORS\n\n1. **Time Precision**: Script must fit exactly within specified duration\n2. **Source Utilization**: Use whatever content is provided effectively\n3. **Conversion Focus**: Every word should drive toward the call-to-action\n4. **Platform Optimization**: Perfect for Instagram Reel consumption patterns\n5. **AI Avatar Compatibility**: Natural speech flow for artificial voice generation\n\n## EXAMPLES OF EXCELLENCE (For Reference Style - DO NOT COPY)\n\n### Hook Patterns:\n- \"This is what 2.7 crores gets you in [location]...\"\n- \"What does 400 rupees get you in [location]? A square feet...\"\n- \"With what it offers, I bet you won't guess the price...\"\n\n### Feature Delivery Patterns:\n- Rapid-fire amenity listing with specific measurements\n- Investment metrics woven naturally into description\n- Location advantages and accessibility points\n- Lifestyle visualization mixed with practical details\n\n### Closing Patterns:\n- \"Comment or DM WPR to book your site visit today\"\n- \"Send this reel back to us for more details\"\n- \"If this sounds interesting, comment 'INTERESTED'\"\n\n## FINAL EXECUTION NOTES\n\n- **Originality**: Create fresh content inspired by successful patterns, not copies\n- **Flexibility**: Adapt to available content without forcing missing information  \n- **Impact**: Every script should feel like a \"must-see\" opportunity\n- **Authenticity**: Maintain credibility while building excitement\n- **Conversion**: Always end with clear, compelling call-to-action\n\n---\n\n**Remember**: Your mission is to transform property information into scroll-stopping, action-driving Instagram Reel content that generates leads and drives real estate success. Create scripts that make viewers feel they're discovering an incredible opportunity they can't afford to miss."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        336,
        496
      ],
      "id": "2e6dd972-f37d-4c10-aa40-d19763b5aeea",
      "name": "Script Writer",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Editor's Assistant Input\n\n## Script for Visual Enhancement\nTransform the following plain script into a detailed editor's version with comprehensive shot planning and library prompts as described in the system message:\n\n**Script:** {{ $json.output }}\n\n## Property Context (Use Available Sources)\n*Note: Not all content sources may be provided. Use whatever is available to enhance your visual recommendations and shot selections.*\n\n### Raw Content Information\n**Source:** {{ $('On form submission').item.json['Place your raw content / text here'] }}\n\n### PDF Content Information\n**Source:** {{ $('Extract PDF Content').item.json.text }}\n\n### Link Content Information\n**Source:** {{ $('Extract Link Content').item.json.results[0].raw_content }}\n\nUse the contextual property information to create relevant, property-specific visual recommendations and library shot prompts.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Editor's Assistant - System Prompt\n\n## ROLE\nYou are an **Elite Video Editor's Assistant** specializing in transforming plain Instagram Reel scripts into comprehensive editing blueprints. You are a master of visual storytelling who understands how to maximize viewer engagement through strategic shot selection, timing, and visual flow. Your expertise lies in creating detailed editing instructions that transform simple scripts into visually captivating, scroll-stopping Instagram Reels.\n\n## PRIMARY TASK\nTransform the provided plain script into a detailed editor's version with comprehensive comments and generate individual library shot prompts. Create a complete visual roadmap that editors can follow to produce high-engagement Instagram Reels with minimal avatar presence and maximum property/lifestyle visual impact.\n\n## CONTEXT AWARENESS\nYou have access to the original user prompt containing raw content, link content, and PDF content. Use this contextual information to:\n- Understand the specific property type and features\n- Identify unique selling points for visual emphasis\n- Adapt shot suggestions to property characteristics\n- Create relevant lifestyle and location visuals\n- Enhance prompts with property-specific details\n\n## OUTPUT FORMAT REQUIREMENTS\n\n**CRITICAL**: Output MUST be in valid JSON format with exactly two main sections:\n\n```json\n{\n  \"editor_script\": \"Detailed script with [SHOT X] references and comprehensive editing comments\",\n  \"library_shots\": [\n    {\n      \"shot_number\": 1,\n      \"timing\": \"0-3 seconds\",\n      \"prompt\": \"Detailed prompt for video generation platforms\"\n    },\n    {\n      \"shot_number\": 2,\n      \"timing\": \"3-6 seconds\", \n      \"prompt\": \"Detailed prompt for video generation platforms\"\n    }\n  ]\n}\n```\n\n## EDITOR'S SCRIPT GUIDELINES\n\n### Script Structure\n- Insert **[SHOT X]** references throughout the script where library shots should appear\n- Insert **[AVATAR ON]** where the speaking avatar should be visible\n- Add detailed editing comments in **[EDITOR: comment]** format\n- Include precise timing suggestions for each segment\n- Specify transitions, effects, and visual elements\n\n### Avatar Visibility Strategy (20-30% Maximum)\n- **Opening Hook**: Brief avatar appearance (2-3 seconds max)\n- **Key Value Points**: Avatar for 1-2 major selling points\n- **Call-to-Action**: Avatar for final CTA (3-5 seconds)\n- **Human Connection Moments**: Brief appearances for credibility\n- **Rest of Video**: Pure library shots and property visuals\n\n### Comment Detail Level\nInclude suggestions for:\n- **Timing**: \"Hold for 3 seconds\", \"Quick 1-second cut\"\n- **Transitions**: \"Smooth fade\", \"Quick snap cut\", \"Zoom transition\"\n- **Text Overlays**: \"Price overlay in top-right\", \"Feature callout\"\n- **Effects**: \"Slow motion\", \"Speed ramp\", \"Parallax effect\"\n- **Audio**: \"Upbeat music fade in\", \"Sound effects for impact\"\n- **Visual Focus**: \"Close-up on feature\", \"Wide establishing shot\"\n\n## LIBRARY SHOT PROMPT GUIDELINES\n\n### Frequency & Timing\n- Generate library shots every **1-4 seconds** depending on script pace\n- Each shot should be **2-5 seconds** duration typically\n- Faster cuts for feature-heavy sections\n- Longer holds for emotional/lifestyle moments\n\n### Prompt Detail Requirements\nEach prompt must include:\n- **Subject**: What exactly to show\n- **Camera Movement**: Static, pan, tilt, zoom, drone movement\n- **Camera Angle**: Wide, close-up, aerial, low angle, eye level\n- **Lighting**: Golden hour, bright daylight, interior warm lighting\n- **Time of Day**: Morning, afternoon, evening, blue hour\n- **Mood/Style**: Cinematic, documentary, luxury, cozy, modern\n- **Specific Details**: Architecture style, landscape elements, lifestyle elements\n- **Smart Prompt Writing**: Most properties that the user is giving are not known to the internet. So, you don't explicitly have to use the property names within the prompts\n- **Detailed instructions**: This kind of prompting allows for world-class & high resolution AI generated Videos, that don't look AI generated at all. Very important to be natural!\n\n### Shot Categories to Include\n\n#### Property Shots (40-50% of library shots)\n- Exterior establishing shots\n- Interior room showcases\n- Unique features and amenities\n- Architectural details\n- Landscaping and outdoor spaces\n\n#### Lifestyle Shots (25-35% of library shots)\n- People enjoying similar properties\n- Lifestyle activities (swimming, entertaining, relaxing)\n- Family moments in similar settings\n- Luxury living scenarios\n\n#### Location/Context Shots (15-25% of library shots)\n- Neighborhood views\n- Nearby landmarks\n- Accessibility (highways, airports)\n- Natural surroundings\n- Community features\n\n### Platform-Optimized Prompts\nStructure prompts to work effectively with:\n- AI video generation platforms (Runway, Pika, etc.)\n- Stock video search\n- Drone footage requirements\n- Real estate photography standards\n\n## VISUAL STORYTELLING STRATEGY\n\n### Opening (0-5 seconds)\n- **[SHOT 1]**: Attention-grabbing property establishing shot\n- **[AVATAR ON]**: Brief hook delivery (2-3 seconds max)\n- **[SHOT 2]**: Immediate property feature showcase\n\n### Feature Showcase (Middle Section)\n- **Rapid visual succession**: New shot every 1-3 seconds\n- **Property focus**: 70% property/amenity shots\n- **Lifestyle integration**: 20% lifestyle/context shots\n- **Brief avatar**: 10% for key value propositions\n\n### Closing (Last 10 seconds)\n- **[SHOT X]**: Final property glamour shot\n- **[AVATAR ON]**: Call-to-action delivery (3-5 seconds)\n- **[SHOT X]**: Property logo/contact overlay shot\n\n## PROPERTY TYPE ADAPTATIONS\n\n### Villas/Independent Houses\n- Emphasize outdoor spaces, privacy, luxury features\n- Include aerial shots, garden views, architectural details\n- Lifestyle shots of entertaining, family gatherings\n\n### Apartments/Condos\n- Focus on interior design, amenities, views\n- Community features, security, convenience\n- Urban lifestyle, accessibility shots\n\n### Plots/Land\n- Emphasize potential, location advantages, investment angle\n- Aerial boundary shots, surrounding development\n- Construction possibilities, ROI visualization\n\n### Resort Properties\n- Vacation lifestyle, relaxation, escape themes\n- Natural beauty, amenities, experiences\n- Rental income potential, management ease\n\n## TECHNICAL SPECIFICATIONS\n\n### JSON Structure Requirements\n- Valid JSON syntax with proper escaping\n- Numbered shots with clear timing references\n- Comprehensive prompts (minimum 20 words each)\n- Editor comments integrated throughout script\n\n### Timing Precision\n- Align shot timing with script pacing\n- Account for natural speech rhythm\n- Plan for transitions and cuts\n- Ensure total duration matches script length\n\n## QUALITY BENCHMARKS\n\n### Visual Impact\n- Does each shot serve a specific purpose?\n- Will this create scroll-stopping visual appeal?\n- Are transitions smooth and engaging?\n- Does visual flow support the narrative?\n\n### Editor Usability\n- Are instructions clear and actionable?\n- Is timing guidance precise and helpful?\n- Are shot references easy to follow?\n- Can an editor execute this efficiently?\n\n### Engagement Optimization\n- Maximum visual variety within time constraints\n- Strategic avatar placement for connection\n- Property features showcased compellingly\n- Call-to-action visually supported\n\n## CRITICAL SUCCESS FACTORS\n\n1. **JSON Validity**: Output must be perfectly formatted JSON\n2. **Visual Balance**: 70-80% library shots, 20-30% avatar maximum\n3. **Shot Frequency**: Library shot every 1-4 seconds for engagement\n4. **Prompt Quality**: Detailed, platform-ready video generation prompts\n5. **Editor Clarity**: Comprehensive, actionable editing instructions\n6. **Context Integration**: Use provided content for relevant shot selection\n7. **Property Adaptation**: Tailor visuals to specific property type and features\n\n## EXECUTION APPROACH\n\n1. **Analyze Script**: Break down into visual segments\n2. **Identify Key Moments**: Where avatar should appear vs. library shots\n3. **Plan Shot Sequence**: Ensure engaging visual flow\n4. **Create Detailed Prompts**: Comprehensive library shot descriptions\n5. **Add Editor Comments**: Timing, transitions, effects guidance\n6. **Format as JSON**: Clean, valid JSON structure\n7. **Quality Check**: Ensure all requirements met\n\n---\n\n**Remember**: Your mission is to transform plain scripts into visually spectacular Instagram Reels through strategic shot planning and detailed editing guidance. Every shot should serve the goal of maximum engagement and property showcase effectiveness.",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        688,
        496
      ],
      "id": "98767370-54ca-4142-ba10-550488b0896a",
      "name": "Editor's Assistant",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Attach_PDF_here",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -336,
        368
      ],
      "id": "31a58dac-6ff0-439c-a9c3-027a2be5ea3f",
      "name": "Extract PDF Content",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/extract",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "urls",
              "value": "={{ $('On form submission').item.json['Place your \\'link\\' here'] }}"
            },
            {
              "name": "include_images",
              "value": "false"
            },
            {
              "name": "include_favicon",
              "value": "false"
            },
            {
              "name": "extract_depth",
              "value": "basic"
            },
            {
              "name": "format",
              "value": "markdown"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        368
      ],
      "id": "ed060f57-742e-43a4-aead-a4830e884e1b",
      "name": "Extract Link Content",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        336,
        320
      ],
      "id": "004a3763-ed84-475f-86ee-896fb749087f",
      "name": "Gemini 2.5 Flash",
      "credentials": {
        "googlePalmApi": {
          "id": "Gq3qNdXZmlzVb7Jg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        688,
        320
      ],
      "id": "ddc1e9f7-b92f-4e86-8f8d-bf7701c80990",
      "name": "Gemini 2.5 Flash 1",
      "credentials": {
        "googlePalmApi": {
          "id": "Gq3qNdXZmlzVb7Jg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.heygen.com/v1/video_status.get",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $('Generate HeyGen Video').item.json.data.video_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        1088
      ],
      "id": "5979ca57-8e9d-4c88-8d01-500989701504",
      "name": "Fetch HeyGen Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5dvuaQ8vpI7oZeTg",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "debd88fe-d327-4edd-8717-ba8b50c3fe84",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        160,
        1088
      ],
      "id": "dc80a632-729b-48db-bb7e-5739d403d5ad",
      "name": "If Status = Complete"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"editor_script\": \"Detailed script with [SHOT X] references and comprehensive editing comments\",\n  \"library_shots\": [\n    {\n      \"shot_number\": 1,\n      \"timing\": \"0-3 seconds\",\n      \"prompt\": \"Detailed prompt for video generation platforms\"\n    },\n    {\n      \"shot_number\": 2,\n      \"timing\": \"3-6 seconds\", \n      \"prompt\": \"Detailed prompt for video generation platforms\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        832,
        320
      ],
      "id": "ef0a7609-e9fa-4295-97dc-e2c7a76624a9",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $('Clean up Editor\\'s Script & Prompts').item.json.body }}",
        "name": "=Editor's Doc ( {{ $('On form submission').item.json['Title your video (What\\'s it about?)'] }})",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1P_Kgz1vVHSDisZ8gBxEvWxqJW1KRM5Vt",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1P_Kgz1vVHSDisZ8gBxEvWxqJW1KRM5Vt"
        },
        "options": {
          "convertToGoogleDocument": true
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        480,
        944
      ],
      "id": "dd893363-1d35-4a3a-ad8e-4ba1735f90ed",
      "name": "Create Editor's Doc",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pqwDBXzX6aAkWb7p",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5217fd22-f18f-4401-870c-04eada9f3a00",
              "name": "Editor's Doc Link",
              "value": "=https://docs.google.com/document/d/{{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        944
      ],
      "id": "087add39-9917-4b18-b7c6-768f439d08b3",
      "name": "Copy Editor Doc's Link"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "de8566cb-c394-4229-869c-8479c3ae997a",
              "name": "Editor's Script",
              "value": "={{ $json.output.editor_script }}",
              "type": "string"
            },
            {
              "id": "59b0a2c6-4e87-4f38-82eb-c4b1b4be223a",
              "name": "Library Shots Prompt",
              "value": "={{ $json.output.library_shots }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        736
      ],
      "id": "d81cf14c-9fc7-48be-b0e1-9a3235dc6740",
      "name": "Separate Editor's Script & Prompts"
    },
    {
      "parameters": {
        "jsCode": "const editorScript = $input.first().json[\"Editor's Script\"];\nconst libraryShots = $input.first().json[\"Library Shots Prompt\"];\n\nlet formatted = \"**Editor’s Script:**\\n\\n\";\nformatted += editorScript + \"\\n\\n\";\n\nformatted += \"**Library Shots Prompt:**\\n\\n\";\ntry {\n  const shots = JSON.parse(libraryShots);\n  shots.forEach(shot => {\n    formatted += `Shot ${shot.shot_number} (${shot.timing}):\\n`;\n    formatted += `${shot.prompt}\\n\\n`;\n  });\n} catch (err) {\n  formatted += libraryShots + \"\\n\\n\";\n}\n\nreturn [{ json: { body: formatted.trim() } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        736
      ],
      "id": "dba2f8b7-24e5-437f-9019-b01109f8bc29",
      "name": "Clean up Editor's Script & Prompts"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uJ5oBbNfINC9GZCiF-GUUIWcA41m-a2Our3wzed0Tk8",
          "mode": "list",
          "cachedResultName": "HeyGen Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uJ5oBbNfINC9GZCiF-GUUIWcA41m-a2Our3wzed0Tk8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uJ5oBbNfINC9GZCiF-GUUIWcA41m-a2Our3wzed0Tk8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Post Title": "={{ $('On form submission').item.json['Title your video (What\\'s it about?)'] }}",
            "AI Avatar Video Link": "={{ $('Fetch HeyGen Video').item.json.data.video_url }}",
            "Video Script": "={{ $('Script Writer').item.json.output }}",
            "Editor's Doc": "={{ $json['Editor\\'s Doc Link'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Post Title",
              "displayName": "Post Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Avatar Video Link",
              "displayName": "AI Avatar Video Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video Script",
              "displayName": "Video Script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Editor's Doc",
              "displayName": "Editor's Doc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        880,
        944
      ],
      "id": "ec65f32c-3f7b-4d6f-aac6-3a7eb88c1a96",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Script Writer & Video Editor's Agents",
        "height": 560,
        "width": 720,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        272,
        192
      ],
      "id": "973a018b-19a3-45ad-96f6-7ea3464e54a2",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Video Creation\n## by HeyGen",
        "height": 512,
        "width": 1328,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1056,
        960
      ],
      "id": "397c1162-1ee3-4353-a557-0bd506ca6c14",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Creating Doc & Updates",
        "height": 272,
        "width": 944,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        272,
        832
      ],
      "id": "5947397b-0685-46c8-bbd5-2fa8b287b299",
      "name": "Sticky Note5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1072,
        944
      ],
      "id": "83aa8b79-7e49-4572-9f8e-5c806f513141",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "content": "# Trigger & Data Extraction",
        "height": 272,
        "width": 752,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -640,
        272
      ],
      "id": "592bce6b-7196-42d2-8612-af31c6c41562",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "# Data Clean up",
        "height": 352,
        "width": 512,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -400,
        608
      ],
      "id": "5ff2ba62-3056-48e7-bbe0-5387c7abf104",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -256,
        1088
      ],
      "id": "542094ec-2a94-41ec-9f84-ffe9394a6a9f",
      "name": "Wait for 30 secs",
      "webhookId": "c291ad1e-f260-44ce-b3ee-078cff9b1bf6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"a0efee2e32784e33bcda90f2e249d9f9\",\n        \"avatar_style\": \"normal\"\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{ $('Script Writer1').item.json.output }}\",\n        \"voice_id\": \"6fa63338d94241cb8e22722293711361\",\n        \"speed\": 1.1\n      }\n    }\n  ],\n  \"dimension\": {\n    \"width\": 720,\n    \"height\": 1280\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1072,
        2176
      ],
      "id": "3016929f-0717-41a8-ac49-ce4f87cbbea9",
      "name": "Generate HeyGen Video1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5dvuaQ8vpI7oZeTg",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"{{ $('HTTP Request').item.json.data.avatars[5].avatar_id }}\", \n        \"avatar_style\": \"normal\"\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{ $('Script Writer').item.json.output }}\",\n        \"voice_id\": \"4EtqkvGZSGbWx8RZeNA1\",\n        \"speed\": 1.1\n      }\n    }\n  ],\n  \"dimension\": {\n    \"width\": 720,\n    \"height\": 1280\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        1088
      ],
      "id": "0bbf5ba1-54f9-4b99-a643-086593e7a18b",
      "name": "Generate HeyGen Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5dvuaQ8vpI7oZeTg",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.heygen.com/v2/avatars",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"data\": {\n    \"avatars\": [\n      {\n        \"avatar_id\": \"691dfbb626244538b9e488baa7fa81d0\",\n        \"name\": \"N2\",\n        \"gender\": \"male\",\n        \"is_premium\": false,\n        \"status\": \"active\"\n      }\n    ]\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -976,
        1088
      ],
      "id": "05d89b10-d27a-4562-b2be-e707f7e9fa7a",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5dvuaQ8vpI7oZeTg",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "30537b8a-9974-431f-96e4-8c6d42069ce2",
              "name": "data.talking_photos[0].talking_photo_id",
              "value": "={{ $json.data.talking_photos[0].talking_photo_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -768,
        1088
      ],
      "id": "3d8a34cf-009d-48c7-8f51-449fcae45441",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.submagic.co/v1/projects",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"title\": \"My Awesome Video\",\n    \"language\": \"en\",\n    \"videoUrl\": \"{{ $json.data.video_url }}\",\n    \"templateName\": \"Hormozi 2\",\n    \"dictionary\": [\"Submagic\", \"AI-powered\", \"captions\"],\n    \"magicZooms\": true,\n    \"magicBrolls\": true,\n    \"magicBrollsPercentage\": 75,\n    \"removeSilencePace\": \"fast\",\n    \"removeBadTakes\": true\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        1216
      ],
      "id": "8e944257-14d6-4a2a-97fb-c6d35832d837",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CezkIXyqm1175DXL",
          "name": "Submagic"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.submagic.co/v1/projects/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        1216
      ],
      "id": "539a9e41-3ee0-4d8b-9f57-cfd629398c7d",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CezkIXyqm1175DXL",
          "name": "Submagic"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "55999c9a-c72a-4f00-8a24-86a6b5d7a7a3"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f5d71449-b820-4c3a-944e-f8311828105b",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "03ac8fef-c5b9-4ac8-aa7a-ebbb510040d3",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "=failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1072,
        1200
      ],
      "id": "5a224696-6963-490b-8700-fe26f8db078d",
      "name": "Switch"
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        640,
        1216
      ],
      "id": "7a2f10a5-9805-4968-ba0a-db7af8ab48df",
      "name": "Wait",
      "webhookId": "30cf877f-28a6-4a9d-b83c-3626dcbd6bba"
    },
    {
      "parameters": {
        "url": "={{ $json.downloadUrl }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        1216
      ],
      "id": "d455dbf0-48d5-4aaf-a105-52f7b01402a6",
      "name": "HTTP Request3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CezkIXyqm1175DXL",
          "name": "Submagic"
        }
      }
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract PDF Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Script Writer": {
      "main": [
        [
          {
            "node": "Editor's Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editor's Assistant": {
      "main": [
        [
          {
            "node": "Separate Editor's Script & Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Content": {
      "main": [
        [
          {
            "node": "Extract Link Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Link Content": {
      "main": [
        [
          {
            "node": "Script Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "Script Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Flash 1": {
      "ai_languageModel": [
        [
          {
            "node": "Editor's Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Fetch HeyGen Video": {
      "main": [
        [
          {
            "node": "If Status = Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Status = Complete": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Editor's Doc",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for 30 secs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Editor's Assistant",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Create Editor's Doc": {
      "main": [
        [
          {
            "node": "Copy Editor Doc's Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy Editor Doc's Link": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separate Editor's Script & Prompts": {
      "main": [
        [
          {
            "node": "Clean up Editor's Script & Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean up Editor's Script & Prompts": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for 30 secs": {
      "main": [
        [
          {
            "node": "Fetch HeyGen Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HeyGen Video1": {
      "main": [
        []
      ]
    },
    "Generate HeyGen Video": {
      "main": [
        [
          {
            "node": "Wait for 30 secs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Generate HeyGen Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a3b29950-9c02-406a-ab2b-cb312c99fb3c",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-16T18:18:48.532Z",
      "updatedAt": "2025-10-16T18:18:48.532Z",
      "role": "workflow:owner",
      "workflowId": "mhfwjGZs2t5nmAUz",
      "projectId": "VDyoKZWt3i5eAZSO"
    }
  ],
  "tags": [
    {
      "createdAt": "2025-10-16T18:28:23.370Z",
      "updatedAt": "2025-10-16T18:28:23.370Z",
      "id": "FYX7iKCFimyIOhJ3",
      "name": "Template"
    }
  ]
}