Backup_2025-11-10/Proposal and invoice.json
{
  "createdAt": "2025-11-09T10:10:24.764Z",
  "updatedAt": "2025-11-09T12:49:39.000Z",
  "id": "0dWRDN8wXie8HL9e",
  "name": "Proposal and invoice",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Client Details",
        "formDescription": "Lets create step by step onboarding",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Client Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Client Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Service ",
              "requiredField": true
            },
            {
              "fieldLabel": "Amount",
              "fieldType": "number"
            },
            {
              "fieldLabel": "Currency"
            },
            {
              "fieldLabel": "Notes"
            },
            {
              "fieldLabel": "Contract date",
              "fieldType": "date"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -272,
        -624
      ],
      "id": "e61c1627-04a3-48c8-801f-be976f078725",
      "name": "On form submission",
      "webhookId": "cf64edd1-4505-4733-b456-754b5bdd5045"
    },
    {
      "parameters": {
        "jsCode": "const b = $json;\nreturn [{\n  client_name: String(b.client_name || b[\"Client Name\"] || '').trim(),\n  client_email: String(b.client_email || b[\"Client Email\"] || '').trim(),\n  project_name: String(b.project_name || b.Service || 'AI Automation Setup').trim(),\n  amount: Number(b.amount || b.Amount || 0),\n  currency: String(b.currency || b.Currency || 'INR').trim(),\n  notes: String(b.notes || b.Notes || '').trim(),\n  contract_date: b.contract_date || new Date().toISOString()\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -624
      ],
      "id": "0ad9ddca-072c-4cd7-91be-11401c20fcc9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1PJXAzX7Vl7CDKayh7m1sLFcOtRegilcD",
          "mode": "list",
          "cachedResultName": "BTS Client Agreement.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1PJXAzX7Vl7CDKayh7m1sLFcOtRegilcD/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        128,
        -624
      ],
      "id": "d5a914ae-b7f5-4100-86fa-1943c581c4ee",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pqwDBXzX6aAkWb7p",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        336,
        -624
      ],
      "id": "63fde09e-cbe3-454e-93cb-ba95b5a7a753",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=Prompt Title: Client Agreement Auto-Updater Agent\n\nPrompt (User Message):\n\nYou are a document updater agent.\nYour task is to read the extracted contract text below and replace old client information with new details, keeping the legal and structural format of the agreement intact.\n\nHere is the extracted text from the file:\n\n{{ $json.text }}\n\n\nYour job:\nFind and replace all previous client information with the new data below. Keep the rest of the agreement exactly the same. Do not remove or modify section numbers, formatting, or legal terms.\n\nNew client details:\n\nClient Name: Vamsi V\n\nClient Email: Vamsivk555@gmail.com\n\nService: Lead Qualification\n\nAmount: 5000 INR\n\nNotes: No\n\nContract Date: 2025-11-09\n\nReplacement Rules:\n\nReplace old client name (“Sai Rupak” or any other name under “Client”) with Vamsi V.\n\nUpdate any mention of services, amount, or payment terms to reflect Lead Qualification and 5000 INR.\n\nUpdate Agreement date and Term start date to 2025-11-09 (in the same format as original).\n\nDo not modify agency name “Lumoscale” or legal clauses.\n\nKeep consistent formatting for paragraphs and numbering.\n\nReturn the final updated agreement text only, without any explanation.\n\nExpected Output Format:\n\nCLIENT AGREEMENT\nThis Agreement is entered into on 09-11-2025 by and between:\nLumoscale, a company organized under the laws of India (hereinafter referred to as the \"Agency\"),\nAND\nVamsi V, an individual (hereinafter referred to as the \"Client\").\n[Full updated agreement continues...]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        544,
        -624
      ],
      "id": "ca52d7a3-cba0-475a-bbab-970c9ec5fac4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        -432
      ],
      "id": "21c168da-590a-4ad8-8971-cf03032795cf",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "8cTwctTGeEBOJeUq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "html": "{{ $json.html }}"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1024,
        -624
      ],
      "id": "dcc25209-db36-474e-832a-92084b81838b",
      "name": "HTML"
    },
    {
      "parameters": {
        "jsCode": "// Get the contract text from the previous node\nconst text = $json.output || \"\";\n\n// Helper function: converts numbered clauses, sections, and bullet-like lines to HTML\nfunction formatTextToHtml(rawText) {\n  // Split into lines\n  const lines = rawText.split(/\\n+/);\n\n  let html = \"\";\n  for (let line of lines) {\n    line = line.trim();\n\n    // Skip empty lines\n    if (!line) continue;\n\n    // Top title\n    if (/^client agreement/i.test(line)) {\n      html += `<h1>${line}</h1>`;\n    }\n    // Section numbers like \"1. Services Provided\"\n    else if (/^\\d+\\.\\s+/.test(line)) {\n      const parts = line.split(/\\s+/);\n      html += `<h2>${line}</h2>`;\n    }\n    // Subsections like \"3.1 One-Time Project Fee\"\n    else if (/^\\d+\\.\\d+/.test(line)) {\n      html += `<h3>${line}</h3>`;\n    }\n    // Bullet points (lines starting with \"-\" or \"•\")\n    else if (/^[-•]/.test(line)) {\n      html += `<ul><li>${line.replace(/^[-•]\\s*/, \"\")}</li></ul>`;\n    }\n    // Capitalized phrases like \"Note:\" or \"Important:\"\n    else if (/^(Note|Important|Reminder|Tip):/i.test(line)) {\n      html += `<p><strong>${line}</strong></p>`;\n    }\n    // Regular sentences\n    else {\n      html += `<p>${line}</p>`;\n    }\n  }\n\n  // Wrap everything in a full HTML layout\n  return `\n  <!DOCTYPE html>\n  <html lang=\"en\">\n  <head>\n  <meta charset=\"utf-8\" />\n  <title>Client Agreement</title>\n  <style>\n    body { font-family: Arial, Helvetica, sans-serif; line-height: 1.6; padding: 40px; color: #111; background: #fff; }\n    h1 { text-align: center; font-size: 22px; font-weight: bold; text-transform: uppercase; margin-bottom: 8px; }\n    h2 { font-size: 18px; color: #222; margin-top: 24px; }\n    h3 { font-size: 15px; color: #333; margin-top: 16px; }\n    p { margin: 8px 0; }\n    ul { margin: 6px 0 6px 24px; }\n    li { margin-bottom: 4px; }\n    strong { font-weight: 700; }\n    hr { border: 0; border-top: 1px solid #ccc; margin: 20px 0; }\n    footer { text-align: center; margin-top: 40px; font-size: 12px; color: #666; }\n  </style>\n  </head>\n  <body>\n    ${html}\n    <hr>\n    <footer>Generated automatically by Lumoscale Contract System</footer>\n  </body>\n  </html>\n  `;\n}\n\n// Generate HTML from the AI output text\nconst html = formatTextToHtml(text);\n\nreturn [{ html }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        -624
      ],
      "id": "e122702b-b01b-4c66-9c02-c46d5ff65a52",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// Get HTML from previous node\nconst html = $json.html;\n\n// Convert to base64\nconst base64Html = Buffer.from(html, 'utf-8').toString('base64');\n\nreturn [{\n  html_base64: base64Html,\n  original_html: html\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        -624
      ],
      "id": "480a3666-cdcb-4273-a264-8ac79c955b3e",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.html2pdf.app/v1/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "html",
              "value": "={{ $json.original_html }}"
            },
            {
              "name": "apiKey",
              "value": "xRjumNJJPnFOkD6Dm0Kqi6pLzEEw7GQidzHjeKoG69nVTZaR1XPIDqdtgHaputPU"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "client_agreement.pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1456,
        -624
      ],
      "id": "b436c3da-6eac-43d8-9196-e920a8b914fb",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "inputDataFieldName": "client_agreement.pdf",
        "name": "New 1",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1ohnjGBopSI1YYu7u3qDFzni3TmQ4m4YO",
          "mode": "list",
          "cachedResultName": "Demo Videos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ohnjGBopSI1YYu7u3qDFzni3TmQ4m4YO"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1648,
        -624
      ],
      "id": "633d7d1a-a7ee-44ac-9818-0c9662fab72c",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pqwDBXzX6aAkWb7p",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sign.zoho.in/api/v1/requests",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "data",
              "value": "=return {\n  data: JSON.stringify({\n    requests: {\n      request_name: \"NDA\",\n      description: \"Client agreement document\",\n      request_type_id: \"\",  // optional\n      folder_id: \"\",        // optional\n      is_sequential: true,\n      expiration_days: 10,\n      email_reminders: true,\n      reminder_period: 2,\n      notes: \"Please review and sign this agreement.\",\n      actions: [\n        {\n          action_type: \"SIGN\",\n          recipient_name: \"Alex James\",\n          recipient_email: \"abc@example.com\",\n          signing_order: 0,\n          verify_recipient: true,\n          verification_type: \"EMAIL\",\n          private_notes: \"Client to sign.\"\n        },\n        {\n          action_type: \"SIGN\",\n          recipient_name: \"Lumoscale\",\n          recipient_email: \"your_email@yourdomain.com\",\n          signing_order: 1,\n          verify_recipient: false,\n          private_notes: \"Agency signature.\"\n        }\n      ]\n    }\n  })\n}\n"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2176,
        -624
      ],
      "id": "bfb7aae0-d3e8-4e65-b3fb-8e1d426402b0",
      "name": "HTTP Request3",
      "credentials": {
        "oAuth2Api": {
          "id": "2G2wV9IgLA2994n8",
          "name": "Bigin-Lumoscale"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1856,
        -624
      ],
      "id": "576932a0-2d7e-418c-b644-a79db4586541",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pqwDBXzX6aAkWb7p",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Client Name": "Vamsi",
          "Client Email": "Vamsivk555@gmail.com",
          "Service ": "Lead qualification",
          "Amount": 5000,
          "Currency": "INR",
          "Notes": "No",
          "Contract date": "2025-11-09",
          "submittedAt": "2025-11-09T11:15:55.505+01:00",
          "formMode": "test"
        }
      }
    ]
  },
  "versionId": "c2a5be51-999e-45d9-b978-343bbf6657d4",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-11-09T10:10:24.770Z",
      "updatedAt": "2025-11-09T10:10:24.770Z",
      "role": "workflow:owner",
      "workflowId": "0dWRDN8wXie8HL9e",
      "projectId": "VDyoKZWt3i5eAZSO"
    }
  ],
  "tags": []
}