Backup_2025-11-01/Invoice Remainder.json
{
  "createdAt": "2025-10-26T09:36:34.714Z",
  "updatedAt": "2025-10-26T10:51:34.000Z",
  "id": "MDAetUkHp3uFkRup",
  "name": "Invoice Remainder",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1zCLinEgwbDkAuU8ienagUgG5DTQbMhqMZJCW04HrIAU",
          "mode": "list",
          "cachedResultName": "Invoice Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zCLinEgwbDkAuU8ienagUgG5DTQbMhqMZJCW04HrIAU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zCLinEgwbDkAuU8ienagUgG5DTQbMhqMZJCW04HrIAU/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        -256
      ],
      "id": "50f05b3f-0911-437b-bde3-674c02e9222e",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "jiy4CLauc0aInJpJ",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -288,
        32
      ],
      "id": "8dbe07e1-143c-4e1b-b869-f3219cad133a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1zCLinEgwbDkAuU8ienagUgG5DTQbMhqMZJCW04HrIAU",
          "mode": "list",
          "cachedResultName": "Invoice Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zCLinEgwbDkAuU8ienagUgG5DTQbMhqMZJCW04HrIAU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zCLinEgwbDkAuU8ienagUgG5DTQbMhqMZJCW04HrIAU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Paid (Yes/No)",
              "lookupValue": "Unpaid"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -80,
        32
      ],
      "id": "9b7463f1-cf85-415b-9928-47319c21396c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const out = [];\nfunction normalizeDate(d) {\n  const dt = new Date(d);\n  dt.setHours(0,0,0,0);\n  return dt.toISOString().slice(0,10);\n}\nconst today = normalizeDate(new Date());\n\nfor (const r of items) {\n  const row = r.json;\n  const paid = (row[\"Paid (Yes/No)\"] || \"\").toLowerCase().trim();\n  if (paid === \"paid\" || paid === \"yes\") continue;\n\n  const nextF = (row[\"Next Follow-up Date\"] || \"\").toString().trim();\n  if (!nextF) {\n    out.push({ json: row });\n  } else {\n    const nf = normalizeDate(new Date(nextF));\n    if (nf <= today) out.push({ json: row });\n  }\n}\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        32
      ],
      "id": "90813f86-647d-4247-9aa6-1bde381df5cb",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        336,
        32
      ],
      "id": "d34780f2-7a50-4698-b6c8-f0fe19edeb4c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "sendTo": "aitoday128@gmail.com",
        "subject": "new",
        "message": "due",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        544,
        48
      ],
      "id": "ef4c4244-c528-41ba-8d98-3cbe92936009",
      "name": "Send a message",
      "webhookId": "5a144c6c-5456-48c2-a627-f9f0e6541db2",
      "credentials": {
        "gmailOAuth2": {
          "id": "OEcIZm1duf4dQunn",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const row = items[0].json;\nfunction format(d) { d.setHours(0,0,0,0); return d.toISOString().slice(0,10); }\nconst today = new Date();\nconst todayISO = format(today);\n\nlet count = parseInt(row[\"Follow-up Count\"] || \"0\") || 0;\ncount++;\n\nconst next = new Date();\nnext.setDate(next.getDate() + 3);\nconst nextISO = format(next);\n\nreturn [{\n  json: {\n    \"Client Name\": row[\"Client Name\"],\n    \"Follow-up Count\": count,\n    \"Last Follow-up Date\": todayISO,\n    \"Next Follow-up Date\": nextISO,\n    \"Reminder Status\": \"Follow-up Sent\"\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        48
      ],
      "id": "d8b48af8-79c0-4e70-a506-58bd05eeb1a9",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1zCLinEgwbDkAuU8ienagUgG5DTQbMhqMZJCW04HrIAU",
          "mode": "list",
          "cachedResultName": "Invoice Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zCLinEgwbDkAuU8ienagUgG5DTQbMhqMZJCW04HrIAU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zCLinEgwbDkAuU8ienagUgG5DTQbMhqMZJCW04HrIAU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Client Name": "={{ $('Get row(s) in sheet').item.json['Client Name'] }}",
            "Follow-up Count": "={{ $json['Follow-up Count'] }}",
            "Last Follow-up Date": "={{ $json['Last Follow-up Date'] }}",
            "Next Follow-up Date": "={{ $json['Next Follow-up Date'] }}",
            "Reminder Status": "={{ $json['Reminder Status'] }}"
          },
          "matchingColumns": [
            "Client Name"
          ],
          "schema": [
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email/ Whatsappp",
              "displayName": "Email/ Whatsappp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Case/ Service",
              "displayName": "Case/ Service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Paid (Yes/No)",
              "displayName": "Paid (Yes/No)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Payment Date",
              "displayName": "Payment Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Payment Due Date",
              "displayName": "Payment Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Mode (UPI/Card)",
              "displayName": "Mode (UPI/Card)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reminder Status",
              "displayName": "Reminder Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow-up Count",
              "displayName": "Follow-up Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Follow-up Date",
              "displayName": "Last Follow-up Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Next Follow-up Date",
              "displayName": "Next Follow-up Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Link",
              "displayName": "Invoice Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        48
      ],
      "id": "7ad645f7-6f4b-42ac-804d-8fa40208abe7",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1zCLinEgwbDkAuU8ienagUgG5DTQbMhqMZJCW04HrIAU",
          "mode": "list",
          "cachedResultName": "Invoice Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zCLinEgwbDkAuU8ienagUgG5DTQbMhqMZJCW04HrIAU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zCLinEgwbDkAuU8ienagUgG5DTQbMhqMZJCW04HrIAU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Client Name": "={{ $json['Client Name'] }}",
            "Reminder Status": "Pending",
            "Follow-up Count": "0",
            "Paid (Yes/No)": "Unpaid"
          },
          "matchingColumns": [
            "Client Name"
          ],
          "schema": [
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email/ Whatsappp",
              "displayName": "Email/ Whatsappp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Case/ Service",
              "displayName": "Case/ Service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Paid (Yes/No)",
              "displayName": "Paid (Yes/No)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Payment Date",
              "displayName": "Payment Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Payment Due Date",
              "displayName": "Payment Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Mode (UPI/Card)",
              "displayName": "Mode (UPI/Card)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reminder Status",
              "displayName": "Reminder Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follow-up Count",
              "displayName": "Follow-up Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Follow-up Date",
              "displayName": "Last Follow-up Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Next Follow-up Date",
              "displayName": "Next Follow-up Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Invoice Link",
              "displayName": "Invoice Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        160,
        -256
      ],
      "id": "c95134e6-f743-4f22-8181-93eb612946ec",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Function Node: Set First Follow-up Dates\nconst out = [];\n\nfor (const item of items) {\n  const row = item.json;\n  let nextFollowUp = \"\";\n\n  const invoiceDate = row[\"Invoice Date\"];\n  if (invoiceDate) {\n    // Split DD/MM/YY or DD/MM/YYYY\n    const parts = invoiceDate.split(\"/\");\n    if (parts.length === 3) {\n      let day = parseInt(parts[0], 10);\n      let month = parseInt(parts[1], 10) - 1; // JS months 0-11\n      let year = parseInt(parts[2], 10);\n      // If year is 2 digits, convert to 20XX\n      if (year < 100) year += 2000;\n\n      const dt = new Date(year, month, day);\n      dt.setDate(dt.getDate() + 3); // Add 3 days\n      nextFollowUp = dt.toISOString().slice(0,10);\n    }\n  }\n\n  out.push({\n    json: {\n      \"Client Name\": row[\"Client Name\"],\n      \"Follow-up Count\": 0,\n      \"Last Follow-up Date\": \"\",\n      \"Next Follow-up Date\": nextFollowUp,\n      \"Reminder Status\": \"Pending\"\n    }\n  });\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        -256
      ],
      "id": "ca8d8d49-4cad-4e6f-b104-e3ee87c24a83",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -304,
        336
      ],
      "id": "261854d9-040f-437f-9664-ac31c61180ff",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1zCLinEgwbDkAuU8ienagUgG5DTQbMhqMZJCW04HrIAU",
          "mode": "list",
          "cachedResultName": "Invoice Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zCLinEgwbDkAuU8ienagUgG5DTQbMhqMZJCW04HrIAU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zCLinEgwbDkAuU8ienagUgG5DTQbMhqMZJCW04HrIAU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Paid (Yes/No)",
              "lookupValue": "Unpaid"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -96,
        336
      ],
      "id": "c41c7490-b847-424d-b2ff-76e19580d7ad",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Initialize output array\nconst out = [];\n\n// Loop over all items from previous node (unpaid invoices)\nfor (const item of items) {\n  const row = item.json;\n\n  // Skip if already Paid\n  const paidStatus = (row[\"Paid (Yes/No)\"] || \"\").toLowerCase().trim();\n  if (paidStatus === \"paid\" || paidStatus === \"yes\") continue;\n\n  // Build verification payload\n  const payload = {\n    client: row[\"Client Name\"] || \"Unknown\",\n    amount: row[\"Amount\"] || 0,\n    invoice: row[\"Invoice ID\"] || row[\"Invoice Number\"] || \"Unknown\",\n    mode: row[\"Mode (UPI/Card)\"] || \"Unknown\",\n    rowId: row[\"Client Name\"] + \"_\" + row[\"Invoice ID\"] || Date.now() // unique identifier\n  };\n\n  out.push({ json: payload });\n}\n\n// Return all payloads\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        336
      ],
      "id": "d11d0566-6ac9-45e4-913c-bc8930d2dc4f",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "8417171830",
        "message": "={{ $json.client }}\n{{ $json.amount }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "✅ Payment Received",
            "disapproveLabel": "❌ Payment Not Received"
          }
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        352
      ],
      "id": "7ec073bb-fe32-47ad-bfa0-5c9e58b92b61",
      "name": "Send a text message",
      "webhookId": "adb8a0b8-025e-40bf-954e-fb852f253bac",
      "credentials": {
        "telegramApi": {
          "id": "gwHBxrkrPXY0I5Fk",
          "name": "Normal"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "65fbfa4b-8c8c-43f6-b812-b734b5d7ca57",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        768,
        352
      ],
      "id": "7b6c1971-95fb-4550-9e89-3b3cd9cd9fad",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        320,
        336
      ],
      "id": "1861beb5-b098-4fdc-a2fd-47d1a2ac7ba3",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1zCLinEgwbDkAuU8ienagUgG5DTQbMhqMZJCW04HrIAU",
          "mode": "list",
          "cachedResultName": "Invoice Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zCLinEgwbDkAuU8ienagUgG5DTQbMhqMZJCW04HrIAU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zCLinEgwbDkAuU8ienagUgG5DTQbMhqMZJCW04HrIAU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Client Name": "={{ $('Get row(s) in sheet1').item.json['Client Name'] }}",
            "Paid (Yes/No)": "Paid",
            "Payment Date": "={{ $now }}",
            "Reminder Status": "Completed"
          },
          "matchingColumns": [
            "Client Name"
          ],
          "schema": [
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email/ Whatsappp",
              "displayName": "Email/ Whatsappp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Case/ Service",
              "displayName": "Case/ Service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Paid (Yes/No)",
              "displayName": "Paid (Yes/No)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment Date",
              "displayName": "Payment Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment Due Date",
              "displayName": "Payment Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Mode (UPI/Card)",
              "displayName": "Mode (UPI/Card)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reminder Status",
              "displayName": "Reminder Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follow-up Count",
              "displayName": "Follow-up Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Follow-up Date",
              "displayName": "Last Follow-up Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Next Follow-up Date",
              "displayName": "Next Follow-up Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Invoice Link",
              "displayName": "Invoice Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1008,
        336
      ],
      "id": "50090b8c-3fd6-4bbc-ac99-1ded21f679f2",
      "name": "Append or update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append or update row in sheet2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d4a0b701-6af9-45c7-b246-96ffb7505dce",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-26T09:36:34.717Z",
      "updatedAt": "2025-10-26T09:36:34.717Z",
      "role": "workflow:owner",
      "workflowId": "MDAetUkHp3uFkRup",
      "projectId": "VDyoKZWt3i5eAZSO"
    }
  ],
  "tags": []
}