Backup_2025-10-03/Linkedin Leads Scrapping.json
{
  "createdAt": "2025-09-16T19:48:33.188Z",
  "updatedAt": "2025-09-16T20:47:38.000Z",
  "id": "mRMidbeogFF2uZFX",
  "name": "Linkedin Leads Scrapping",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        64,
        768
      ],
      "id": "4b3b76a8-6b4f-406e-817e-ad2dce42eabc",
      "name": "🚀 Manual Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1O-2NBC6Cv5op55rkNAXcI01xo4n7ySeStDOBxAjMfzM",
          "mode": "list",
          "cachedResultName": "Linkedin Scrap",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O-2NBC6Cv5op55rkNAXcI01xo4n7ySeStDOBxAjMfzM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 858123210,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O-2NBC6Cv5op55rkNAXcI01xo4n7ySeStDOBxAjMfzM/edit#gid=858123210"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Sent"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        288,
        768
      ],
      "id": "9b0b377e-e0c0-47d7-a7b7-789ad6f32a29",
      "name": "📊 Fetch Ready Profiles from Google Sheets ",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apify.com/v2/acts/dev_fusion~linkedin-profile-scraper/runs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"profileUrls\":{{ $json.profile_ids }}\n    \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        704
      ],
      "id": "adced6fc-6684-49c9-b195-848faec00a64",
      "name": "🔍 Launch LinkedIn Profile Scraper Actor",
      "credentials": {
        "httpQueryAuth": {
          "id": "D6FV8v7On9hR8sRU",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/acts/{{ $json.data.actId }}/runs/last",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        640
      ],
      "id": "6d3e21d3-9911-4fa3-9ee6-6ed57ec3d4cd",
      "name": "📈 Check Profile Scraper Status",
      "credentials": {
        "httpQueryAuth": {
          "id": "D6FV8v7On9hR8sRU",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f4022ce0-3ed0-4c5b-92e9-9f54dbf8ac9c",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "SUCCEEDED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1488,
        560
      ],
      "id": "59266249-b0cb-4537-a8d3-2e08cb79c8e5",
      "name": "❓ Is Profile Scraping Complete?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1712,
        752
      ],
      "id": "3089d191-5a82-46f8-ab8b-3f5808e61c53",
      "name": "⏰ Wait for Profile Processing ",
      "webhookId": "4ba9e8c1-7bc9-4355-b14c-c18fd30b669e"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/acts/{{ $json.data.actId }}/runs/last/dataset/items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1712,
        512
      ],
      "id": "1c951b6d-0eac-44dd-8ed0-dbc21bca0aab",
      "name": "📥 Retrieve Profile Data ",
      "credentials": {
        "httpQueryAuth": {
          "id": "D6FV8v7On9hR8sRU",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1O-2NBC6Cv5op55rkNAXcI01xo4n7ySeStDOBxAjMfzM",
          "mode": "list",
          "cachedResultName": "Linkedin Scrap",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O-2NBC6Cv5op55rkNAXcI01xo4n7ySeStDOBxAjMfzM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 858123210,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O-2NBC6Cv5op55rkNAXcI01xo4n7ySeStDOBxAjMfzM/edit#gid=858123210"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First name": "={{ $json.firstName }}",
            "Last name": "={{ $json.lastName }}",
            "Email": "={{ $json.email }}",
            "title": "={{ $json.jobTitle }}",
            "Headline": "={{ $json.headline }}",
            "connections": "={{ $json.connections }}",
            "About": "={{ $json.about }}",
            "Company Name": "={{ $json.companyName }}",
            "URLs": "={{ $json.linkedinUrl }}"
          },
          "matchingColumns": [
            "URLs"
          ],
          "schema": [
            {
              "id": "URLs",
              "displayName": "URLs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "First name",
              "displayName": "First name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last name",
              "displayName": "Last name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Headline",
              "displayName": "Headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "connections",
              "displayName": "connections",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "About",
              "displayName": "About",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2352,
        944
      ],
      "id": "62b4ead8-905d-4a6a-b6ca-7eef9262e2eb",
      "name": "💾 Update Profile Information in Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🎯 LinkedIn Profile & Post Scraper Workflow\n**Purpose:** Automatically extract comprehensive LinkedIn profile information and recent posts using Apify actors\n\n### 📋 Workflow Steps:\n1. **Profile Processing** → Fetch profiles marked as \"ready\" from Google Sheets\n2. **Batch Control** → Limit processing to prevent rate limits  \n3. **Profile Scraping** → Extract detailed profile data using Apify\n4. **Status Monitoring** → Wait and check until scraping completes\n5. **Data Storage** → Save profile information back to Google Sheets\n6. **Post Scraping** → Extract recent posts from scraped profiles\n7. **Final Storage** → Save post data to separate sheet tab\n\n### 🔄 Automated Flow:\nManual Trigger → Profile Scraping → Data Update → Post Scraping → Final Storage",
        "height": 300,
        "width": 660
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1072,
        80
      ],
      "id": "2bce188c-9231-4da6-8b85-9168b6436862",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 👤 Profile Information Extraction\n**Actor Used:** [LinkedIn Profile Scraper](https://console.apify.com/actors/2SyF0bVxmgGr8IVCZ/runs) (Apify)\n\n### 📊 Data Extracted:\n- Basic Info: Name, headline, location, connections\n- Professional: Current job, company details, experience\n- Contact: Email, mobile (when available)\n- Social: Profile picture, LinkedIn URL, about section\n- Detailed: Skills, education, certifications, recommendations\n\n### ⚠️ Requirements:\n- Valid Apify API key\n- LinkedIn profile URLs in \"ready\" status\n- Proper rate limiting to avoid blocks",
        "height": 580,
        "width": 1300,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        784,
        400
      ],
      "id": "ddb94792-8ade-4c75-b939-5e190ce412f2",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 📈 Google Sheets Integration\n**Two-Sheet System for organized data storage**\n\n### 📋 Sheet 1: Profile Information\n- Input: Profiles with \"ready\" status\n- Output: Complete profile data + \"completed\" status\n- Matching: By LinkedIn Profile URL\n\n### 📋 Sheet 2: Post Information  \n- Fresh posts data from all processed profiles\n- Detailed engagement metrics\n- Linked to source profiles for analysis\n\n### 🔄 Status Tracking:\n\"ready\" → \"completed\" prevents duplicate processing",
        "height": 960,
        "width": 480,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2192,
        544
      ],
      "id": "1cb5838f-d71b-41d9-aed9-e6579741ad3b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5d58c79-b9ae-4f41-ad8b-6d20e9a38833",
              "name": "profile_ids",
              "value": "={{ JSON.stringify({\n  profileUrls: $items(\"📊 Fetch Ready Profiles from Google Sheets \")\n    .map(i => i.json[\"URLs\"])\n    .filter(url => !!url)\n}[\"profileUrls\"]) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        768
      ],
      "id": "97fb274e-c57c-4649-b11f-9d3536dd64e3",
      "name": "Configure Apify API Settings"
    }
  ],
  "connections": {
    "🚀 Manual Trigger": {
      "main": [
        [
          {
            "node": "📊 Fetch Ready Profiles from Google Sheets ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Fetch Ready Profiles from Google Sheets ": {
      "main": [
        [
          {
            "node": "Configure Apify API Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Launch LinkedIn Profile Scraper Actor": {
      "main": [
        [
          {
            "node": "📈 Check Profile Scraper Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📈 Check Profile Scraper Status": {
      "main": [
        [
          {
            "node": "❓ Is Profile Scraping Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Is Profile Scraping Complete?": {
      "main": [
        [
          {
            "node": "📥 Retrieve Profile Data ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⏰ Wait for Profile Processing ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Wait for Profile Processing ": {
      "main": [
        [
          {
            "node": "📈 Check Profile Scraper Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Retrieve Profile Data ": {
      "main": [
        [
          {
            "node": "💾 Update Profile Information in Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Update Profile Information in Sheets": {
      "main": [
        []
      ]
    },
    "Configure Apify API Settings": {
      "main": [
        [
          {
            "node": "🔍 Launch LinkedIn Profile Scraper Actor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "406df388-1e49-448b-beb2-a396db68fbfe",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-16T19:48:33.191Z",
      "updatedAt": "2025-09-16T19:48:33.191Z",
      "role": "workflow:owner",
      "workflowId": "mRMidbeogFF2uZFX",
      "projectId": "VDyoKZWt3i5eAZSO"
    }
  ],
  "tags": [
    {
      "createdAt": "2025-09-16T19:38:49.989Z",
      "updatedAt": "2025-09-16T19:38:49.989Z",
      "id": "cwKP4HzIVDsxJHt3",
      "name": "Youtube"
    }
  ]
}