Backup_2025-12-08/Generate Image.json
{
  "createdAt": "2025-10-08T16:22:20.500Z",
  "updatedAt": "2025-10-09T17:33:00.000Z",
  "id": "Izc26OR3b774T11a",
  "name": "Generate Image",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Image Generation",
        "formDescription": "Write prompt - Get image",
        "formFields": {
          "values": [
            {
              "fieldLabel": "title",
              "requiredField": true
            },
            {
              "fieldLabel": "Description OR Prompt"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -288,
        -176
      ],
      "id": "ef87693e-f690-4194-a430-8e9bdedd66f9",
      "name": "On form submission",
      "webhookId": "64c12e1a-bc08-4286-8218-85faf2378c8c"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite-preview-06-17",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite-preview-06-17"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyze the following text and generate a single, detailed, and high-quality image prompt suitable for Instagram or other social media platforms. \nThe image should be visually striking, highly relatable, and perfectly aligned with the text's context. \nFocus on composition, color, style, and clarity to make it engaging for social media. \nEnsure the prompt is ready for image generation AI.\n\nText: {{$json['Description OR Prompt']}}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -64,
        -176
      ],
      "id": "8b5b3ad5-25a1-4a05-b2d9-b33ccfa60ac4",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "Gq3qNdXZmlzVb7Jg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        288,
        -176
      ],
      "id": "96ee0bec-4381-4a55-94cf-604192a3e728",
      "name": "Generate an image1",
      "credentials": {
        "openAiApi": {
          "id": "8cTwctTGeEBOJeUq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('On form submission').item.json.title }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        544,
        -176
      ],
      "id": "8539630b-d3ad-4fe8-a62e-218cc70b79bb",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pqwDBXzX6aAkWb7p",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35b1ca95-4776-48e1-8f31-6af9a8402ad6",
              "name": "webViewLink",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        -176
      ],
      "id": "8b0ec978-29df-483a-8659-f141dfaa7a86",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "send",
        "recipientPhoneNumber": "918919053970",
        "textBody": "={{ $json.webViewLink }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1024,
        -176
      ],
      "id": "a8e2ff8e-7406-440c-b8a1-69d30dbf148b",
      "name": "Send message",
      "webhookId": "0c48f168-0f66-4c69-a0d0-f59f991474c9",
      "credentials": {
        "whatsAppApi": {
          "id": "YseJfrakPyAJkOCX",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "content": "# n8n Workflow Overview: Social Media Image Generator\n\n## Goal:\nTake text input from a form → generate a high-quality image prompt → create an image → save it to Google Drive → return the file link.\n\nNodes & Flow\n\n### On form submission (formTrigger)\n\nTrigger: When a user submits the form.\n\nForm fields: title (required), Description OR Prompt (optional).\n\nOutput: Captures the text input for the workflow.\n\n### Message a model (Google Gemini)\n\nInput: Description OR Prompt from the form.\n\nFunction: Analyzes text and generates a single, detailed, high-quality image prompt suitable for Instagram/social media.\n\nOutput: Text-based image prompt.\n\n### Generate an image (OpenAI)\n\nInput: Prompt generated by Gemini model ($json.content.parts[0].text).\n\nFunction: Uses OpenAI’s image generation to create the visual.\n\nOutput: Image file data.\n\n",
        "height": 784,
        "width": 848
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        -896
      ],
      "typeVersion": 1,
      "id": "d39603e8-8690-46e1-8d7c-15eea15435fd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Upload file (Google Drive)\n\nInput: Generated image.\n\nFunction: Uploads image to Google Drive under My Drive/root.\n\nName: Uses form title.\n\nOutput: webViewLink (link to the uploaded image).\n\nEdit Fields (Set)\n\nFunction: Store the webViewLink in a structured output for further use or display.",
        "height": 736,
        "width": 1024,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        448,
        -464
      ],
      "typeVersion": 1,
      "id": "15a32006-d592-44a6-ab4f-04379e552541",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Generate an image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image1": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4e692d2f-60f2-457e-8626-54be33eb03d1",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-08T16:22:20.504Z",
      "updatedAt": "2025-10-08T16:22:20.504Z",
      "role": "workflow:owner",
      "workflowId": "Izc26OR3b774T11a",
      "projectId": "VDyoKZWt3i5eAZSO"
    }
  ],
  "tags": []
}