Backup_2025-12-08/Instagram Agent.json
{
  "createdAt": "2025-11-18T16:23:33.081Z",
  "updatedAt": "2025-11-18T16:29:03.000Z",
  "id": "sYq8uZco7Kz3pVRp",
  "name": "Instagram Agent",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ZnDOIG8d3GhgCsqZVwF1shClscODSYvz5CJ-ZZPrXLo",
          "mode": "list",
          "cachedResultName": "N8N For Social Media",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZnDOIG8d3GhgCsqZVwF1shClscODSYvz5CJ-ZZPrXLo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 214306975,
          "mode": "list",
          "cachedResultName": "YT/Insta Shorts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZnDOIG8d3GhgCsqZVwF1shClscODSYvz5CJ-ZZPrXLo/edit#gid=214306975"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status ": "posted",
            "row_number": "={{ $('Google Sheets').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gdrive ID",
              "displayName": "Gdrive ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status ",
              "displayName": "Status ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -976,
        -2384
      ],
      "id": "3e915164-832f-4e97-aecf-d5aa743f8aef",
      "name": "Google Sheets1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ZnDOIG8d3GhgCsqZVwF1shClscODSYvz5CJ-ZZPrXLo",
          "mode": "list",
          "cachedResultName": "N8N For Social Media",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZnDOIG8d3GhgCsqZVwF1shClscODSYvz5CJ-ZZPrXLo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 214306975,
          "mode": "list",
          "cachedResultName": "YT/Insta Shorts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZnDOIG8d3GhgCsqZVwF1shClscODSYvz5CJ-ZZPrXLo/edit#gid=214306975"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status ",
              "lookupValue": "post"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2240,
        -2672
      ],
      "id": "2ab4e6b1-4288-4983-84b6-80a48d06d0da",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.Name }}",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2016,
        -2672
      ],
      "id": "b2f3db7d-fe46-40b1-b7a3-e3385be464de",
      "name": "Google Drive"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1248,
        -2384
      ],
      "id": "1f5d2a40-275d-42d5-ad29-0b28711b6467",
      "name": "Google Drive3"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appWxpbrFlXDIUqMf",
          "mode": "list",
          "cachedResultName": "Insta By  passer",
          "cachedResultUrl": "https://airtable.com/appWxpbrFlXDIUqMf"
        },
        "table": {
          "__rl": true,
          "value": "tblfOrUoo7ypuMzy5",
          "mode": "list",
          "cachedResultName": "Insta Ankit",
          "cachedResultUrl": "https://airtable.com/appWxpbrFlXDIUqMf/tblfOrUoo7ypuMzy5"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Google Sheets').item.json.Name }}",
            "URL": "={{ $('Edit Fields').item.json.id }}",
            "Caption": "={{ $('Google Sheets').item.json.Caption }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1024,
        -2928
      ],
      "id": "bd81d2ab-1ece-4a0f-a2e7-9516057f001f",
      "name": "Airtable"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Google Sheets').item.json.Title }}",
        "regionCode": "IN",
        "categoryId": "=27",
        "options": {
          "privacyStatus": "public"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -1264,
        -2928
      ],
      "id": "ed255980-450a-47bd-bc28-116dd8c0dd46",
      "name": "YouTube1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1504,
        -2928
      ],
      "id": "13d36270-8164-4af6-91bd-c32e015a67cf",
      "name": "Google Drive1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f9000ffd-5c60-4a5e-bf0f-a66a205f1d8a",
              "name": "id",
              "value": "=https://drive.google.com/uc?id={{ $json.id }}&export=download",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1824,
        -2672
      ],
      "id": "f8ceda8a-406c-48a9-9118-8fca1d771964",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "17841460144744883",
        "edge": "media_publish",
        "allowUnauthorizedCerts": true,
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -1008,
        -2640
      ],
      "id": "cbb3cf77-39bd-417a-b319-379d1a5868a5",
      "name": "Intsa Publisher"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1264,
        -2640
      ],
      "id": "1189d0aa-5218-491f-b2b6-c3bf2dd74273",
      "name": "Wait",
      "webhookId": "a047c6c1-7566-4ebb-95af-28a1984382b2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 19
            },
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2560,
        -2672
      ],
      "id": "90fa1501-8761-4644-8c4b-58952c31d660",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "Posted shorts",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1-0f5IZIGDtnQxZArvdux754NiaMg5XJY",
            "mode": "list",
            "cachedResultName": "Reels video Done",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1-0f5IZIGDtnQxZArvdux754NiaMg5XJY"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1504,
        -2384
      ],
      "id": "f643a2a8-a6ee-4c74-8f33-5f41763a3259",
      "name": "Google Drive2"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "17841460144744883",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "media_type",
                "value": "REELS"
              },
              {
                "name": "caption",
                "value": "={{ $json.fields.Caption }}"
              },
              {
                "name": "video_url",
                "value": "={{ $json.fields.URL }}"
              },
              {
                "name": "share_to_feed ",
                "value": "true"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -1504,
        -2640
      ],
      "id": "a799b111-104a-4760-93db-414e177a3efc",
      "name": "Insta Container"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "e6090801-2a22-4627-8a44-e6b29c9b8ef9",
              "leftValue": "={{ $json['Gdrive ID'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "dbcb0599-815c-4c1e-870f-6503135b2374",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "position": [
        -1952,
        -2016
      ],
      "notesInFlow": true,
      "typeVersion": 2,
      "notes": "Only process rows which have empty processed_at field"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "me",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $('Google Sheets2').item.json.Post }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -1360,
        -2160
      ],
      "id": "c3fca005-a0a7-4e9c-947d-0774ee6dc746",
      "name": "Facebook Graph API"
    },
    {
      "parameters": {
        "url": "=https://drive.google.com/uc?export=download&id={{ $json['Gdrive ID'] }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1696,
        -2016
      ],
      "id": "710209da-7961-404c-ab1c-2c6b71847a9f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "person": "prsCGctp8n",
        "text": "={{ $json.Post }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        -1360,
        -1952
      ],
      "id": "4946bf9a-0073-4bfe-aca6-b48688614d2e",
      "name": "LinkedIn"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ZnDOIG8d3GhgCsqZVwF1shClscODSYvz5CJ-ZZPrXLo",
          "mode": "list",
          "cachedResultName": "N8N For Social Media",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZnDOIG8d3GhgCsqZVwF1shClscODSYvz5CJ-ZZPrXLo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1480046470,
          "mode": "list",
          "cachedResultName": "Lindin/Fb ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZnDOIG8d3GhgCsqZVwF1shClscODSYvz5CJ-ZZPrXLo/edit#gid=1480046470"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Ready"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2192,
        -2016
      ],
      "id": "663de156-7976-4dfd-a74b-3c63417bb130",
      "name": "Google Sheets2"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ZnDOIG8d3GhgCsqZVwF1shClscODSYvz5CJ-ZZPrXLo",
          "mode": "list",
          "cachedResultName": "N8N For Social Media",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZnDOIG8d3GhgCsqZVwF1shClscODSYvz5CJ-ZZPrXLo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1480046470,
          "mode": "list",
          "cachedResultName": "Lindin/Fb ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZnDOIG8d3GhgCsqZVwF1shClscODSYvz5CJ-ZZPrXLo/edit#gid=1480046470"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Gdrive ID": "={{ $('Google Sheets2').item.json['Gdrive ID'] }}",
            "Status": "Posted"
          },
          "matchingColumns": [
            "Gdrive ID"
          ],
          "schema": [
            {
              "id": "Post",
              "displayName": "Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gdrive ID",
              "displayName": "Gdrive ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1104,
        -1952
      ],
      "id": "b02b658f-77ae-4910-9396-5cfd1800224e",
      "name": "Google Sheets3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 19
            },
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2528,
        -2016
      ],
      "id": "82ee07e4-4df4-430a-974a-87012956f34b",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=Email & Name for booking consultation:\n{{ $json.text }}\n\nLead Info:\n{{ $json.extraPrompt }}\n\nTrigger from Channel: \n{{ $json.trigger }}",
        "options": {
          "systemMessage": "=## 1. Core Identity & Goal\n\nYou are a friendly, efficient sales assistant focused on **residential solar panel systems**. Your job is to chat with leads, answer service questions using the knowledge base, qualify interest, collect contact details, **log everything in the CRM (`crmAgent`)**, and **book consultations (`calendarAgent`)**.\n\n## 2. Knowledge Source (CRITICAL)\n\n* Use **`technical_and_sales_knowledge` ONLY** to explain solar services, benefits, comparisons, warranties, and handle pricing (focus on value, no specific numbers).\n* **Do NOT use external info.** If something’s missing, ask the user or suggest a consultation. Never say “I don’t know.”\n\n## 3. Communication Rules (CRITICAL)\n\n* **Short & Conversational:** Max 160 characters per message. Keep it friendly.\n* **One Thought at a Time:** Give small chunks of info. Ask one question at a time.\n* **No Lists:** Avoid bullets or numbers.\n* **No Handoff Language.** Never say “Let me connect you.”\n\n## 4. Conversation Flow & Actions\n\n### State: INITIAL\n\n* **Goal:** Greet the user.\n* **Action:** Start with a simple hello like: “Hi! How can we help you?”\n* Only mention solar panels or consultations if the user brings it up first.\n* **Move to QUALIFYING when user shows interest.**\n\n### State: QUALIFYING\n\n* **Goal:** Understand the user's solar needs.\n* **Action:** Use `technical_and_sales_knowledge` to answer questions and explain solar options. Confirm if they want a consultation.\n* **Move to CONTACT\\_COLLECTION only after clear interest.**\n\n### State: CONTACT\\_COLLECTION\n\n* **WhatsApp Trigger:** **Skip this step** — you already have contact info.\n* **Other Triggers:**\n\n  * Ask for **First Name**.\n  * Then ask for **Email Address**.\n  * Save to memory (`contact.collectedInfo`).\n  * **Use `crmAgent` right after collecting info** to log the lead.\n  * **Move to SCHEDULING** after CRM step.\n\n### State: SCHEDULING\n\n* **Goal:** Book a consultation using `calendarAgent`.\n* **Requirements:** Name + Email must be saved and logged.\n* **Steps:**\n\n  * Ask for a preferred date and time.\n  * Use `calendarAgent` when you get a specific time.\n  * After booking, use `crmAgent` to update status to ‘Consultation Scheduled’.\n  * **Move to FOLLOW\\_UP.**\n\n### State: FOLLOW\\_UP\n\n* **Goal:** Confirm the booking details.\n* **Action:** Repeat date/time and let them know a calendar invite will go to their email.\n\n## 5. Response Examples\n\n* “Got it! A solar consultation could be a great step. Can I grab your first name to set it up?”\n* “Thanks, \\[Name]. Got your email. Let’s pick a time that works for your consultation. Any preferred day or time?”\n* “You’re set for Thursday at 3 PM. You’ll get a calendar invite to \\[Email]. Talk soon!”\n\n## 6. Memory Management\n\n```json\n{\n  \"contact\": {\n    \"verified\": false,\n    \"collectedInfo\": {\n      \"name\": \"\", \"email\": \"\", \"serviceInterest\": \"\", \"timingPreference\": \"\"\n    },\n    \"state\": \"CURRENT_STATE\",\n    \"lastStateChange\": \"timestamp\"\n  }\n}\n```\n\n## 7. Final Checks\n\n* Stick to the state flow.\n* Use `crmAgent` right after contact info is collected and again after booking.\n* Only use `calendarAgent` after all info is collected.\n* Adhere strictly to Communication Rules & Knowledge Source limits.\n\nIMPORTANT: Current date/time: {{ $now }}\nIMPORTANT: Trigger: {{ $json.trigger }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1136,
        112
      ],
      "id": "22f3905a-d62c-4b30-b955-51789c80b191",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1472,
        112
      ],
      "id": "ade148a2-c4d3-4cd8-8f2c-2eccf3c03fd3",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9df0a1da-742d-4ac6-b4f8-a76006c314db",
                    "leftValue": "={{ $('No Operation, do nothing').item.json.trigger }}",
                    "rightValue": "facebook",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "facebook"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "98550c9d-4266-4694-8d5a-a3972d6aad22",
                    "leftValue": "={{ $('No Operation, do nothing').item.json.trigger }}",
                    "rightValue": "instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "instagram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dd8bf574-3e33-42fb-9cb0-05f2482a039c",
                    "leftValue": "={{ $('No Operation, do nothing').item.json.trigger }}",
                    "rightValue": "chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Chat"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -352,
        96
      ],
      "id": "9fa4e2de-7e1c-4e7b-a993-2592eb2c327f",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26a3553a-f37b-4f46-9a84-3f1661a5d152",
              "name": "trigger",
              "value": "facebook",
              "type": "string"
            },
            {
              "id": "11ae4f49-44ec-4416-a8d2-49a15fdf1e63",
              "name": "text",
              "value": "={{ $json.body.entry[0].messaging[0].message.text }}",
              "type": "string"
            },
            {
              "id": "3cfa9c98-dca2-43e6-9d69-7a20f61772f6",
              "name": "sessionId",
              "value": "={{ $json.body.entry[0].messaging[0].sender.id }}",
              "type": "string"
            },
            {
              "id": "b103277f-d1ef-498f-9286-14b0b7718c5d",
              "name": "extraPrompt",
              "value": "This conversation took place on Facebook Messenger.\n\nIf user is interested in your service, you can send the lead form to user and ask filling in\n\nYour response must be less then 300 chars.",
              "type": "string"
            },
            {
              "id": "f8d11aca-c325-4d8c-9c67-ef9440756f05",
              "name": "channelId",
              "value": "={{ $json.body.entry[0].id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2112,
        640
      ],
      "id": "3a69ac1b-b60d-457b-aa37-eee795cb7aa5",
      "name": "Edit Fields - facebook"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2928,
        912
      ],
      "id": "0fc52e28-57bc-423a-baba-b50b65c5f6e7",
      "name": "Respond to Webhook - facebook get"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7dee1826-e2b5-44ea-9c0f-a0adb5bc740c",
              "leftValue": "={{ $json.body.entry[0].messaging[0].message?.is_echo }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2560,
        656
      ],
      "id": "b4937b85-31e5-4877-a348-ead3c8ee3a09",
      "name": "If is not echo - facebook"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v21.0",
        "node": "me",
        "edge": "messages",
        "options": {
          "queryParametersJson": "={\n  \"recipient\":{\n    \"id\":\"{{ $json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"sender_action\":\"typing_on\"\n}"
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -2272,
        400
      ],
      "id": "ed823e67-2ce0-4f22-bddd-6bb03b8f4b4f",
      "name": "Sales Agent Demo - typing_on"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "me",
        "edge": "messages",
        "options": {
          "queryParametersJson": "={\n  \"recipient\":{\n    \"id\":\"{{ $('No Operation, do nothing').item.json.sessionId }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\":{\n    \"text\":{{ JSON.stringify($json.output.substring(0,1000)) }}\n  }\n}"
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -96,
        16
      ],
      "id": "a4db2112-b5ff-4024-bbf2-71c7c5ccfedc",
      "name": "Facebook Graph API - Sales Agent Demo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v23.0/me/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\":{\n    \"id\":\"{{ $('No Operation, do nothing').item.json.sessionId }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\":{\n    \"text\":{{ JSON.stringify($json.output.substring(0,1000)) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        240
      ],
      "id": "9257bb92-289d-4d86-b8b2-56b6a20fc1cd",
      "name": "Instagram Graph API - smb.sales.agent.demo"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "\"EVENT_RECEIVED\"",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        -2960,
        672
      ],
      "id": "2d353c84-9a12-4440-8e69-aea34ae5a0f1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -3056,
        224
      ],
      "id": "a3b23169-791c-4c64-bb2d-0cac58f35cd2",
      "name": "Respond to Webhook - facebook get1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7dee1826-e2b5-44ea-9c0f-a0adb5bc740c",
              "leftValue": "={{ $json.body.entry[0].messaging[0].message?.is_echo }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2624,
        16
      ],
      "id": "d278a709-7388-4ccc-8ac8-e52071378ad0",
      "name": "If is not echo - facebook1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "\"EVENT_RECEIVED\"",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        -3056,
        16
      ],
      "id": "a9149507-bd3c-4e30-abe6-bee15817bd6d",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST",
          "GET"
        ],
        "path": "4e793afe-d472-4bcc-bd96-6c7f7968f78f",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3488,
        32
      ],
      "id": "5d5d0193-3aab-4bbf-bedd-817d24ce7cde",
      "name": "Instagram Trigger1",
      "webhookId": "4e793afe-d472-4bcc-bd96-6c7f7968f78f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26a3553a-f37b-4f46-9a84-3f1661a5d152",
              "name": "trigger",
              "value": "instagram",
              "type": "string"
            },
            {
              "id": "11ae4f49-44ec-4416-a8d2-49a15fdf1e63",
              "name": "text",
              "value": "={{ $json.body.entry[0].messaging[0].message.text }}",
              "type": "string"
            },
            {
              "id": "3cfa9c98-dca2-43e6-9d69-7a20f61772f6",
              "name": "sessionId",
              "value": "={{ $json.body.entry[0].messaging[0].sender.id }}",
              "type": "string"
            },
            {
              "id": "f128bfd3-f02e-4444-8556-39fadb07d08e",
              "name": "extraPrompt",
              "value": "This conversation took place on Instagram.\n\nYour response must be less then 500 chars.",
              "type": "string"
            },
            {
              "id": "679e091e-d9dd-4cc3-b5a1-97f3790e09d0",
              "name": "channelId",
              "value": "={{ $json.body.entry[0].id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2208,
        -16
      ],
      "id": "482286da-7ac1-4b9c-a9c0-1c154aff1caa",
      "name": "Edit Fields - instagram"
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST",
          "GET"
        ],
        "path": "21bd344e-64d1-4f96-8035-504a0ed141eb",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3312,
        704
      ],
      "id": "c544130f-47a4-4f73-a5a4-e5dcc3122b54",
      "name": "Facebook Trigger",
      "webhookId": "21bd344e-64d1-4f96-8035-504a0ed141eb"
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "1ca13cb7-ada4-4846-be5f-3abfa51298e2",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        -1216,
        944
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "8cTwctTGeEBOJeUq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "93eb4f9e-8da4-4892-a5ac-d3c9a5b34720",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -784,
        832
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "8cTwctTGeEBOJeUq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "calendarAgent",
        "description": "Use this tool to schedule a consultation appointment in the calendar. You must provide the attendee's email address and the proposed start time in ISO 8601 format. You can optionally provide the attendee's name and a summary.\n\n",
        "workflowId": {
          "__rl": true,
          "value": "TkHxvBI0iEyvD1P6",
          "mode": "list",
          "cachedResultName": "Calendar workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -624,
        368
      ],
      "id": "6c90c69f-955b-44fc-a8e8-ac490cbfbb46",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "name": "crmAgent",
        "description": "Call this tool to take any action from CRM",
        "workflowId": {
          "__rl": true,
          "value": "nu8l4lx88kpzTeoc",
          "mode": "list",
          "cachedResultName": "CRM workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -816,
        368
      ],
      "id": "8913f3cc-0987-4f74-b521-8530c068f07d",
      "name": "CRM Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -1056,
        368
      ],
      "id": "965ed6b7-3b87-4c75-91b7-de3637d7d4b3",
      "name": "Postgres Chat Memory"
    },
    {
      "parameters": {
        "name": "sales_technique_knowledge",
        "description": "Retrieve information about sales technique and company details",
        "topK": "=10"
      },
      "id": "f53a1f57-fd17-45d4-84f6-365daca8579b",
      "name": "sales_technique_knowledge",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        -960,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -1168,
        768
      ],
      "id": "00a15331-eafa-43d9-9e60-3e024c2c9ad5",
      "name": "Supabase vector store",
      "credentials": {
        "supabaseApi": {
          "id": "gz6bPMoznQqKSorL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        1040,
        -80
      ],
      "id": "3ae667bb-599e-4b21-9fdd-8fe9cbc9f634",
      "name": "Supabase Vector Store1"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1168,
        160
      ],
      "id": "2c372f59-34c0-408c-9b50-6a4fdb7f6d74",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1280,
        384
      ],
      "id": "be2f9fa3-77f1-42da-aef5-3888c2f6b0e2",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        544,
        -80
      ],
      "id": "27f96a9e-fbdf-4217-bb76-bb4dbbf27adc",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        960,
        192
      ],
      "id": "ce4e2123-a4f5-489d-b27c-c6085441d1c8",
      "name": "Embeddings OpenAI1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "84dc8840-97a0-47d4-8a18-0608a1b357ae",
              "name": "trigger",
              "value": "chat",
              "type": "string"
            },
            {
              "id": "9a46b726-e9aa-4cb5-8c1a-d6d38b920908",
              "name": "text",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "e2b7a6a0-2677-4b56-b037-f010efb6da46",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "bca35569-12c5-443e-8e08-c9f8718cd31a",
              "name": "extraPrompt",
              "value": "This conversation took place on Chatbox.\n\nYour response must be less then 1000 chars.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2400,
        -352
      ],
      "id": "1e480f6e-5e23-437b-a4a9-18155ec382ce",
      "name": "Edit Fields - chat"
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -2768,
        -352
      ],
      "id": "f4522087-555e-48ec-92fd-67055c0d9661",
      "name": "When chat message received",
      "webhookId": "ca938296-24cb-404d-97b6-32844923bedb",
      "alwaysOutputData": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1232,
        384
      ],
      "id": "bab95050-0e47-4c26-80cc-e0dd76bb3d3a",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "14yV_R8xYeQdzlIg6TuHwuMCswVdn_yrgFgBjK13BQ_Q",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        816,
        -80
      ],
      "id": "89e23adc-bbf2-470b-ba6c-b281f37b3b84",
      "name": "Google Drive4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        -1872
      ],
      "id": "7ab57de8-67ff-4744-abc9-08d75b852eb9",
      "name": "Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "An error occurred. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        -1664
      ],
      "id": "fcb3b2a5-60f1-4193-9db1-d33c69085289",
      "name": "Try Again"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"query\": \"string\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1232,
        -1728
      ],
      "id": "9450e6e5-1744-4740-9dd1-d9cfeaf02dd5",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "resource": "base",
        "operation": "getSchema",
        "base": {
          "__rl": true,
          "value": "appvmZEgd4Uoba2DU",
          "mode": "list",
          "cachedResultName": "Chatbot Records",
          "cachedResultUrl": "https://airtable.com/appvmZEgd4Uoba2DU"
        }
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        -336,
        -1328
      ],
      "id": "94d138e4-1016-426b-90d5-83bd8e8648ac",
      "name": "get_schema"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=\n=# CRM Management Assistant\n\n## Overview\nYou are a CRM assistant managing contacts and opportunities in Airtable. Your role is to ensure data consistency through proper schema validation and tool sequencing.\n\n## Handling Input Query for Contacts\n- Your primary input is the `query` string (e.g., \"Name, email@example.com, interested in Service\").\n- **If the query clearly contains contact Name and Email:**\n  1. **PARSE** the Name and Email directly from the `query` string.\n  2. **Immediately use the `upsert_contact` tool.** Provide the extracted details using the exact parameter names: `Name` and `Email`. Extract ONLY the relevant contact details for the tool.\n  3. Only use other tools (`list_records`, `create_opportunity`, etc.) if the `query` *explicitly* asks for searching, opportunity creation, or updates beyond simple contact info.\n\n## Intent Recognition for Opportunities\n- Recognize \"interest in X\", \"interested in X\" as triggers to create a new opportunity\n- When interest is mentioned but Status/Priority not specified, default to:\n  * Status: \"Qualification\"\n  * Priority: \"Medium\"\n  * Opportunity_Name: Include the interest subject (e.g., \"Ceramic Coating Interest\")\n\n## Parameter Formatting Rules\n- Always format Contact_ID for Primary_Contact as an array: [contactId]\n- For upsert_contact: Parse and extract \"Name\" and \"Email\" first\n- For create_opportunity: Ensure all required fields are populated\n\n## Schema Management\n\n### Initial Schema Loading\n- On first interaction in a conversation:\n  1. Call get_schema to retrieve table structures\n  2. Store schema in conversation memory\n  3. Use cached schema for all subsequent validations\n\n### Schema Validation Rules\n- Use cached schema from memory for validations\n- Only call get_schema if:\n  1. First interaction in conversation\n  2. Schema not found in memory\n  3. Explicit request to refresh schema\n\n## Tool Sequence and Usage\n\n### 1. get_schema\n**When to use:**\n- At conversation start\n- When schema validation needed\n- When schema memory expired\n\n**Purpose:**\n- Retrieve table IDs\n- Get valid field options\n- Validate data structure\n\n### 2. list_records (Search)\n**When to use:**\n- Before any update operation\n- When searching for contacts/opportunities\n- To verify record existence\n\n**Required parameters:**\n- table_ID (from schema)\n- searchTerm\n- dataFieldName (from schema)\n\n**Example flows:**\n```\n\"Find john@example.com\":\n1. Use schema to get Contacts table_ID & dataFieldName for email\n2. Search with email\n3. Return record ID if found\n\n\"Find opportunity ABC Corp\":\n1. Use schema to get Opportunities table_ID and dataFieldName for company name\n2. Search with company name\n3. Return record ID if found\n```\n\n### 3. upsert_contact\n**When to use:**\n- Use this **FIRST** if the input query provides Name and Email directly.\n- Search and create contact by email in one step.\n- When creating new contact\n- When updating contact details\n\n**Required parameters:**\n- id (for updates, from list_records; not required when creating new contact)\n- Name\n- Email\n- Phone (optional - create contact immediately if name and email have been provided)\n\n### 4. create_opportunity\n**When to use:**\n- After successful opportunity search OR after creating/finding a contact (`upsert_contact`) if the original query indicated an opportunity should be created.\n- For adding new opportunity\n\n**Required parameters:**\n- Opportunity_Name\n- Status (validate against schema)\n- Priority (validate against schema)\n- contact_id (from upsert_contact after new contact is created)\n\n\n### 5. update_opportunity\n**When to use:**\n- After successful opportunity search\n- When status or priority changes\n- For deal stage updates\n\n**Required parameters:**\n- id (from list_records)\n- Status (validate against schema)\n- Priority (validate against schema)\n\n\n## Operation Flows\n\n### 1. New Contact Creation (From simple query like \"Name, Email\")\n```\n1. Parse Name and Email from query.\n2. Call upsert_contact with Name and Email.\n3. Return new/updated record ID.\n```\n\n### 2. Opportunity Info Update\n```\n1. Validate schema in memory\n2. Search for opportunity using list_records\n3. Use update_opportunity to update status or priority\n4. Confirm change\n```\n\n### 3. Contact Update (If query specifies updating existing contact)\n```\n1. Search for existing contact using list_records (likely by email from query)\n2. Verify found record\n3. Use upsert_contact with record ID and updated fields from query\n4. Return updated record ID\n```\n\n### 4. New Opportunity Creation (If query asks to create opportunity)\n```\n1. Call get_schema if needed\n2. Use upsert_contact to find/create the relevant contact (extracting details from query). Get Contact_ID.\n3. Use create_opportunity with details from query and the Contact_ID.\n```\nOpportunity Status Mapping\nQualification -> Verified contact information\nMeeting Booked -> consultation or detailing services booking confirmed\n\n## Response Format\n\n### Success Case:\n```javascript\n{\n  \"action\": \"[search|create|update|upsert]\",\n  \"status\": \"success\",\n  \"data\": {\n    \"id\": \"[record_id]\",\n    \"type\": \"[contact|opportunity]\",\n    \"details\": { /* relevant fields */ },\n    \"contact_id\": \"[record_id]\" //for new contact creation only via upsert_contact\n  }\n}\n```\n\n### Error Case:\n```javascript\n{\n  \"status\": \"error\",\n  \"type\": \"[validation|not_found|schema_error|parse_error]\",\n  \"message\": \"Specific error details\",\n  \"validOptions\": [ /* if applicable */ ]\n}\n```\n\n## Error Handling\n\n1. Schema Validation:\n   - Check memory first\n   - Refresh schema if needed\n   - Return valid options\n\n2. Record Not Found:\n   - Suggest creation for contacts\n   - Request clarification for opportunities\n   - List required information\n\n3. Invalid Values:\n   - Show valid options from schema\n   - Explain validation failure\n   - Guide to correct format\n```"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1008,
        -1744
      ],
      "id": "a8836d09-7c44-4fae-8251-04ce523dea73",
      "name": "CRM Assistant",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appvmZEgd4Uoba2DU",
          "mode": "list",
          "cachedResultName": "Chatbot Records",
          "cachedResultUrl": "https://airtable.com/appvmZEgd4Uoba2DU"
        },
        "table": {
          "__rl": true,
          "value": "={{ $fromAI(\"table_ID\") }}",
          "mode": "id"
        },
        "filterByFormula": "=SEARCH(\"{{ $fromAI('searchTerm') }}\", {{ $fromAI('dataFieldName') }})",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        -480,
        -1328
      ],
      "id": "f8e72151-a143-4158-afdc-ef6d8e12474f",
      "name": "list_records"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.query }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1088,
        -1328
      ],
      "id": "c6480263-0c3c-49ee-b873-e08bb5e6a814",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appvmZEgd4Uoba2DU",
          "mode": "list",
          "cachedResultName": "Chatbot Records",
          "cachedResultUrl": "https://airtable.com/appvmZEgd4Uoba2DU"
        },
        "table": {
          "__rl": true,
          "value": "tblz9FwenJozEdJdJ",
          "mode": "list",
          "cachedResultName": "Opportunities",
          "cachedResultUrl": "https://airtable.com/appvmZEgd4Uoba2DU/tblz9FwenJozEdJdJ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Opportunity_Name": "={{ $fromAI('Opportunity_Name') }}",
            "Status": "={{ $fromAI('Status') }}",
            "Priority": "={{ $fromAI('Priority') }}",
            "Primary_Contact": "={{ [$fromAI('Contact_ID')] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Opportunity_Name",
              "displayName": "Opportunity_Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Primary_Contact",
              "displayName": "Primary_Contact",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachment Summary",
              "displayName": "Attachment Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        -192,
        -1344
      ],
      "id": "fa790abe-a631-4775-a559-bd3492a48973",
      "name": "create_opportunity"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appvmZEgd4Uoba2DU",
          "mode": "list",
          "cachedResultName": "Chatbot Records",
          "cachedResultUrl": "https://airtable.com/appvmZEgd4Uoba2DU"
        },
        "table": {
          "__rl": true,
          "value": "tbla24scNQszEptIC",
          "mode": "list",
          "cachedResultName": "Insta,Fb CRM",
          "cachedResultUrl": "https://airtable.com/appvmZEgd4Uoba2DU/tbla24scNQszEptIC"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $fromAI('id') }}",
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', `Name`, 'string') }}",
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', `Email`, 'string') }}",
            "Interested service": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Interested_service', `Interested service`, 'string') }}",
            "Phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone', `Phone`, 'string') }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Interested service",
              "displayName": "Interested service",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        -624,
        -1328
      ],
      "id": "dcf3d04a-df68-4587-b4d2-3197b29e03d7",
      "name": "update_opportunity"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appvmZEgd4Uoba2DU",
          "mode": "list",
          "cachedResultName": "Chatbot Records",
          "cachedResultUrl": "https://airtable.com/appvmZEgd4Uoba2DU"
        },
        "table": {
          "__rl": true,
          "value": "tbla24scNQszEptIC",
          "mode": "list",
          "cachedResultName": "Insta,Fb CRM",
          "cachedResultUrl": "https://airtable.com/appvmZEgd4Uoba2DU/tbla24scNQszEptIC"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', `Name of the prospect`, 'string') }}",
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', `Email address`, 'string') }}",
            "Phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone', `Phone Number`, 'string') }}",
            "Interested service": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Interested_service', `Interested services`, 'string') }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Interested service",
              "displayName": "Interested service",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        -896,
        -1328
      ],
      "id": "bf306379-ed1f-437d-ae82-84906ef9d443",
      "name": "create_contact"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appvmZEgd4Uoba2DU",
          "mode": "list",
          "cachedResultName": "Chatbot Records",
          "cachedResultUrl": "https://airtable.com/appvmZEgd4Uoba2DU"
        },
        "table": {
          "__rl": true,
          "value": "tbla24scNQszEptIC",
          "mode": "list",
          "cachedResultName": "Insta,Fb CRM",
          "cachedResultUrl": "https://airtable.com/appvmZEgd4Uoba2DU/tbla24scNQszEptIC"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
            "Phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone', ``, 'string') }}",
            "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id__using_to_match_', ``, 'string') }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Name and Org",
              "displayName": "Name and Org",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Account",
              "displayName": "Account",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Opportunities",
              "displayName": "Opportunities",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        -752,
        -1328
      ],
      "id": "2aba5bec-a8cc-4f94-af66-72c0a3dddc70",
      "name": "update_contact"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1280,
        -1328
      ],
      "id": "ba07ef4f-f9b3-476f-95cd-7d4bd5840eed",
      "name": "OpenAI Chat Model2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c2f302-03be-4464-a17a-d7cc481d6d44",
              "name": "=response",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "917cc60d-5eea-4da6-adee-cfee2eb00188",
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        -768
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "ankitraitalks@gmail.com",
          "mode": "id"
        },
        "start": "={{ $fromAI(\"eventStart\") }}",
        "end": "={{ $fromAI(\"eventEnd\") }}",
        "additionalFields": {
          "attendees": [
            "={{ $fromAI(\"eventAttendeeEmail\") }}"
          ],
          "summary": "={{ $fromAI(\"eventTitle\") }} with {{ $fromAI(\"eventAttendeeEmail\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        896,
        -224
      ],
      "id": "a7869144-0078-498d-8d34-25314f17ff3a",
      "name": "Create Event with Attendee"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "ankitraitalks@gmail.com",
          "mode": "id"
        },
        "start": "={{ $fromAI(\"eventStart\") }}",
        "end": "={{ $fromAI(\"eventEnd\") }}",
        "additionalFields": {
          "attendees": [],
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        736,
        -224
      ],
      "id": "d0441952-9389-48f3-a556-12222233333d",
      "name": "Create Event"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "=ankitraitalks@gmail.com",
          "mode": "id"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `the day before the date the user requested`, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `the day after the date the user requested`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        416,
        -224
      ],
      "id": "5bc31ff8-d0e2-424a-89cc-e3558eaf5ae4",
      "name": "Get Events"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "ankitraitalks@gmail.com",
          "mode": "id"
        },
        "eventId": "={{ $fromAI(\"eventID\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        256,
        -224
      ],
      "id": "2d44aa22-e22c-43cd-84a1-e32b80cf1b31",
      "name": "Delete Event"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "ankitraitalks@gmail.com",
          "mode": "id"
        },
        "eventId": "={{ $fromAI(\"eventID\") }}",
        "updateFields": {
          "end": "={{ $fromAI(\"endTime\") }}",
          "start": "={{ $fromAI(\"startTime\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        576,
        -224
      ],
      "id": "74eef159-a772-429d-aca0-94b09e70155c",
      "name": "Update Event"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ab380a2-a8d3-421c-ab4e-748ea8fb7904",
              "name": "response",
              "value": "Unable to perform task. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8151b1cb-7abc-4fd5-be32-5190c6fc9a75",
      "name": "Try Again1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        -560
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ $json.query }}",
        "options": {
          "systemMessage": "=# Calendar Assistant System\n\n## Core Profile\nYou are a calendar assistant managing events through creation, retrieval, and modifications. All events default to one hour duration if unspecified.\n\nCurrent Time Context: {{ $now }}\n\n## Tools & Operations\n\n### Creation Tools\n- \"Create Event with Attendee\"\n  → Use for events with participants\n  → Requires: eventStart, eventEnd, eventTitle, eventAttendeeEmail\n\n- \"Create Event\"\n  → Use for solo events\n  → Requires: eventStart, eventEnd, eventTitle\n\n### Management Tools\n- \"Get Events\"\n  → Required before any modification/deletion\n  → Parameters: dayBefore, dayAfter\n\n- \"Update Event\"\n  → Modify existing events (requires Get Events first)\n  → Parameters: eventID, startTime, endTime\n\n- \"Delete Event\"\n  → Remove events (requires Get Events first)\n  → Parameters: eventID\n\n## Key Rules\n- Always retrieve events before updating or deleting\n- Verify event details before modifications\n- Default to one-hour duration when unspecified\n\n\n\n"
        }
      },
      "id": "ecfd448b-bb0c-4683-8cde-f24300b888bb",
      "name": "Calendar Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        304,
        -640
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        -400
      ],
      "id": "510f63b2-11a0-45dd-89e9-5c65c4b3dafa",
      "name": "OpenAI Chat Model3"
    }
  ],
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive3": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Insta Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "YouTube1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube1": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intsa Publisher": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Intsa Publisher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Google Drive3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insta Container": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          },
          {
            "node": "LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Facebook Graph API - Sales Agent Demo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Instagram Graph API - smb.sales.agent.demo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields - facebook": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If is not echo - facebook": {
      "main": [
        [
          {
            "node": "Edit Fields - facebook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sales Agent Demo - typing_on",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "If is not echo - facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        [
          {
            "node": "If is not echo - facebook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Trigger1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook - facebook get1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If is not echo - facebook1": {
      "main": [
        [
          {
            "node": "Edit Fields - instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields - instagram": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Trigger": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook - facebook get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase vector store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "sales_technique_knowledge",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "sales_technique_knowledge": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CRM Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase vector store": {
      "ai_vectorStore": [
        [
          {
            "node": "sales_technique_knowledge",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Drive4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields - chat": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive4": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "CRM Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_schema": {
      "ai_tool": [
        [
          {
            "node": "CRM Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CRM Assistant": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "list_records": {
      "ai_tool": [
        [
          {
            "node": "CRM Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "CRM Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "create_opportunity": {
      "ai_tool": [
        [
          {
            "node": "CRM Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "update_opportunity": {
      "ai_tool": [
        [
          {
            "node": "CRM Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "create_contact": {
      "ai_tool": [
        [
          {
            "node": "CRM Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "update_contact": {
      "ai_tool": [
        [
          {
            "node": "CRM Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "CRM Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Event with Attendee": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent1": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Instagram Trigger1": [
      {
        "json": {
          "headers": {
            "host": "narwhal-credible-jaguar.ngrok-free.app",
            "user-agent": "facebookexternalua",
            "content-length": "393",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "content-type": "application/json",
            "instagram-api-version": "v23.0",
            "x-forwarded-for": "2a03:2880:10ff:9::",
            "x-forwarded-host": "narwhal-credible-jaguar.ngrok-free.app",
            "x-forwarded-proto": "https",
            "x-hub-signature": "sha1=cb626dbe3d173f72142eaa47fd84db9391d56771",
            "x-hub-signature-256": "sha256=49e72990f2f7d082f98c10d38eb8384f6bd6b68dfed4fb15d6db574ab10cedf0"
          },
          "params": {},
          "query": {},
          "body": {
            "object": "instagram",
            "entry": [
              {
                "time": 1751259112682,
                "id": "17841460144744883",
                "messaging": [
                  {
                    "sender": {
                      "id": "7165208810256109"
                    },
                    "recipient": {
                      "id": "17841460144744883"
                    },
                    "timestamp": 1751259112000,
                    "message": {
                      "mid": "aWdfZAG1faXRlbToxOklHTWVzc2FnZAUlEOjE3ODQxNDYwMTQ0NzQ0ODgzOjM0MDI4MjM2Njg0MTcxMDMwMTI0NDI3NjAxODc0MjA3NTMwMDI0NjozMjMwNTAyODY0NTgzMzAwNzM4MDk0Mjg3NDg3NTAwMjg4MAZDZD",
                      "text": "hi"
                    }
                  }
                ]
              }
            ]
          },
          "webhookUrl": "https://narwhal-credible-jaguar.ngrok-free.app/webhook/Insta-Trigger",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "a418c27d-cef7-425e-8ae6-f3f5e9d55a79",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-11-18T16:23:33.084Z",
      "updatedAt": "2025-11-18T16:23:33.084Z",
      "role": "workflow:owner",
      "workflowId": "sYq8uZco7Kz3pVRp",
      "projectId": "VDyoKZWt3i5eAZSO"
    }
  ],
  "tags": []
}