Backup_2025-10-24/Coaches (Lead Qualification System).json
{
  "createdAt": "2025-10-15T14:18:14.335Z",
  "updatedAt": "2025-10-23T18:44:51.000Z",
  "id": "DEl6UidMHYLE4FWa",
  "name": "Coaches (Lead Qualification System)",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1616,
        720
      ],
      "id": "b6969664-e55a-47b2-96c8-32afa5ac0d78",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Gq3qNdXZmlzVb7Jg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1328,
        736
      ],
      "id": "ca54e343-f2b9-4928-bd15-e21f431a0e3e",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "Gq3qNdXZmlzVb7Jg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4144,
        512
      ],
      "id": "163516dc-ecb4-4841-a382-c87b66b3b939",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "Gq3qNdXZmlzVb7Jg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2432,
        -336
      ],
      "id": "b35944f4-249a-43c3-b887-df5894df0f59",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "Gq3qNdXZmlzVb7Jg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2512,
        -176
      ],
      "id": "a8dadbf5-a3ec-4ec2-9538-ba007bc34de9",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32228572-1d66-4bc8-9d1d-0977a04f1a77",
              "name": "Source",
              "value": "Linkedin",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        -464
      ],
      "id": "110094b4-fcf2-41ac-9f77-ba97abb8b851",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        384,
        -224
      ],
      "id": "a92a3968-4ded-4656-a8ca-88161a311689",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "Gq3qNdXZmlzVb7Jg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        240,
        -464
      ],
      "id": "685529a9-dc27-4234-b0c7-438aed52ed95",
      "name": "Wait1",
      "webhookId": "276e07ca-2322-48b6-8e36-806c955f3128"
    },
    {
      "parameters": {
        "formTitle": "Coaches",
        "formDescription": "Submit your free consultation",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "requiredField": true
            },
            {
              "fieldLabel": "Message",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -2544,
        -976
      ],
      "id": "53a802a5-1a92-4af2-8b47-d98410fe6650",
      "name": "Website Signup or Webinar Signup",
      "webhookId": "4be5de2b-37e1-4104-949c-1f34b061df64"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04",
          "mode": "list",
          "cachedResultName": "Coaches",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Website Forms",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Gives full details').item.json.email }}",
            "Date": "={{ new Date().toLocaleDateString('en-IN', { timeZone: 'Asia/Kolkata' }) }}",
            "Name": "={{ $('Gives full details').item.json.name }}",
            "Message": "={{ $('Gives full details').item.json.initial_message }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Intent",
              "displayName": "Intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1360,
        -1104
      ],
      "id": "e149c39c-7b49-4e26-87d7-35f4a80ae1e9",
      "name": "Update Form Sheet ",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Complete onboarding Form",
        "message": "xx",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1136,
        -928
      ],
      "id": "d605ec02-3e59-4b3f-b972-c702e81576a6",
      "name": "Send a Onboarding Form",
      "webhookId": "600bc8ff-5535-4e15-8979-cb3026f666ec",
      "credentials": {
        "gmailOAuth2": {
          "id": "OEcIZm1duf4dQunn",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04",
          "mode": "list",
          "cachedResultName": "Coaches",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Website Forms",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Gives full details').item.json.name }}",
            "Email": "={{ $('Gives full details').item.json.email }}",
            "Message": "={{ $('Gives full details').item.json.initial_message }}",
            "Date": "={{ new Date().toLocaleDateString('en-IN', { timeZone: 'Asia/Kolkata' }) }}",
            "Status": "New"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Intent",
              "displayName": "Intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1328,
        -928
      ],
      "id": "c646dc01-2f1b-4a47-a811-a35bcc7f6ccd",
      "name": "Append Form Sheet ",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "323ad272-08e7-462f-9774-efe6946dfba0",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1600,
        -976
      ],
      "id": "b29c637a-d722-44c4-bfe7-ef4d3b579f16",
      "name": "If duplicates Found vs Not Found"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04",
          "mode": "list",
          "cachedResultName": "Coaches",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1840,
        -976
      ],
      "id": "1d3f7008-f615-42fd-bd75-27b2a84e0421",
      "name": "Check duplicates",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get input data\nconst items = $input.all();\nconst standardizedLeads = [];\n\nfor (const item of items) {\n  const data = item.json;\n\n  // Generate unique Lead ID\n  const leadId = `LEAD_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n\n  // Standardize data structure based on your form input\n  const standardizedLead = {\n    // Core Identity\n    lead_id: leadId,\n    source: data.form || 'unknown',\n    created_at: data.timestamp || $now || new Date().toISOString(),\n\n    // Contact Info\n    name: data.Name || 'Unknown',\n    email: data.Email || null,\n    phone: data.Phone || null,\n    contact_handle: data.Email || data.Phone || data.Name,\n\n    // Lead Details\n    initial_message: data.Message || '',\n    initial_message_length: (data.Message || '').length,\n\n    // Status & Scoring\n    status: 'new',\n    score: 0,\n    qualification_status: 'not_started',\n\n    // Tracking\n    last_contacted: null,\n    next_action: 'qualify',\n    interaction_count: 0,\n\n    // Metadata\n    utm_source: data.utm_source || null,\n    utm_campaign: data.utm_campaign || null,\n    referrer: data.referrer || null,\n\n    // Timestamps\n    last_updated: new Date().toISOString()\n  };\n\n  standardizedLeads.push({ json: standardizedLead });\n}\n\nreturn standardizedLeads;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2064,
        -976
      ],
      "id": "e86cd08f-5242-49ab-acc2-b8b5542f850c",
      "name": "Gives full details"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "includeSpamTrash": false,
          "q": "(coaching OR help OR \"i'm looking for\" OR problem)",
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -352,
        -1008
      ],
      "id": "b7a336e9-bd44-4d9e-b538-08281b0708ad",
      "name": "Check Email For Every Min",
      "credentials": {
        "gmailOAuth2": {
          "id": "UbWO1LFfZ6s8MzMA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a85ad17-6f3b-456e-80dc-aba54f58ce50",
              "name": "From",
              "value": "={{ $json.From }}",
              "type": "string"
            },
            {
              "id": "267ee287-3092-4ab7-9cdf-33a4ff840657",
              "name": "Subject",
              "value": "={{ $json.Subject }}",
              "type": "string"
            },
            {
              "id": "58add8d3-c439-4285-90c0-f33d338b9447",
              "name": "snippet",
              "value": "={{ $json.snippet }}",
              "type": "string"
            },
            {
              "id": "4f675811-6e3f-449d-beb0-bb520d271b04",
              "name": "={{ $json.id }}",
              "value": "=gmail",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        -1008
      ],
      "id": "3a66c798-1703-4498-8efe-905872e95a36",
      "name": "Edit Req Fields for Email"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8b3ce1dd-7bf9-4a69-ac98-e11ab5b5050a",
              "name": "Name",
              "value": "={{ $json.Name }}",
              "type": "string"
            },
            {
              "id": "167f58be-18af-4382-94b6-b7b8d73ad2a2",
              "name": "Email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "ad8b19a7-7438-4437-8e5a-81c0ae10f3a6",
              "name": "Message",
              "value": "={{ $json.Message }}",
              "type": "string"
            },
            {
              "id": "5eedc740-25c6-42c0-9c44-bd6aa4af4444",
              "name": "form",
              "value": "={{ $json.formMode }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2336,
        -976
      ],
      "id": "d8ca5554-d1cc-41fd-ae7e-027fa88ae48c",
      "name": "Edit Req Fields for Form"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ecf7415d-af76-4ac0-a6ab-bc247ebcdf83",
              "name": "From",
              "value": "={{ $json.From.match(/<([^>]+)>/) ? $json.From.match(/<([^>]+)>/)[1] : $json.From }}",
              "type": "string"
            },
            {
              "id": "31fa8d56-7e5d-4ac4-beb2-37249720a756",
              "name": "Subject",
              "value": "={{ $json.Subject }}",
              "type": "string"
            },
            {
              "id": "c4d4ba9b-b973-4550-9cba-65b61b5a236e",
              "name": "snippet",
              "value": "={{ $json.snippet }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        -1008
      ],
      "id": "31729643-0b05-4513-b708-73e44717d256",
      "name": "Edit Required Fields for next step"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04",
          "mode": "list",
          "cachedResultName": "Coaches",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1573018970,
          "mode": "list",
          "cachedResultName": "Gmail",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit#gid=1573018970"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "From",
              "lookupValue": "={{ $json.From }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        -1008
      ],
      "id": "08bb621c-c405-4232-b28b-4a566a544cce",
      "name": "Duplicates in Gmail sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04",
          "mode": "list",
          "cachedResultName": "Coaches",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1573018970,
          "mode": "list",
          "cachedResultName": "Gmail",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit#gid=1573018970"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "From": "={{ $('Edit Required Fields for next step').item.json.From }}",
            "Subject": "={{ $('Edit Required Fields for next step').item.json.Subject }}",
            "Date": "={{ new Date().toLocaleDateString('en-IN', { timeZone: 'Asia/Kolkata' }) }}",
            "Body": "={{ $('Edit Required Fields for next step').item.json.snippet }}"
          },
          "matchingColumns": [
            "From"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Body",
              "displayName": "Body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        880,
        -1104
      ],
      "id": "add64ed4-5d05-4718-8c30-30667b9dd25b",
      "name": "Update Gmail Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04",
          "mode": "list",
          "cachedResultName": "Coaches",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1573018970,
          "mode": "list",
          "cachedResultName": "Gmail",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit#gid=1573018970"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ new Date().toLocaleDateString('en-IN', { timeZone: 'Asia/Kolkata' }) }}",
            "From": "={{ $('Edit Required Fields for next step').item.json.From }}",
            "Subject": "={{ $('Edit Required Fields for next step').item.json.Subject }}",
            "Body": "={{ $('Edit Required Fields for next step').item.json.snippet }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Body",
              "displayName": "Body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        -896
      ],
      "id": "b304cf81-5ab7-44e8-b732-560a4a9089fa",
      "name": "Append Gmail Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST",
          "GET"
        ],
        "path": "Instagram-dm",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2848,
        -320
      ],
      "id": "80ee2a20-1aae-4a0d-8488-f730e7d1be69",
      "name": "Instagram DMs",
      "webhookId": "8f3ef1ea-5ba5-454b-a611-f0a53df234fd"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.entry[0].messaging[0].message.text }}",
        "options": {
          "systemMessage": "You are an AI message classifier.  \nYour task is to read the user's message and determine if it is related to:\n- Asking for help or support\n- Mentioning a problem, issue, or error\n- Asking for coaching, training, or guidance\n- Showing interest in buying, purchasing, or signing up for something\n\nIf any of the above applies, respond with: \"yes\"  \nIf it’s just greetings, small talk, or anything unrelated, respond with: \"no\"\n\nExamples:\n\"hi\" → no  \n\"hello\" → no  \n\"I need help with my automation\" → yes  \n\"Can you coach me on this?\" → yes  \n\"How can I buy your service?\" → yes  \n\"Just checking\" → no  \n\"thanks\" → no  \n\nOnly reply with **yes** or **no**, nothing else."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -2416,
        -496
      ],
      "id": "711d44ee-7f00-4257-8073-2bb803a0671e",
      "name": "Text checker"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e0debf8d-d285-4d18-8396-c896bb3ab17c",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "32228572-1d66-4bc8-9d1d-0977a04f1a77",
              "name": "Source",
              "value": "Instagram",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2096,
        -496
      ],
      "id": "99cf81f6-2c56-4638-a6dc-ea464bc9271d",
      "name": "Edit Req Fields - for insta"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04",
          "mode": "list",
          "cachedResultName": "Coaches",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 954419306,
          "mode": "list",
          "cachedResultName": "Instagram",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit#gid=954419306"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Sender ID",
              "lookupValue": "={{ $('Instagram DMs').item.json.body.entry[0].messaging[0].sender.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1632,
        -512
      ],
      "id": "6e1c7b8a-5ca8-406d-9ecb-1c862984ea93",
      "name": "Duplicates in Instagram Sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "323ad272-08e7-462f-9774-efe6946dfba0",
              "leftValue": "={{ $json.From }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        608,
        -1008
      ],
      "id": "9f4e24b2-f63c-4649-9e31-24765a8d7233",
      "name": "If duplicates Found vs Not Found - Instagram"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "323ad272-08e7-462f-9774-efe6946dfba0",
              "leftValue": "={{ $json['Sender ID'] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1376,
        -512
      ],
      "id": "5adf3338-79d2-4b07-b7b6-b56016355fa4",
      "name": "If duplicates Found vs Not Found - Instagram1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04",
          "mode": "list",
          "cachedResultName": "Coaches",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 954419306,
          "mode": "list",
          "cachedResultName": "Instagram",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit#gid=954419306"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sender ID": "={{ $('Instagram DMs').item.json.body.entry[0].messaging[0].sender.id }}",
            "Text": "={{ $('Instagram DMs').item.json.body.entry[0].messaging[0].message.text }}",
            "Date": "={{ new Date().toLocaleDateString('en-IN', { timeZone: 'Asia/Kolkata' }) }}"
          },
          "matchingColumns": [
            "Sender ID"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sender ID",
              "displayName": "Sender ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Text",
              "displayName": "Text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1152,
        -592
      ],
      "id": "608db06c-b94e-4e32-87d0-b4913d0ac612",
      "name": "Update Instagram Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04",
          "mode": "list",
          "cachedResultName": "Coaches",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 954419306,
          "mode": "list",
          "cachedResultName": "Instagram",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit#gid=954419306"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sender ID": "={{ $('Instagram DMs').item.json.body.entry[0].messaging[0].sender.id }}",
            "Text": "={{ $('Instagram DMs').item.json.body.entry[0].messaging[0].message.text }}",
            "Date": "={{ new Date().toLocaleDateString('en-IN', { timeZone: 'Asia/Kolkata' }) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sender ID",
              "displayName": "Sender ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Text",
              "displayName": "Text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1104,
        -336
      ],
      "id": "1c188b06-a3b8-4353-86c5-753985b26e24",
      "name": "Append Instagram Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v24.0/me/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer IGAANy9Ku2eeZABZAFFHQXQ0cTRYN2Y0NUVRUE5WTnRKSGxVRkJLdUoxbWk5VU52OXVFZAGpoSXBkWUNkTm9OY1BWdmQySG9kWTlIU2dEOHQyVFB4YjFUdkxacjdpaF9XRWMyb3ByTDBhT1RBd0pjYWpselZAvcHRWcmQzdnYtbUJkYwZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Instagram DMs').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"message\": {\n    \"text\": \"Thanks for your interest, Pls fill out this form\"\n  },\n  \"messaging_type\": \"RESPONSE\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -832,
        -336
      ],
      "id": "f8c4c6da-83cb-4755-8fb3-54533ac960c3",
      "name": "Send reply back in Instagram"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "085371f4-fb8c-4ed1-a697-92ebd9e53bdd",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -208,
        -464
      ],
      "id": "23cff4e6-3200-453d-ab71-c64242affdf1",
      "name": "Linkedin DM",
      "webhookId": "085371f4-fb8c-4ed1-a697-92ebd9e53bdd"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eb727470-16e7-43f4-9524-032d69df5e56",
              "name": "body.sender.attendee_name",
              "value": "={{ $json.body.sender.attendee_name }}",
              "type": "string"
            },
            {
              "id": "07f0795d-3ac1-42c2-b043-38cde86cf88f",
              "name": "body.sender.attendee_profile_url",
              "value": "={{ $json.body.sender.attendee_profile_url }}",
              "type": "string"
            },
            {
              "id": "f86e54a0-bfe0-47b5-a54b-562e066df588",
              "name": "body.message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -464
      ],
      "id": "dc822333-50cc-44e4-8fb3-5e99cb974193",
      "name": "Edit req fields from Linkedin dm"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are an AI message classifier.  \nYour task is to read the user's message and determine if it is related to:\n- Asking for help or support\n- Mentioning a problem, issue, or error\n- Asking for coaching, training, or guidance\n- Showing interest in buying, purchasing, or signing up for something\n\nIf any of the above applies, respond with: \"yes\"  \nIf it’s just greetings, small talk, or anything unrelated, respond with: \"no\"\n\nExamples:\n\"hi\" → no  \n\"hello\" → no  \n\"I need help with my automation\" → yes  \n\"Can you coach me on this?\" → yes  \n\"How can I buy your service?\" → yes  \n\"Just checking\" → no  \n\"thanks\" → no  \n\nOnly reply with **yes** or **no**, nothing else."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        480,
        -464
      ],
      "id": "68a2dc33-2226-49c9-8c69-dd4d5c3710e3",
      "name": "Text checker (linkedin)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ef8aac25-5a5a-4369-89b7-c4a5cd431143",
              "leftValue": "={{ $('Text checker (linkedin)').item.json.output }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        -464
      ],
      "id": "0e66069d-6329-467f-a6c0-e26cd5d93b28",
      "name": "If output yes only"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04",
          "mode": "list",
          "cachedResultName": "Coaches",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1989579242,
          "mode": "list",
          "cachedResultName": "Linkedin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit#gid=1989579242"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Linkedin URL",
              "lookupValue": "={{ $('Edit req fields from Linkedin dm').item.json.body.sender.attendee_profile_url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1328,
        -480
      ],
      "id": "20e91302-e381-4766-b0d7-2a4aa3d2dbc8",
      "name": "Check Duplicates - Linkedin URLs",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "323ad272-08e7-462f-9774-efe6946dfba0",
              "leftValue": "={{ $json['Linkedin URL'] }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1568,
        -480
      ],
      "id": "dedcf1d2-2d27-4290-99d8-c4495c4977b9",
      "name": "IF Duplicates found in Linkedin Sheet"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04",
          "mode": "list",
          "cachedResultName": "Coaches",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1989579242,
          "mode": "list",
          "cachedResultName": "Linkedin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit#gid=1989579242"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Linkedin URL": "={{ $json['Linkedin URL'] }}",
            "Date": "={{ new Date().toLocaleDateString('en-IN', { timeZone: 'Asia/Kolkata' }) }}",
            "Name": "={{ $('Linkedin DM').item.json.body.sender.attendee_name }}",
            "Message": "={{ $('Linkedin DM').item.json.body.message }}"
          },
          "matchingColumns": [
            "Linkedin URL"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Linkedin URL",
              "displayName": "Linkedin URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1920,
        -656
      ],
      "id": "373b5b3d-e358-4882-b7e6-ca620b2f7805",
      "name": "Update Linkedin Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04",
          "mode": "list",
          "cachedResultName": "Coaches",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1989579242,
          "mode": "list",
          "cachedResultName": "Linkedin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit#gid=1989579242"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Edit req fields from Linkedin dm').item.json.body.sender.attendee_name }}",
            "Message": "={{ $('Edit req fields from Linkedin dm').item.json.body.message }}",
            "Linkedin URL": "={{ $('Edit req fields from Linkedin dm').item.json.body.sender.attendee_profile_url }}",
            "Date": "={{ new Date().toLocaleDateString('en-IN', { timeZone: 'Asia/Kolkata' }) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Linkedin URL",
              "displayName": "Linkedin URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1840,
        -400
      ],
      "id": "19d19577-da16-4ef4-b5de-68a08354c63f",
      "name": "Append Linkedin Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api11.unipile.com:14165/api/v1/chats",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "FLN1AtGA.PRSPzFdcZQ83tNGweb8z5eSw768yH1cAM9rSHOtdoaY="
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "account_id",
              "value": "={{ $('Linkedin DM').item.json.body.account_id }}"
            },
            {
              "name": "text",
              "value": "Hey thanks for you message please fill out this form"
            },
            {
              "name": "attendees_ids",
              "value": "={{ $('Linkedin DM').item.json.body.attendees[0].attendee_provider_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2032,
        -400
      ],
      "id": "310b76d6-4f6d-4c60-a959-a5d4e0a1caee",
      "name": "Send reply back in Linkedin"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "34f71321-f40f-410a-b260-6f5c1ca39646",
              "leftValue": "={{ $json.output }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1872,
        -496
      ],
      "id": "ac8f0606-5243-4fd6-9c0f-5f57bed06878",
      "name": "IF"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "05cfe1ee-5847-4230-ba6c-de993b325837",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2032,
        512
      ],
      "id": "88313535-2bda-4bf5-adf5-e4912885673d",
      "name": "After Filling Onboarding Form",
      "webhookId": "05cfe1ee-5847-4230-ba6c-de993b325837"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "55038c71-ed88-44df-93b6-d9ced1c15917",
              "name": "body.name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "bb965d7e-edcc-4b2d-a4df-02339b476978",
              "name": "body.email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "900e0686-9340-43a0-91d9-d47d0c9b9075",
              "name": "body.phone",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "2cefa5da-267a-460a-8062-cd521e31d93e",
              "name": "body.problem",
              "value": "={{ $json.body.problem }}",
              "type": "string"
            },
            {
              "id": "09992b99-c092-4bb7-9e25-35e44c141cbf",
              "name": "body.goal",
              "value": "={{ $json.body.goal }}",
              "type": "string"
            },
            {
              "id": "037064f6-db29-422a-a399-c9fef0f05da3",
              "name": "body.budget",
              "value": "={{ $json.body.budget }}",
              "type": "string"
            },
            {
              "id": "4543abc4-ae84-47c4-b142-bfbab660ba16",
              "name": "body.timeline",
              "value": "={{ $json.body.timeline }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1808,
        512
      ],
      "id": "ce8c63c7-9f5c-4de1-a31f-62e75307555f",
      "name": "Edit all Required Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.problem }}, {{ $json.body.problem }} ,{{ $json.body.budget }}, {{ $json.body.timeline }}",
        "options": {
          "systemMessage": "=You are an expert Lead Qualification Analyst for a coaching business.\n\nYour job is to analyze incoming form submissions from potential leads and extract qualification signals that help determine how ready, capable, and serious the lead is.\n\nAnalyze the provided form data and respond ONLY with a JSON object in the following structure:\n\n{\n  \"pain_level\": <number 1-10>,\n  \"urgency_score\": <number 1-10>,\n  \"budget_signals\": <number 0-10>,\n  \"commitment_indicators\": <number 0-10>,\n  \"emotional_tone\": \"<positive/neutral/negative/desperate>\",\n  \"key_problem\": \"<one sentence summary>\",\n  \"urgency_keywords\": [\"<list of urgency words found>\"],\n  \"budget_keywords\": [\"<list of budget-related words>\"],\n  \"question_type\": \"<problem/pricing/availability/general>\",\n  \"response_recommendation\": \"<suggest_call/send_info/qualify_more/disqualify>\",\n  \"reasoning\": \"<brief explanation of scores>\"\n}\n\n**Input Fields to Analyze:**\n- Lead Name: {{ $json.body.name }}\n- Lead Email: {{ $json.body.email }}\n- Lead Phone: {{ $json.body.phone }}\n- Problem Description: {{ $json.body.problem }}\n- Goal / Desired Outcome: {{ $json.body.goal }}\n- Budget: {{ $json.body.budget }}\n- Timeline: {{ $json.body.timeline }}\n\n**Scoring Guidelines:**\n- Pain Level: How severe is their problem? (1 = minor annoyance, 10 = critical crisis)\n- Urgency Score: How soon do they need help? (1 = someday, 10 = RIGHT NOW)\n- Budget Signals: Mentions or selection of spending ability or readiness to invest (0 = no mention, 10 = ready to invest)\n- Commitment Indicators: Signs of action readiness (0 = unsure / just exploring, 10 = ready to start)\n- Emotional Tone: Identify tone as positive / neutral / negative / desperate.\n- Question Type: Categorize based on the nature of their message — problem, pricing, availability, or general.\n- Response Recommendation: Suggest the next best step — suggest_call, send_info, qualify_more, or disqualify.\n\n**Your Task:**\n1. Read the form fields carefully.\n2. Identify clear signals of pain, urgency, budget, and commitment.\n3. Infer emotional tone and intent from wording and goals.\n4. Output the structured JSON with accurate numeric values and a short reasoning.\n\n**Example Style:**\nInput Problem: “I’m struggling to get consistent coaching clients and need help fast.”\nOutput JSON:\n{\n  \"pain_level\": 8,\n  \"urgency_score\": 9,\n  \"budget_signals\": 6,\n  \"commitment_indicators\": 8,\n  \"emotional_tone\": \"desperate\",\n  \"key_problem\": \"Lead is struggling with inconsistent client acquisition.\",\n  \"urgency_keywords\": [\"need help fast\"],\n  \"budget_keywords\": [],\n  \"question_type\": \"problem\",\n  \"response_recommendation\": \"suggest_call\",\n  \"reasoning\": \"Strong emotional tone and urgency show immediate pain; likely ready to act if pricing fits.\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1616,
        512
      ],
      "id": "1e3d6763-2a56-41e2-b3ed-dc75958645ff",
      "name": "Lead Qualification"
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "attributes": {
          "attributes": [
            {
              "name": "pain_level",
              "description": "take out",
              "required": true
            },
            {
              "name": "urgency_score",
              "description": "take out",
              "required": true
            },
            {
              "name": "emotional_tone",
              "description": "take out",
              "required": true
            },
            {
              "name": "urgency_keywords",
              "description": "take out",
              "required": true
            },
            {
              "name": "budget_keywords",
              "description": "take out",
              "required": true
            },
            {
              "name": "question_type",
              "description": "take out",
              "required": true
            },
            {
              "name": "reasoning",
              "description": "take out",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -1280,
        512
      ],
      "id": "8b1e88d8-d7d3-4e4d-a88b-6c96e8c6380b",
      "name": "Extract data out"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04",
          "mode": "list",
          "cachedResultName": "Coaches",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1653587517,
          "mode": "list",
          "cachedResultName": "Onboarding Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit#gid=1653587517"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Edit all Required Fields').item.json.body.name }}",
            "Email": "={{ $('Edit all Required Fields').item.json.body.email }}",
            "number": "={{ $('Edit all Required Fields').item.json.body.phone.replace('+', '') }}",
            "pain": "={{ $json.output.pain_level }}",
            "score": "={{ $json.output.urgency_score }}",
            "timeline": "={{ $('Edit all Required Fields').item.json.body.timeline }}",
            "budget": "={{ $('Edit all Required Fields').item.json.body.budget }}",
            "Emotion": "={{ $json.output.emotional_tone }}",
            "problem": "={{ $('Edit all Required Fields').item.json.body.problem }}",
            "Date": "={{ new Date().toLocaleDateString('en-IN', { timeZone: 'Asia/Kolkata' }) }}",
            "reason": "={{ $json.output.reasoning }}",
            "Goal": "={{ $('Edit all Required Fields').item.json.body.goal }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pain",
              "displayName": "pain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timeline",
              "displayName": "timeline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "budget",
              "displayName": "budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Emotion",
              "displayName": "Emotion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Goal",
              "displayName": "Goal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "problem",
              "displayName": "problem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -896,
        512
      ],
      "id": "25e655b2-08e3-42df-9ffc-9b9e9f46b045",
      "name": "Append rows in onboarding form sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert lead qualification analyst for a coaching or consulting business. \nAnalyze a lead submission and classify it as \"hot\", \"warm\", \"cold\", or \"unqualified\" based on the details provided.\n\nRequired fields:\n- problem (main challenge the lead faces)\n- goal (what the lead wants to achieve)\n- budget (investment the lead is willing to make)\n- timeline (when they plan to start)\n- pain_level (1-10, severity of the problem)\n- urgency_score (1-10, how soon they need help)\n- emotional_tone (positive/neutral/negative/desperate)\n- urgency_keywords (list of urgency words)\n- budget_keywords (list of budget-related words)\n\nGuidelines for classification:\n1. Hot → high pain_level (7-10), high urgency_score (7-10), immediate/this_month timeline, clear budget.\n2. Warm → medium pain_level (4-6), medium urgency_score (4-6), near-future timeline, budget mentioned but flexible.\n3. Cold → low pain_level (1-3), low urgency_score (1-3), distant or uncertain timeline, minimal budget or unsure.\n4. Unqualified → irrelevant query, no budget, unrealistic goals, spam, or incomplete information.\n\nOutput strictly in JSON format:\n\n{\n  \"lead_status\": \"hot\" | \"warm\" | \"cold\" | \"unqualified\",\n  \"confidence\": <number 0-100>,\n  \"reasoning_summary\": \"<1-2 sentences explaining the decision>\"\n}\n\nExample Input:\n{\n  \"problem\": \"{{ $('Edit all Required Fields').item.json.body.problem }}\",\n  \"goal\": \"{{ $('Edit all Required Fields').item.json.body.goal }}\",\n  \"budget\": \"{{ $('Edit all Required Fields').item.json.body.budget }}\",\n  \"timeline\": \"{{ $('Edit all Required Fields').item.json.body.timeline }}\",\n  \"pain_level\": {{ $('Extract data out').item.json.output.pain_level }},\n  \"urgency_score\": {{ $('Extract data out').item.json.output.urgency_score }},\n  \"emotional_tone\": \"{{ $('Extract data out').item.json.output.emotional_tone }}\",\n  \"urgency_keywords\": [\"{{ $('Extract data out').item.json.output.urgency_keywords }}\"],\n  \"budget_keywords\": [\"{{ $('Extract data out').item.json.output.budget_keywords }}\"]\n}\n\nExpected Output:\n{\n  \"lead_status\": \"hot\",\n  \"confidence\": 95,\n  \"reasoning_summary\": \"High pain level, immediate timeline, and defined budget indicate a very serious lead ready for action.\"\n}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -656,
        512
      ],
      "id": "f6862c55-ee5c-4b6f-911d-996b2d158462",
      "name": "Generates hot, cold, warm",
      "credentials": {
        "googlePalmApi": {
          "id": "Gq3qNdXZmlzVb7Jg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Example input\nconst input = {\n  text: \"```json\\n{\\n  \\\"lead_status\\\": \\\"hot\\\",\\n  \\\"confidence\\\": 95,\\n  \\\"reasoning_summary\\\": \\\"High pain level, immediate timeline, and defined budget indicate a very serious lead ready for action.\\\"\\n}\\n```\"\n};\n\n// Remove ```json wrapper\nconst jsonString = input.text.replace(/```json\\s*|```/g, '').trim();\n\n// Parse JSON\nconst leadData = JSON.parse(jsonString);\n\n// Return as array of objects for n8n\nreturn [\n  {\n    json: {\n      lead_status: leadData.lead_status,\n      confidence: leadData.confidence,\n      reasoning_summary: leadData.reasoning_summary\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        512
      ],
      "id": "3c3084b9-8dad-41f1-97be-4857c5e5ef40",
      "name": "Filters score"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e09a510b-597c-46b5-a60f-bb129d702479",
                    "leftValue": "={{ $json.lead_status }}",
                    "rightValue": "unqualified",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "unqualified"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f3428ff3-e3bf-4519-b7e3-b26cc8fe9226",
                    "leftValue": "={{ $json.lead_status }}",
                    "rightValue": "=cold",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cold"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "da846f43-4674-4b04-bece-9862c077f037",
                    "leftValue": "={{ $json.lead_status }}",
                    "rightValue": "warm",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "warm"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.lead_status }}",
                    "rightValue": "hot",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c96bba68-e304-465f-96f8-9111597cb4ce"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "hot"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -32,
        688
      ],
      "id": "fc194de6-2275-4929-9e13-fd307f76fb88",
      "name": "Switch hot, cold , warm , unqualified"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "802657959596026",
        "recipientPhoneNumber": "={{ $('Append rows in onboarding form sheet').item.json.number }}",
        "textBody": "hi",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        752,
        192
      ],
      "id": "da69dd88-7cf2-408e-837a-84254e7f3085",
      "name": "Send a message (unqualified)",
      "webhookId": "be96be24-c04b-45ae-80f3-824ac452c089",
      "credentials": {
        "whatsAppApi": {
          "id": "ixk5U1dBT3xISilr",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "802657959596026",
        "recipientPhoneNumber": "={{ $('Append rows in onboarding form sheet').item.json.number }}",
        "textBody": "hi",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        816,
        560
      ],
      "id": "54897764-2dd5-40b2-a972-c9a6028c7820",
      "name": "Send a message ( warm)",
      "webhookId": "be96be24-c04b-45ae-80f3-824ac452c089",
      "credentials": {
        "whatsAppApi": {
          "id": "ixk5U1dBT3xISilr",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "802657959596026",
        "recipientPhoneNumber": "={{ $('Append rows in onboarding form sheet').item.json.number }}",
        "textBody": "hi",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        848,
        1040
      ],
      "id": "1fa860a7-fbe6-453e-a62d-946f4323c240",
      "name": "Send a message ( Cold)",
      "webhookId": "be96be24-c04b-45ae-80f3-824ac452c089",
      "credentials": {
        "whatsAppApi": {
          "id": "ixk5U1dBT3xISilr",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "802657959596026",
        "recipientPhoneNumber": "=918919053970",
        "textBody": "=Hey new Hot lead  \nName: {{ $('Edit all Required Fields').item.json.body.name }} \nEmail :{{ $('Edit all Required Fields').item.json.body.email }} \nphone:{{ $('Edit all Required Fields').item.json.body.phone }} \nproblem: {{ $('Edit all Required Fields').item.json.body.problem }} \nGoal:{{ $('Edit all Required Fields').item.json.body.goal }} \nBudget:{{ $('Edit all Required Fields').item.json.body.budget.replace(/_/g, ' ') }} \nTimeline:{{ $('Edit all Required Fields').item.json.body.timeline }} \nReason to qualify hot:{{ $('Extract data out').item.json.output.reasoning }}",
        "additionalFields": {
          "previewUrl": false
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -1776,
        1232
      ],
      "id": "4ed4dc72-5031-4d9b-a492-767d30edee5d",
      "name": "Send a Message Alert with Lead Details",
      "webhookId": "de8b93a6-55c9-476a-8963-66128e284a9f",
      "credentials": {
        "whatsAppApi": {
          "id": "ixk5U1dBT3xISilr",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4aa98d4b-fa50-48a0-9c6c-4ae3b05d00d5",
                    "leftValue": "={{ $('After Filling Onboarding Form').item.json.body.source }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b4ae81bc-6e68-49a8-9bcd-a73441a15708",
                    "leftValue": "={{ $('After Filling Onboarding Form').item.json.body.source }}",
                    "rightValue": "Gmail",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Gmail"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1600,
        1232
      ],
      "id": "2134d8c4-b874-43c5-bf1b-84fc0f321c5c",
      "name": "Send in Platforms"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "802657959596026",
        "recipientPhoneNumber": "={{ $('Append rows in onboarding form sheet').item.json.number }}",
        "textBody": "=Hey new Hot lead  \nName: {{ $('Edit all Required Fields').item.json.body.name }} \nEmail :{{ $('Edit all Required Fields').item.json.body.email }} \nphone:{{ $('Edit all Required Fields').item.json.body.phone }} \nproblem: {{ $('Edit all Required Fields').item.json.body.problem }} \nGoal:{{ $('Edit all Required Fields').item.json.body.goal }} \nBudget:{{ $('Edit all Required Fields').item.json.body.budget.replace(/_/g, ' ') }} \nTimeline:{{ $('Edit all Required Fields').item.json.body.timeline }} \nReason to qualify hot:{{ $('Extract data out').item.json.output.reasoning }}",
        "additionalFields": {
          "previewUrl": false
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -1296,
        1024
      ],
      "id": "a083f3c9-b1ae-4995-b11c-f7b8671db34a",
      "name": "Send Booking Link ( Whatsapp )",
      "webhookId": "de8b93a6-55c9-476a-8963-66128e284a9f",
      "credentials": {
        "whatsAppApi": {
          "id": "ixk5U1dBT3xISilr",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "new",
        "subject": "nw",
        "message": "new",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1296,
        1312
      ],
      "id": "788aad40-786b-4c7a-8a1b-976663a56cdb",
      "name": "Send Booking Link ( Gmail )",
      "webhookId": "63ce1cf6-9248-4b6f-813d-78c9a5502599",
      "credentials": {
        "gmailOAuth2": {
          "id": "OEcIZm1duf4dQunn",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1472,
        464
      ],
      "id": "cfa5e30f-1c48-401e-aa56-44450edc337e",
      "name": "Checks every 30min"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "vamsivk1465@gmail.com",
          "mode": "list",
          "cachedResultName": "vamsivk1465@gmail.com"
        },
        "returnAll": true,
        "timeMin": "={{ $now.toFormat(\"yyyy-MM-dd\") }}",
        "timeMax": "={{ $now.plus({ days: 3 }).toFormat(\"yyyy-MM-dd\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1664,
        464
      ],
      "id": "6231b38c-7254-4205-a98a-888a53d22b1b",
      "name": "Get All Meetings",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "g4VAMKMrPf3B63WZ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "id,, summary, start.dateTime, end.dateTime, attendees[0].email, attendees[1].email, description",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1856,
        464
      ],
      "id": "364c5aef-48fb-4ff5-a552-73314ac73a6f",
      "name": "Split out all Meetings"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb70f2da-d1f5-494e-9d94-b96ef7706aae",
              "name": "start.dateTime",
              "value": "={{ $json['start.dateTime'] }}",
              "type": "string"
            },
            {
              "id": "d6f678c9-3aef-4885-9387-c0997adc2e76",
              "name": "$now",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2064,
        464
      ],
      "id": "76c376b4-be1b-4697-8b42-6938a3c45d18",
      "name": "Edit start and end time"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2272,
        464
      ],
      "id": "b017bf22-a6da-432c-b93e-c5bed42eec48",
      "name": "Loop "
    },
    {
      "parameters": {
        "jsCode": "const outputItems = [];\n\nfor (const item of items) {\n    if (!item.json.start || !item.json.start.dateTime) continue;\n\n    // Convert startTime from ISO string\n    const startTime = new Date(item.json.start.dateTime);\n\n    // Convert current time from $now if available, otherwise use system time\n    const now = item.json.$now ? new Date(item.json.$now) : new Date();\n\n    // Calculate difference in hours\n    const diffHours = Math.round((startTime - now) / (1000 * 60 * 60));\n\n    outputItems.push({\n        json: {\n            eventId: item.json.id || null,\n            summary: item.json.summary || null,\n            hoursUntilStart: diffHours <= 0 ? \"0hr\" : (diffHours === 1 ? \"1hr\" : `${diffHours}hrs`)\n        }\n    });\n}\n\nreturn outputItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        480
      ],
      "id": "5ed38d8d-0381-499c-8e43-c994d6827210",
      "name": "Checks the time diff ",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d10833b8-63d8-4353-93e4-37a8c32c4e67",
              "name": "time",
              "value": "={{ $json.hoursUntilStart }}",
              "type": "string"
            },
            {
              "id": "2f669074-3ed7-4c3e-9c42-e7c02545db7f",
              "name": "summary",
              "value": "={{ $('Split out all Meetings').item.json.summary }}",
              "type": "string"
            },
            {
              "id": "e6a3ea7a-85b6-4e92-9168-6087f3587eea",
              "name": "['attendees[1].email']",
              "value": "={{ $('Split out all Meetings').item.json['attendees[1].email'] }}",
              "type": "string"
            },
            {
              "id": "a1f961b0-69ea-4507-8fec-dd831ee9dad3",
              "name": "start.dateTime",
              "value": "={{ new Date($('Split out all Meetings').item.json['start.dateTime']).toLocaleString('en-IN', { timeZone: 'Asia/Kolkata' }) }}",
              "type": "string"
            },
            {
              "id": "f8c6c483-49df-4d8a-8d7d-90da2a6ba5cd",
              "name": "creator.email",
              "value": "={{ $('Get All Meetings').item.json.creator.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2816,
        480
      ],
      "id": "549f997f-ab41-4c17-ae32-a174ae18880b",
      "name": "Edit required fields in calender"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.time }}",
                    "rightValue": "2hr",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6099b2d2-dab8-4f46-9def-2d5212842ca3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2hr"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1862f489-fcc6-4dbc-aaa4-ac70af544a75",
                    "leftValue": "={{ $json.time }}",
                    "rightValue": "6hr",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "6hr"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3cf1231d-d375-441c-95e5-ce09230cdc99",
                    "leftValue": "={{ $json.time }}",
                    "rightValue": "1hr",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1hr"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e22774b6-296f-4200-b071-20265266bf0a",
                    "leftValue": "={{ $json.isValid.toString() }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3472,
        464
      ],
      "id": "8397715e-7b29-4879-a191-8c7686c0c428",
      "name": "Switch btw hrs",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite-preview-06-17",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite-preview-06-17"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $('Edit required fields in calender').item.json.time }}, {{ $('Edit required fields in calender').item.json.summary }},{{ $('Edit required fields in calender').item.json['attendees[1].email'] }},{{ $('Edit required fields in calender').item.json.start.dateTime }}, {{ $('Edit required fields in calender').item.json.creator.email }}"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {
          "systemMessage": "=You are an AI assistant for professional scheduling and reminders.  \nYour task is to write concise, friendly, and exciting emails for booked meetings.  \n\nInputs:  \n- Attendee email: {{ $('Edit required fields in calender').item.json['attendees[1].email'] }}\n- Attendee name: (infer from email if possible, e.g., \"john.doe@gmail.com\" → \"John\")  \n- Meeting summary: {{ $('Edit required fields in calender').item.json.summary }}\n- Meeting date and time: {{ $('Edit required fields in calender').item.json.start.dateTime }}\n- Time until meeting:{{ $('Edit required fields in calender').item.json.time }}(e.g., \"2hrs\", \"3hrs\")  \n- Type of email: (confirmation or reminder)  \n- Organizer email: {{ $('Edit required fields in calender').item.json.creator.email }} (use this to refer to the organizer’s name professionally)\n\nRequirements:  \n1. If `emailType` is \"confirmation\", write a professional email acknowledging the booking. Include a friendly greeting, thank the attendee, mention the meeting date/time, and add an exciting note about looking forward to the discussion using the `hoursUntilStart` input.  \n2. If `emailType` is \"reminder\", write a friendly reminder 2 hours before the meeting. Include the meeting summary, date/time, and an enthusiastic note about speaking soon using `hoursUntilStart`.  \n3. Emails should be:  \n   - 3–5 sentences  \n   - Polite, professional, and exciting  \n   - Include a greeting using the attendee’s name  \n   - Include a professional sign-off using the organizer’s name  \n   - Use phrases like “I’m really looking forward to our conversation,” “can’t wait to discuss,” or “excited to connect.”  \n4. Output only the ready-to-send email text. No explanations.\n\nExample output (confirmation):  \n\"Dear John,  \nThank you for scheduling a meeting regarding 'Project Discussion'. Your meeting is confirmed for October 16th at 12:00 PM IST. I’m really looking forward to our conversation and can’t wait to dive into the discussion with you in just 2hrs!  \nBest regards,  \nJane Doe\"\n\nExample output (reminder):  \n\"Dear John,  \nThis is a friendly reminder of your upcoming meeting 'Project Discussion' scheduled for October 16th at 12:00 PM IST. I’m excited to connect with you in 2hrs and discuss everything in detail. Please let me know if you need to adjust the timing.  \nBest regards,  \nJane Doe\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        3824,
        336
      ],
      "id": "77f696be-13af-487b-81f3-a6889a3cb045",
      "name": "Send personalized message ( Email )",
      "credentials": {
        "googlePalmApi": {
          "id": "Gq3qNdXZmlzVb7Jg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.candidates[0].content.parts[0].text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Subject",
              "description": "Take subject out with clear idea",
              "required": true
            },
            {
              "name": "Body",
              "description": "Take out body with clear words",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        4144,
        336
      ],
      "id": "fa9f1ca0-e928-437a-acb7-69a226ccaa21",
      "name": "Extract Information out"
    },
    {
      "parameters": {
        "sendTo": "=vamsikrishna2536@gmail.com",
        "subject": "={{ $json.output.Subject }}",
        "emailType": "text",
        "message": "={{ $json.output.Body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4480,
        336
      ],
      "id": "59b81091-69a5-4400-b930-cde9d37cd032",
      "name": "Send a Booking email alert",
      "webhookId": "8bc0d4d6-8c1c-4bea-9f46-d46cb034971a",
      "credentials": {
        "gmailOAuth2": {
          "id": "UbWO1LFfZ6s8MzMA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite-preview-06-17",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite-preview-06-17"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an assistant for sending professional and friendly reminders or confirmations via WhatsApp or Telegram.  \nYour task is to write concise, engaging, and exciting messages for booked meetings.  \n\nInputs:  \n- Attendee email: {{ $('Edit required fields in calender').item.json['attendees[1].email'] }}\n- Attendee name: (infer from email if possible, e.g., \"john.doe@gmail.com\" → \"John\")  \n- Meeting summary: {{ $('Edit required fields in calender').item.json.summary }}\n- Meeting date and time: {{ $('Edit required fields in calender').item.json.start.dateTime }}\n- Time until meeting: {{ $('Edit required fields in calender').item.json.time }} (e.g., \"2hrs\", \"3hrs\")  \n- Type of message: (confirmation or reminder)  \n- Organizer email: {{ $('Edit required fields in calender').item.json.creator.email }} (use this to refer to the organizer’s name professionally)\n\nRequirements:  \n1. If `messageType` is \"confirmation\", write a short WhatsApp/Telegram message acknowledging the booking. Include:  \n   - Friendly greeting using the attendee’s name  \n   - Meeting summary and date/time  \n   - Exciting note using `time` (e.g., \"Looking forward to connecting with you in 2hrs!\")  \n   - Optional quick call-to-action if needed  \n2. If `messageType` is \"reminder\", write a concise reminder message 2 hours before the meeting. Include:  \n   - Meeting summary and date/time  \n   - Exciting, friendly note mentioning `time`  \n   - Optional note to reply if they need to reschedule  \n3. Messages should be:  \n   - Short and natural (1–3 sentences)  \n   - Friendly, professional, and enthusiastic  \n   - Easy to read on mobile chat  \n4. Output only the ready-to-send message text, no extra explanations.\n\nExample output (confirmation):  \n\"Hi John, thanks for scheduling a meeting about 'Project Discussion'. It's set for Oct 16th at 12:00 PM IST. Really excited to connect with you in just 2hrs!\"  \n\nExample output (reminder):  \n\"Hi John, a quick reminder about your 'Project Discussion' meeting at Oct 16th, 12:00 PM IST. Can't wait to talk with you in 2hrs!\"\n"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        3872,
        640
      ],
      "id": "c7e4e0ec-88fe-467d-8be8-ab348ddea202",
      "name": "Send personalized DM",
      "credentials": {
        "googlePalmApi": {
          "id": "Gq3qNdXZmlzVb7Jg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "23",
        "text": "HI",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4384,
        496
      ],
      "id": "fecd7ebd-6e6a-4795-9df4-fb779f4abc70",
      "name": "Send a remainder in Telegram",
      "webhookId": "0b182a8a-c988-4111-a16f-68a83bde7f1f",
      "credentials": {
        "telegramApi": {
          "id": "gwHBxrkrPXY0I5Fk",
          "name": "Normal"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "802657959596026",
        "recipientPhoneNumber": "+918919053970",
        "textBody": "Hello",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        4432,
        704
      ],
      "id": "17ac7b62-e807-442b-95ea-fc176c7a27c0",
      "name": "Send a remainder in Whatsapp",
      "webhookId": "ee19619e-9f28-459b-a7dc-5ab34fa53e53",
      "credentials": {
        "whatsAppApi": {
          "id": "ixk5U1dBT3xISilr",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite-preview-06-17",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2064,
        1200
      ],
      "id": "08ab78ec-c97f-40a9-b1eb-978f3eb906e5",
      "name": "Google Gemini Chat Model5",
      "credentials": {
        "googlePalmApi": {
          "id": "Gq3qNdXZmlzVb7Jg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.pain }}, {{ $json.score }} ,{{ $json.timeline }}, {{ $json.budget }}, {{ $json.Emotion }}, {{ $json.reason }} ,{{ $json.Goal }},{{ $json.problem }}",
        "options": {
          "systemMessage": "You are an AI assistant that prepares **actionable pre-call briefs for a coach**. You receive lead data in JSON format:\n\nPain: {{ $json.pain }}\nScore: {{ $json.score }}\nTimeline: {{ $json.timeline }}\nBudget: {{ $json.budget }}\nEmotion: {{ $json.Emotion }}\nReason: {{ $json.reason }}\nGoal: {{ $json.Goal }}\nProblem: {{ $json.problem }}\n\nYour task:\n1. Generate a **concise pre-call preparation checklist** for the coach.  \n2. Focus on **what the coach should learn, research, or prepare** before the call, including:  \n   - Key pain points to address  \n   - Urgency and timeline considerations  \n   - Budget constraints  \n   - Emotional state and mindset  \n   - Goals and desired outcomes  \n   - Specific problems to clarify or probe  \n   - Suggested questions to ask  \n   - Topics or solutions to be ready to discuss  \n3. Output should be **bullet points only**, actionable, and readable in under 15 seconds.  \n4. Avoid repeating raw JSON or long paragraphs. Use clear, directive language.  \n\n**Example output:**\n\n- Pain points: Understand lead’s high urgency issue and its impact  \n- Timeline: Prepare for immediate-action strategies  \n- Budget: Be ready to suggest solutions under 10k  \n- Emotion: Neutral, maintain professional and motivating tone  \n- Goal: Focus on helping lead achieve 10 new clients  \n- Problem: Clarify vague ‘having issue’ with targeted questions  \n- Questions: Ask about current challenges, past attempts, expected results  \n- Prep: Have 2-3 relevant strategies/examples ready, anticipate objections, plan call flow\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2176,
        992
      ],
      "id": "bae207d6-9249-47dc-ab79-045bd924f28b",
      "name": "Pre Call brief "
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d903978-6a1c-4aeb-a96b-e743a32cfeb9",
              "name": "attendees[1].email",
              "value": "={{ $('Get All Meetings').item.json.attendees[1].email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1696,
        992
      ],
      "id": "6f6105cb-28c2-461f-8cf7-fe39eda8e88c",
      "name": "Edit only Req Fields"
    },
    {
      "parameters": {
        "jsCode": "// Get time value from previous node\nconst time = $json.time?.toLowerCase()?.trim() || \"\";\n\n// Allowed time values\nconst validTimes = [\"1hr\", \"2hrs\", \"6hrs\"];\n\n// Check if matches\nconst isValid = validTimes.includes(time);\n\n// Return result\nreturn [{ time, isValid }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3024,
        480
      ],
      "id": "82ccfc80-2e34-45f5-a982-8781d67e48d2",
      "name": "Check true or false "
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04",
          "mode": "list",
          "cachedResultName": "Coaches",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1653587517,
          "mode": "list",
          "cachedResultName": "Onboarding Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit#gid=1653587517"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.attendees[1].email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1920,
        992
      ],
      "id": "1240a2b1-38fd-4eb0-9db8-7083da48a5c0",
      "name": "Get onboarding form details",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "recipientPhoneNumber": "918919053970",
        "textBody": "X",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2880,
        992
      ],
      "id": "d27d0a2d-ed3c-4af2-bacd-8433bc1a2d66",
      "name": "Send message",
      "webhookId": "05f1c468-d684-4f5e-a90e-43e0eb0c4167",
      "credentials": {
        "whatsAppApi": {
          "id": "ixk5U1dBT3xISilr",
          "name": "WhatsApp account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Website Form\n",
        "height": 432,
        "width": 2032
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2608,
        -1136
      ],
      "typeVersion": 1,
      "id": "4b6ac869-e553-4ba7-9b3d-cf2422abb35f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Gmail Responses",
        "height": 432,
        "width": 1728,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        -1152
      ],
      "typeVersion": 1,
      "id": "fc719203-fe0e-418c-92ad-b53a61e67aa8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Instagram DM\n",
        "height": 752,
        "width": 2464,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2912,
        -624
      ],
      "typeVersion": 1,
      "id": "066ffdd6-aad2-4d2e-b24c-b45604e1e424",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Linkedin DM",
        "height": 816,
        "width": 2592,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -336,
        -672
      ],
      "typeVersion": 1,
      "id": "4e2af47b-a5d1-4c7c-8566-23df5d986ff9",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Onboarding Form -> Qualify -> alerts and booking links",
        "height": 1312,
        "width": 3280
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2128,
        192
      ],
      "typeVersion": 1,
      "id": "479363cc-3276-4599-9cd8-8c1498e72261",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Meeting remainders with Pre Call Brief Description",
        "height": 1120,
        "width": 3536,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1296,
        224
      ],
      "typeVersion": 1,
      "id": "4521fc9c-a662-43d5-b241-61cc028ee4c7",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04",
          "mode": "list",
          "cachedResultName": "Coaches",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1653587517,
          "mode": "list",
          "cachedResultName": "Onboarding Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit#gid=1653587517"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Edit all Required Fields').item.json.body.email }}",
            "Lead Status": "={{ $json.lead_status }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pain",
              "displayName": "pain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "timeline",
              "displayName": "timeline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "budget",
              "displayName": "budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Emotion",
              "displayName": "Emotion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "problem",
              "displayName": "problem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2000,
        1232
      ],
      "id": "cbfeb44e-f0df-490c-90b3-e8134b815eb8",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04",
          "mode": "list",
          "cachedResultName": "Coaches",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1653587517,
          "mode": "list",
          "cachedResultName": "Onboarding Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit#gid=1653587517"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Edit all Required Fields').item.json.body.email }}",
            "Lead Status": "={{ $json.lead_status }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pain",
              "displayName": "pain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "timeline",
              "displayName": "timeline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "budget",
              "displayName": "budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Emotion",
              "displayName": "Emotion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "problem",
              "displayName": "problem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        336,
        512
      ],
      "id": "de0864e8-ec6f-4db6-a122-d2983eb1d5b9",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04",
          "mode": "list",
          "cachedResultName": "Coaches",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1653587517,
          "mode": "list",
          "cachedResultName": "Onboarding Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit#gid=1653587517"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Edit all Required Fields').item.json.body.email }}",
            "Lead Status": "={{ $json.lead_status }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pain",
              "displayName": "pain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "timeline",
              "displayName": "timeline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "budget",
              "displayName": "budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Emotion",
              "displayName": "Emotion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "problem",
              "displayName": "problem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        704
      ],
      "id": "cc374e4b-6207-4640-bd4c-4b6c0621ef5c",
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04",
          "mode": "list",
          "cachedResultName": "Coaches",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1653587517,
          "mode": "list",
          "cachedResultName": "Onboarding Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUNIvKOc2s6qmjwrMZLpuhgvvK_py2sXskapsOswS04/edit#gid=1653587517"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Edit all Required Fields').item.json.body.email }}",
            "Lead Status": "={{ $json.lead_status }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pain",
              "displayName": "pain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "timeline",
              "displayName": "timeline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "budget",
              "displayName": "budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Emotion",
              "displayName": "Emotion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "problem",
              "displayName": "problem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        368,
        944
      ],
      "id": "4d14b1bd-e381-4140-ad2a-599b76552ced",
      "name": "Update row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3MsYFPOz6gYs3lBk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "attributes": {
          "attributes": [
            {
              "name": "Pain points",
              "description": "get this out",
              "required": true
            },
            {
              "name": "Timeline",
              "description": "get this out",
              "required": true
            },
            {
              "name": "Budget",
              "description": "get this out",
              "required": true
            },
            {
              "name": "Emotion",
              "description": "get this out",
              "required": true
            },
            {
              "name": "Goal",
              "description": "get this out",
              "required": true
            },
            {
              "name": "Problem",
              "description": "get this out",
              "required": true
            },
            {
              "name": "Questions",
              "description": "get this out",
              "required": true
            },
            {
              "name": "Prep",
              "description": "get this out",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        2528,
        992
      ],
      "id": "53b12bda-8354-4c63-afd8-b1b85666d6fb",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2448,
        1200
      ],
      "id": "065eeae4-cc31-48ce-8e71-4418c39719c4",
      "name": "Google Gemini Chat Model6",
      "credentials": {
        "googlePalmApi": {
          "id": "Gq3qNdXZmlzVb7Jg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        784,
        352
      ],
      "id": "ae6b056e-d603-4190-9529-72b99952c886",
      "name": "Send a message",
      "webhookId": "025cb3fe-5639-4f7a-9537-b9a16035b62b",
      "credentials": {
        "gmailOAuth2": {
          "id": "OEcIZm1duf4dQunn",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        832,
        816
      ],
      "id": "0d839255-ddbf-40d1-889c-47ddf9ad1e84",
      "name": "Send a message1",
      "webhookId": "025cb3fe-5639-4f7a-9537-b9a16035b62b",
      "credentials": {
        "gmailOAuth2": {
          "id": "OEcIZm1duf4dQunn",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        864,
        1248
      ],
      "id": "936db9fb-8830-4ece-b85e-650e216423c8",
      "name": "Send a message2",
      "webhookId": "025cb3fe-5639-4f7a-9537-b9a16035b62b",
      "credentials": {
        "gmailOAuth2": {
          "id": "OEcIZm1duf4dQunn",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Lead Qualification",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Extract data out",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Information out",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text checker",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "If output yes only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Text checker (linkedin)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Text checker (linkedin)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website Signup or Webinar Signup": {
      "main": [
        [
          {
            "node": "Edit Req Fields for Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Form Sheet ": {
      "main": [
        [
          {
            "node": "Send a Onboarding Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If duplicates Found vs Not Found": {
      "main": [
        [
          {
            "node": "Update Form Sheet ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append Form Sheet ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check duplicates": {
      "main": [
        [
          {
            "node": "If duplicates Found vs Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gives full details": {
      "main": [
        [
          {
            "node": "Check duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Email For Every Min": {
      "main": [
        [
          {
            "node": "Edit Req Fields for Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Req Fields for Email": {
      "main": [
        [
          {
            "node": "Edit Required Fields for next step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Req Fields for Form": {
      "main": [
        [
          {
            "node": "Gives full details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Required Fields for next step": {
      "main": [
        [
          {
            "node": "Duplicates in Gmail sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duplicates in Gmail sheet": {
      "main": [
        [
          {
            "node": "If duplicates Found vs Not Found - Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Gmail Sheet": {
      "main": [
        []
      ]
    },
    "Instagram DMs": {
      "main": [
        [
          {
            "node": "Text checker",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text checker": {
      "main": [
        [
          {
            "node": "Edit Req Fields - for insta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Req Fields - for insta": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duplicates in Instagram Sheet": {
      "main": [
        [
          {
            "node": "If duplicates Found vs Not Found - Instagram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If duplicates Found vs Not Found - Instagram": {
      "main": [
        [
          {
            "node": "Update Gmail Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append Gmail Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If duplicates Found vs Not Found - Instagram1": {
      "main": [
        [
          {
            "node": "Update Instagram Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append Instagram Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Instagram Sheet": {
      "main": [
        [
          {
            "node": "Send reply back in Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send reply back in Instagram": {
      "main": [
        []
      ]
    },
    "Linkedin DM": {
      "main": [
        [
          {
            "node": "Edit req fields from Linkedin dm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit req fields from Linkedin dm": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text checker (linkedin)": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If output yes only": {
      "main": [
        [
          {
            "node": "Check Duplicates - Linkedin URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicates - Linkedin URLs": {
      "main": [
        [
          {
            "node": "IF Duplicates found in Linkedin Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Duplicates found in Linkedin Sheet": {
      "main": [
        [
          {
            "node": "Update Linkedin Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append Linkedin Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Linkedin Sheet": {
      "main": [
        [
          {
            "node": "Send reply back in Linkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Duplicates in Instagram Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "After Filling Onboarding Form": {
      "main": [
        [
          {
            "node": "Edit all Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit all Required Fields": {
      "main": [
        [
          {
            "node": "Lead Qualification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Qualification": {
      "main": [
        [
          {
            "node": "Extract data out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract data out": {
      "main": [
        [
          {
            "node": "Append rows in onboarding form sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append rows in onboarding form sheet": {
      "main": [
        [
          {
            "node": "Generates hot, cold, warm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generates hot, cold, warm": {
      "main": [
        [
          {
            "node": "Filters score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filters score": {
      "main": [
        [
          {
            "node": "Switch hot, cold , warm , unqualified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch hot, cold , warm , unqualified": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a Message Alert with Lead Details": {
      "main": [
        [
          {
            "node": "Send in Platforms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send in Platforms": {
      "main": [
        [
          {
            "node": "Send Booking Link ( Whatsapp )",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Booking Link ( Gmail )",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checks every 30min": {
      "main": [
        [
          {
            "node": "Get All Meetings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Meetings": {
      "main": [
        [
          {
            "node": "Split out all Meetings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split out all Meetings": {
      "main": [
        [
          {
            "node": "Edit start and end time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit start and end time": {
      "main": [
        [
          {
            "node": "Loop ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop ": {
      "main": [
        [],
        [
          {
            "node": "Checks the time diff ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checks the time diff ": {
      "main": [
        [
          {
            "node": "Edit required fields in calender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit required fields in calender": {
      "main": [
        [
          {
            "node": "Check true or false ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch btw hrs": {
      "main": [
        [
          {
            "node": "Send personalized message ( Email )",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send personalized DM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send personalized message ( Email )",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send personalized DM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop ",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit only Req Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send personalized message ( Email )": {
      "main": [
        [
          {
            "node": "Extract Information out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Information out": {
      "main": [
        [
          {
            "node": "Send a Booking email alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send personalized DM": {
      "main": [
        [
          {
            "node": "Send a remainder in Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a remainder in Whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Pre Call brief ",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check true or false ": {
      "main": [
        [
          {
            "node": "Switch btw hrs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit only Req Fields": {
      "main": [
        [
          {
            "node": "Get onboarding form details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get onboarding form details": {
      "main": [
        [
          {
            "node": "Pre Call brief ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre Call brief ": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send a Message Alert with Lead Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Send a message (unqualified)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet2": {
      "main": [
        [
          {
            "node": "Send a message ( warm)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet3": {
      "main": [
        [
          {
            "node": "Send a message ( Cold)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Instagram DMs": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv1011051.hstgr.cloud",
            "user-agent": "facebookexternalua",
            "content-length": "414",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "content-type": "application/json",
            "instagram-api-version": "v24.0",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n.srv1011051.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "91aa74ac8129",
            "x-hub-signature": "sha1=a33628ff9f89da0f522ecc43fd639c0cad706830",
            "x-hub-signature-256": "sha256=e9092d9963fd238ad46074241a3ea3106f7b30cbe63a04da20ad508e395e4e07",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "object": "instagram",
            "entry": [
              {
                "time": 1760891281314,
                "id": "17841467996117515",
                "messaging": [
                  {
                    "sender": {
                      "id": "785204224427426"
                    },
                    "recipient": {
                      "id": "17841467996117515"
                    },
                    "timestamp": 1760891280998,
                    "message": {
                      "mid": "aWdfZAG1faXRlbToxOklHTWVzc2FnZAUlEOjE3ODQxNDY3OTk2MTE3NTE1OjM0MDI4MjM2Njg0MTcxMDMwMTI0NDI1OTY2MzAwMzQ3OTY4MzQ3NTozMjQ4MjcxMDgwMjIwMDMyOTczNDIxMzAzNTQ4Mzk4Nzk2OAZDZD",
                      "text": "I m looking for coaching"
                    }
                  }
                ]
              }
            ]
          },
          "webhookUrl": "https://n8n.srv1011051.hstgr.cloud/webhook-test/Instagram-dm",
          "executionMode": "test"
        }
      }
    ],
    "Linkedin DM": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv1011051.hstgr.cloud",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 12_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Safari/537.36",
            "content-length": "1226",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US",
            "content-type": "application/json",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Not.A/Brand\";v=\"99\", \"Chromium\";v=\"136\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Linux\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "51.159.110.129",
            "x-forwarded-host": "n8n.srv1011051.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "91aa74ac8129",
            "x-real-ip": "51.159.110.129"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "message_received",
            "account_id": "n5hqxkN3S4Cp6iop5CDPCg",
            "account_type": "LINKEDIN",
            "account_info": {
              "type": "LINKEDIN",
              "feature": "classic",
              "user_id": "ACoAAF6mS4gBFvo_nIYPRUS3l0w7CovUo3dLRrs"
            },
            "webhook_name": "n8n",
            "chat_id": "3vv9DkkKU_mp8QBQwPbk2w",
            "attendees": [
              {
                "attendee_id": "RUpz-sIIWhGJ9NLkKAvD7g",
                "attendee_provider_id": "ACoAAEdKhdYBtl0iugQy3sHdWvWgxGZ5HNBGgyU",
                "attendee_name": "Vadla Vamsi Krishna",
                "attendee_profile_url": "https://www.linkedin.com/in/ACoAAEdKhdYBtl0iugQy3sHdWvWgxGZ5HNBGgyU"
              }
            ],
            "sender": {
              "attendee_id": "RUpz-sIIWhGJ9NLkKAvD7g",
              "attendee_provider_id": "ACoAAEdKhdYBtl0iugQy3sHdWvWgxGZ5HNBGgyU",
              "attendee_name": "Vadla Vamsi Krishna",
              "attendee_profile_url": "https://www.linkedin.com/in/ACoAAEdKhdYBtl0iugQy3sHdWvWgxGZ5HNBGgyU"
            },
            "subject": null,
            "message": "Hey I need coaching",
            "message_id": "mGiARCo3WnOHnXyr4V48mw",
            "timestamp": "2025-10-19T19:15:33.800Z",
            "attachments": [],
            "provider_chat_id": "2-YWUyNDg5Y2EtMzc0YS00ODJjLWEzZWUtMGFlMzhmZjU3N2RmXzEwMA==",
            "provider_message_id": "2-MTc2MDkwMTMzMzgwMGIxOTY1OC0xMDAmYWUyNDg5Y2EtMzc0YS00ODJjLWEzZWUtMGFlMzhmZjU3N2RmXzEwMA==",
            "is_event": 0,
            "quoted": null,
            "chat_content_type": null,
            "message_type": "MESSAGE",
            "is_group": false,
            "folder": [
              "INBOX",
              "INBOX_LINKEDIN_CLASSIC"
            ]
          },
          "webhookUrl": "https://n8n.srv1011051.hstgr.cloud/webhook-test/085371f4-fb8c-4ed1-a697-92ebd9e53bdd",
          "executionMode": "test"
        }
      }
    ],
    "After Filling Onboarding Form": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv1011051.hstgr.cloud",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36",
            "content-length": "896",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "content-type": "multipart/form-data; boundary=----WebKitFormBoundarydsT0DHbMB3IGNMA4",
            "dnt": "1",
            "origin": "http://127.0.0.1:5500",
            "priority": "u=1, i",
            "referer": "http://127.0.0.1:5500/",
            "sec-ch-ua": "\"Google Chrome\";v=\"141\", \"Not?A_Brand\";v=\"8\", \"Chromium\";v=\"141\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "152.59.202.31",
            "x-forwarded-host": "n8n.srv1011051.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "91aa74ac8129",
            "x-real-ip": "152.59.202.31"
          },
          "params": {},
          "query": {},
          "body": {
            "name": "Hi",
            "email": "vamsi@gmail.com",
            "phone": "+880 98543212",
            "problem": "Hello i m having issue",
            "goal": "Get 10 new clients",
            "budget": "below_10k",
            "timeline": "immediately",
            "source": "coach_onboarding_form"
          },
          "webhookUrl": "https://n8n.srv1011051.hstgr.cloud/webhook-test/05cfe1ee-5847-4230-ba6c-de993b325837",
          "executionMode": "test"
        }
      }
    ],
    "Edit only Req Fields": [
      {
        "json": {
          "attendees": [
            null,
            {
              "email": "vamsi@gmail.com"
            }
          ]
        }
      }
    ],
    "Get onboarding form details": [
      {
        "json": {
          "row_number": 2,
          "Date": "23/10/2025",
          "Name": "Hi",
          "Email": "vamsi@gmail.com",
          "number": "880 98543212",
          "pain": 7,
          "score": 10,
          "timeline": "immediately",
          "budget": "below_10k",
          "Emotion": "neutral",
          "reason": "High urgency with a specific desired outcome (10 new clients) and a stated budget indicates the lead is ready to take action. A direct call is recommended to understand the vague 'having issue' further.",
          "Goal": "Get 10 new clients",
          "problem": "Hello i m having issue",
          "Lead Status": "hot"
        }
      }
    ]
  },
  "versionId": "c2d1fe3b-33a7-4105-b54f-f31bdf097b67",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-15T14:18:14.338Z",
      "updatedAt": "2025-10-15T14:18:14.338Z",
      "role": "workflow:owner",
      "workflowId": "DEl6UidMHYLE4FWa",
      "projectId": "VDyoKZWt3i5eAZSO"
    }
  ],
  "tags": []
}